@charset "utf-8";

/* F O N T   F A C E */
@font-face{font-family: 'WebRupee';src: url('WebRupee.V2.0.eot');src: local('WebRupee'), url('WebRupee.V2.0.ttf') format('truetype'),  url('WebRupee.V2.0.woff') format('woff'), url('WebRupee.V2.0.svg') format('svg'); font-weight:normal; font-style:normal;}
.WebRupee {font-family:'WebRupee';}
html>body .WebRupee {margin-right:2px;}
html>body .WebRupee {*margin-right:0;} 
.WebRupee {margin-top: 15px;
    padding-bottom: 10px;
}
