.slidercontainer {
  max-width: 885px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.slidercontainer div {
  width: 100%;
  display: inline-block;
  display: none;
}
.slidercontainer img {
   height: 310px;
    width: 885px;
}

button {
  position: absolute;
}

.next {
  	
 	background:url(../ImageSlider/images/slider-arrows.png)no-repeat scroll -37px 0 rgba(0, 0, 0, 0);
    color: #fff;
    top: 45%;
	right:50px;
	width:37px;
	height:40px;
	  border: medium none;
}

.prev {
	background:url(../ImageSlider/images/slider-arrows.png)no-repeat scroll 0px 0 rgba(0, 0, 0, 0);
    color: #fff;
     left:50px;
    top:45%;
	width:37px;
	height:40px;
	  border: medium none;
}
.buttonnextprev {
    
    font-size: 1em;
    margin: 1em auto 0;
    max-width: 100%;
    padding: 1em;
    position: relative;
}
.meshow {
	display:block;
}
.mehide {
	display:none;
}