/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }
#page-wrap { width: 500px; margin: 0 auto; position: relative; }
p { margin: 0 0 15px 0; }
h1 { margin: 5px 0; }
#footer { height: 100px; color: white; text-align: center; background: #2f2626; width: 100%; }