body{
	margin:0px;
	padding:0px;
	background-color:#fff;
	text-align:center;
	list-style:none;
}
ul,li{
	list-style:none;
	list-style-image:none;
	 outline: none;
  border: none; 
}
	
a img {outline : none;
text-decoration:none;}
img {border : 0;}
.container{
	width:auto;
	height:100%;
	background-color:#fff;
	text-align:center;
	 margin: 0 auto;
}
.main{
	height:382px;
	}	
.top_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
	 position: fixed;
}
.header{
	  background-color: #4A484B;
    height: 72px;
    margin-top: 3px;
    position: fixed;
    width: 100%;
	
	
}
.header_inner{
	width:1024px;
	margin:0 auto ;
	padding-top:10px;
}
.search-bar{
	  margin: 0 auto;
    text-align: center;
    top: 0;
    width: 450px;
}
#tfheader input img{
  border: 0 none;
    height: 38px;
    margin-left: -4px;
    margin-top: 0;
}
#tfheader{
	margin: 10px auto 0;
    width:450px;
	}
	#tfnewsearch{
		float:right;
		padding:0px;
	}
	.tftextinput2{
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0px 0 0;
    padding: 0px 2px;
    width: 392px;
	float:left;
	}
	.tfbutton2 {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-right-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    margin: 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: right;
    text-decoration: none;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.main_menu ul {
		color:#ccc !important;
	
	}
.main_menu li{
	 color: #CCCCCC;
    float: left;
    margin-left: 0px;
    margin-top: -10px;
    text-align: center;
    width: auto;
	}
	.main_menu li span{
	
    margin-top: -10px;
    text-align: center;
    width: auto;
	}
.main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.logo{
	background-image: url("../images/kyclogo.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin: 0 auto;
    width: 128px;
}
.mainmenu{
    display: inline;
    float: right;
    height: 57px;
      margin-top: -57px;
    text-align: center;
    width:310px;
}

.rightside{
	 float: right;
    width:auto;
      margin-right: 450px;
      margin-top:20px;
}
.topmenutext{
  margin-top:50px;
}
ul.main_menu li a {
    display: inline-block;
    height: 57px;
    transition: all 0.3s ease-out 0s;
    width: 90px;
}
 a.individual{background:url(../images/home_main_menu.jpg) 0 0 no-repeat;}
 a.individual:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat 0px 0px; transform:background (ease-out 3s);}
 a.corporate{background:url(../images/home_main_menu.jpg) no-repeat -91px 0;}
a.corporate:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -91px 0px; transform: rotate(ease-out 3s);}
a.utiliser{background:url(../images/home_main_menu.jpg) no-repeat -182px 0;}
a.utiliser:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -182px 0px; transform: rotate(ease-out 3s);}

.banner_center{
	height:382px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	
}

.banner_center_individual{
	height:35em !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	padding-top: 50px;
	
}

.banner_center_corporate{
	height:383px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	  padding-top: 50px;
	
}

.banner_center_utiliser{
	height:383px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	  padding-top: 50px;
	
}
.slider_buttons{
	width:150px;
	height:11px;
	margin:-40px auto 0;
}
.slider_iamge{
	z-index:1;
	background-image:url(../images/slider_01.png);
	background-repeat:no-repeat;
	height:100%;
	width:900px;
	margin: 0 auto;
}
.connect_kyc_logo{	
background-image:url(../images/connect_kyc_logo.png);
background-repeat:no-repeat;
	height:100%;
	width:900px;
	margin: 0 auto;
	
}
.banner_center_individual img{
	margin-top:225px;
	  margin-left: 100px;
	  position:fixed;'
}
.slider_buttons li{
	float:left;
	margin-left:5px;

}
.leftside{
	width:200px;
	height:150px;
	float:left;
}
.bottom-icons ul{
	margin-top:0px;
}
.bottom-icons{
	 margin: -17px auto 0;
	  width: 1200px;
}
.bottom-icons li{
	 color: #CCCCCC;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    text-align: center;
    width: 250px;
	}
.bottom-icons li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.bottom-icons li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.bottom-icons-leftline{
	border-left:1px solid #ccc;
}

.bottom-icons h2{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:18px;
	
}
.bottom-icons p{
	color: #000;
	text-align:center;
	font-family:Segoe UI;
	margin:15px;
}
.footer_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.footer{
	height:45px;
width: auto;
    margin: 0 auto;
}
.footer_topline{
	width:100%;
	height:1px;
	background-color:#00b6f5;
}
.footer_center{
	height:177px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights{
	height:52px;
	width:100%;
	background-color:#4a484b;
	   margin-top: -16px;
}
.copyrights {
		margin:5px;
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: -5px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	
}
.footer_space02{
	 text-align: left;
    width: 500px;
	height:52px;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:25px;
	
}

a.fb{background:url(../images/bottom_social_icon.png) 0 0 no-repeat;}
a.fb:hover{background: url(../images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.google_plus{background:url(../images/bottom_social_icon.png) no-repeat -62px 0;}
a.google_plus:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -62px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}

/*/------------/*/

.searchcontainer {
    margin: 50px auto;
    width: 100px;
}
.searchbox {
    float: right;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
.searchbox-input {
    background: none repeat scroll 0 0 #DCDDD8;
    border: 0 none;
    color: #FF0000;
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0 55px 0 20px;
    right: 0;
    top: 0;
    width: 100%;
}
input {
    line-height: normal;
}
.searchbox-input::-moz-placeholder {
    color: #D74B4B;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.searchbox-icon, .searchbox-submit {
    background: none repeat scroll 0 0 #172B3C;
    border: 0 none;
    color: #DCDDD8;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.content-1{
	
	height:auto;
	clear:both;
}
.content-2{
	
	height:auto;
	clear:both;
}
.content-3{
	
	height:auto;
	clear:both;
}