 *html{
    height: 100%;
    width: 100%;
    overflow: hidden;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
 .etabs { margin: 0 0 0 15px;padding: 0;text-align: left; }
    .tab { display: inline-block; zoom:1; *display:inline; background: none repeat scroll 0 0 #4a484b;
    border-color: #4a484b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    padding: 5px;
    position: relative;
    text-decoration: none;
    top: 1px; 
     font-family: Segoe UI;}
    .tab a { color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    outline: medium none;
    padding: 0 10px;
    text-decoration: none; }
    .tab a:hover { text-decoration: none; }
    .tab.active { 
    background: none repeat scroll 0 0 #00b4f6;
    border-color: #00b4f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    padding: 5px;
    position: relative;
    text-decoration: none;
    top: 1px;}
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container {  
    width: 600px;padding: 4px; -moz-border-radius:5px; -webkit-border-radius: 5px;
 
    
     }

    .panel-container { margin-bottom: 10px; }
     .panel-container table tr{
     height:0px;
     }
	.panel-container table tr td{
     height:0px !important;
     }
	#tabs1-html {
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* height: 390px; */
    height: auto;
    margin-top: -3px;
    padding: 0 14px 10px 3px;
  width: 100%;
}
	#tabs1-js{
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius:5px;
    height: auto;
    margin-top: -3px;
    padding: 3px;
    width: 349px;
}
#tabs1-css
{
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius:5px;
    display: inline-table;
    float: left;
    height: auto;
    margin-top: -3px;
    width: 349px;
     padding: 5px;
}
#tabs1-html select {
	
  margin-top: 5px !important;
  line-height: 27px;
  
}
#tabs1-html option {
line-height: 27px;
    text-transform: capitalize;
    width: 18em;
}
select.styled {
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0;
    position: relative;
    width: 201px;
    z-index: 0;
}
.styled option	{
	
}	
span.select {
    margin: 3px 0 0;
}
span.select {
   background: url("../examples/select.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2d2d2d;
   font: 14px/41px arial,sans-serif;
    height: 40px;
    overflow: hidden;
    padding: 0 24px 0 20px;
    position: absolute;
    text-align: left;
    width: 186px;
	 cursor: pointer;
}
/*span.select:hover {
   background: url("file:///C|/Users/system-06/Desktop/jspkg-archive/examples/select.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
    color: #2d2d2d;
    font: 14px/41px arial,sans-serif;
    height: 40px;
	 cursor: pointer;
    overflow: hidden;
    padding: 0 24px 0 20px;
    position: absolute;
    text-align: left;
    width: 186px;
}*/
select.styled:hover {
   background: url("../examples/select.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
    color: #2d2d2d;
    font: 14px/41px arial,sans-serif;
    height: 40px;
	 cursor: pointer;
    overflow: hidden;
    padding: 0 24px 0 20px;
    position: absolute;
    text-align: left;
    width: 186px;
}
/* p, ul, label {
     color: #555;
   
} */
#tab-container{
	margin: 0 auto;
    width: 100%;
}
.
.login_rightside {
    float: right;
    margin-right: 0;
    margin-top: 20px;
    width: auto;
}