.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	 background-color: white;
    border: 3px solid #00bafc;
    display: none;
    height: 300px;
    left: 5%;
    overflow: auto;
    padding: 16px;
    position: absolute;
    top: 25%;
    width: 607px;
    z-index: 1002;
}