.bodybg {
	  background-image: url("../error_resources/images/bg_img.png");
    font-family: Verdana;
    font-size: 12px;
	 margin: 0;
    padding: 0;
  }
  
.errorpage {
   
    height: 382px !important;
    width: 100%;
}
.errorpagediv {
	 border: 5px solid #ccc;
    border-radius: 10px;
    height: 300px;
    margin: 150px auto;
    text-align: center;
    width: 800px;
 }
.error-left{
	float:left;
	width:45%;
	height: 250px;
}
.error-right{
	float:right;
	width:50%;
	height: 250px;
}
h2 {
  color: #777;
    font-family: Arial;
    font-size: 174px;
    font-weight: normal;
    margin: 50px;
    padding: 0;
}
  a {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .homebutton{
	  margin:50px auto;
  }
  .homebutton a{
	  background-color: #4a484b;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
    .homebutton a:hover{
	  background-color: #00b4f6;
	}
	.line{
	  border-left: 1px solid #ccc;
    display: inline-block;
    height: 250px;
    margin-top: 22px;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 5px;
	
	}
	.error-right p{
		 font-size: 35px;
    margin: 100px 0 0;
	color:#00b4f6;
	}
/*success message*/
.successbox {
	background:#e9ffd9;
	    border: 1px solid #a6ca8a;
    border-radius: 10px;
    height: 100px;
    margin: 150px auto;
    text-align: center;
    width: 400px;
 }
.successbox p{
	   color: #555;
    font-size: 20px;
    margin: 36px 0 0;
	}
	
#closebtn {
    background-image:url(../error_resources/images/close_button.png);
    background-repeat: no-repeat;
    border: medium none;
    float: right;
    height: 25px;
    margin-right: -15px;
    margin-top: -15px;
    width: 25px;
}