body
{
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
	background-color:#333; 
	margin:0;
	padding:0;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrapper{ width:1000px; margin:0 auto;}

#wrapper h1 {
    font-size: 36px;
    font-weight: normal;
    position: relative;
    text-align: center;
	color:#DDDDDD;
}

#container
{
	width:350px;
	margin:0 auto;
	padding-top:80px;
}


.tabs {
    position: relative;
	width: 350px;
}

.tabs input[type="radio"] {
	position: absolute;
	z-index: 1000;
	height: 37px;
	left: 0px;
	top: 0px;
	opacity: 0;
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-1{
	left: 0px;
	width:68px;
}
.tabs input#tab-2 {
    left: 83px;
    width: 57px;
}
.tabs input#tab-3 {
    left: 157px;
    width: 166px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs span {
	background: #4a484b;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
    float: left;
	display: block;
	color: #DDDDDD;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
    border-radius: 5px 5px 0 0;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;s
}

.tabs span:after {
    content: '';
	background: #DDDDDD;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + span {
	background: #777777;
	color:#fff;
	
}

.tabs span:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + span {
    background: none repeat scroll 0 0 #00b6f5;
    color: #FFFFFF;
	z-index: 6;
	
}

.clear-shadow {
	clear: both;
}

#content {
	position: relative;
	z-index: 0;
}

#content p{
float:left;
width:100%;
margin: 0 0 10px;
text-align:left;
}
#content div {
	
	background: #fff;
	border-radius: 0 0 5px 5px;
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 1;
    opacity: 0;
   border: 1px solid #B2B2B2;
}

.tabs input.tab-selector-1:checked ~ #content .content-1,
.tabs input.tab-selector-2:checked ~ #content .content-2,
.tabs input.tab-selector-3:checked ~ #content .content-3,
.tabs input.tab-selector-4:checked ~ #content .content-4 {
	z-index: 100;
    filter: alpha(opacity=100);
    opacity: 1;

    
}
#content div h2,
#content div h3{
	color: #398080;
}


#content .field {
	background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #EFEFEF;
    border: 1px solid #B2B2B2;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 290px;
}
#content .field:hover {
	background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 290px;
}

#content label {
    color: #039bfc;
    position: relative;
}
#content input[type="submit"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#content input[type="submit"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#content [data-icon]:after {
    color: #039bfc;
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    left: 10px;
    position: absolute;
    top: 35px;
    width: 30px;
}

.signin{
    color: #039BFC;
    font-size: 14px;
}
.keeplogin{
    color: #039BFC;
    font-size: 14px;
}


.tw{
float:right;
}
.tw:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "t";
    font-family: verdana;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.media:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.15em 0 0 0.15em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    pointer-events: none;
    text-align: center;
    width: 1em;
	color:#039BFC;
}
.tw, .tw:focus {
    background-color: #88E1E6;
}
.tw, .fb1, .tw:hover, .fb1:hover {
    background:#777777;
}
.media {
    background-color: #DDDDDD;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #B2B2B2;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: #333333;
    display: inline-block;
    padding: 0 1.5em;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
	font-size:16px;
	line-height:30px;
}
.fb1{
float:left;
}
.fb1:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    content: "f";
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#footer { height:45px; color: white; text-align: center; background: #2f2626; width: 100%; position: auto; }











