

#wrapper{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:800px;
	margin-top:50px;
}

#wrapper a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.box {
	display:none;
	left: 25% ! important;
	background-color: #fff;
    border: 2px solid #05b7f5;
    border-radius: 10px;
    box-shadow: 0 5px 17px 6px #222;
    color: #888888;
    height: 421px;
    padding: 0;
    position: fixed;
    right: 33%;
    top: 20%;
    width: 777px;
    z-index: 101;
		
	/* 
    background-color: #fff;
    border: 2px solid #05b7f5;
    border-radius: 10px;
    box-shadow: 0 5px 17px 6px #222;
    color: #888888;
    height: 350px;
    left: 105%;
    padding: 0px;
    position: fixed;
    right: 30%;
    top: 25%;
    width: 650px;
    z-index: 101; */
}

.overlay {

    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.5;
}

a.boxclose {
     background: url("../profilepopup/close_button.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 23px;
    left: 10px;
    position: relative;
    top: -11px;
    width: 22px;
}
#content{
	
	height: 357px;
    margin-bottom: 10px;
    max-height: 356px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
	
	
    /*  display: inline-table;
    height: 250px;
    margin-bottom: 10px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    position: absolute;
    width: 100%; */
}
#content li{
background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin: 3px;
    padding-top: 5px;
    width: 144px;
}
.profilePhotoHistory
{
	 clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 0px;
    width: 100%;
}
.profilePhotoHistory ul
{
	padding:0px;
	}
.profilePhotoHistory input{
background-color: #2d2d2d;
    border: 1px solid #ccc;
    color: #fff;
    margin: 5px;
    padding:5px;
}
.profilePhotoHistory input:hover{
background-color: #05b7f5;
}
/* #boxpopup u{
	border-bottom: 1px solid #8b8b8c;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
} */
/* #boxpopup h1 {
	
 background: none repeat scroll 0 0 #333;
    color: #05b7f5;
    font-size: 16px;
    height: 20px;
    margin: 0;
    padding: 5px;
    text-align: left;
    width: 99%;
    text-decoration: none;
}
 */