.CSSTableGenerator {
	margin:20px auto;padding:0px;
	 width:auto !important;
	     border: 0px solid #fff;
    border-radius: 0px;
	    box-shadow: 0 4px 10px #888888;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	 border-spacing: 0;
}
.CSSTableGenerator table { 
	 border-collapse:collapse;
     border: 1px solid #1f5f9f; 
	
	 }
.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:nth-child(1) {
  background: -webkit-linear-gradient(center bottom , #e8e8e8, #f5f5f5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(center bottom , #e8e8e8, #f5f5f5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(center bottom , #e8e8e8, #f5f5f5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to center bottom , #e8e8e8, #f5f5f5); /* Standard syntax */
    color: #000;
    
}
.CSSTableGenerator tr:hover td{
	/* background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;	 */
	 color: white;
/*   text-shadow: 0 -1px rgba(0, 0, 0, 0.3); */
  background: #338cdf;
  border-color: #2380dd #2179d5 #1a60aa;
  background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
  background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
 /*  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08); */
}
.CSSTableGenerator tr:nth-child(2n+1) {
    background-color: #e5e5e5;
}
.CSSTableGenerator tr:nth-child(even)    { background-color:#fff; }
.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
	 font-size: 12px;
    text-align: center;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
/* 		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
	background-color:linear-gradient(to bottom, #fdfdfd, #eceef4) repeat scroll 0 0 #fdfdfd;
	border:0px solid #ccc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.CSSTableGenerator td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   /*  border-color:#333; */
    border-image: none;
    border-style: groove;
    border-width: 0 1px 1px 0;
    color: #000000 !important;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    box-shadow:0 !important;
}
.CSSTableGenerator tr:first-child:hover td{
	/* background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc; */
	 color: white;
 /*  text-shadow: 0 -1px rgba(0, 0, 0, 0.3); */
  background: #338cdf;
  border-color: #2380dd #2179d5 #1a60aa;
  background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
  background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  /* box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08); */
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.CSSTableGenerator th{
	 text-align: center !important;
	  font-size: 14px;
	  	border-style: solid;
    border-color:#ccc #ccc #ccc transparent;
	     border-width: 1px;
	       height: 35px;
}

.CSSTableGenerator tr{
  border: 1px solid #ccc !important;
}
/* .tableboxdesign{
   background: none repeat scroll 0 0 #eee;
    border: 1px solid #05b7f5;
    border-radius: 5px;
    margin-left: 27px;
    margin-top: 10px;
    width: 395px;

} */

