
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul, li {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q::before, q::after {
    content: "";
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
a img {
    border: medium none;
}
sup {
    font-size: 50%;
}
a, a:hover {
    text-decoration: none;
}
body {
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}
.cl {
    clear: left;
}
div#kcyplanContainer {
    border-radius: 5px;
    margin:35px auto;
    padding:0;
    width: 797px;
}
div.kycplanpriceContainer {
    color: #333 !important;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    margin: 0 auto !important;
}
div.kycplanpriceContainer span {
    color: #a1a7b0;
    font-size: 12px;
}
div.kycplanprice1 {
     background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b5f6;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 26px !important;
    height: 90px !important;
    margin: 30px  auto !important;
    width: 90px !important;
}
div.kycplanprice1 p {
    margin: 0 13px !important;
    padding-top: 30px !important;
}
div.kycplanprice2 {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b5f6;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 26px !important;
    height: 90px !important;
    margin: 30px  auto !important;
    width: 90px !important;
}
div.kycplanprice2 p {
   margin: 0 13px !important;
    padding-top: 30px !important;
}
div.kycplanprice3 {
      background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b5f6;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 26px !important;
    height: 90px !important;
    margin: 30px  auto !important;
    width: 90px !important;
}
div.kycplanprice3 p {
   margin: 0 13px !important;
    padding-top: 30px !important;
}
div.kycplanprice4 {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b6f5;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 26px !important;
    height: 90px !important;
    margin: 30px  auto !important;
    width: 90px !important;
}
div.kycplanprice4 p {
    margin: 0 19px !important;
    padding-top: 37px !important;
}
div.kycplanprice5 {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b5f6;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 26px !important;
    height: 90px !important;
    margin: 30px  auto !important;
    width: 90px !important;
}
div.kycplanprice5 p {
    margin: 0 13px !important;
    padding-top: 30px !important;
}
div#tableContainer {
     border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #d2cfd2;
    padding:0px;
}
div.tableCell {
    border-right: 1px solid #ccc;
    float: left;
    text-align: center;
    width: 158px;
}
table.pricingTableContent {
       margin-left: -2px;
    padding: 0;
    width: 797px;
}
td {
    border-right: 1px solid #ccc !important;
    color: #77808a;
    text-align: center !important;
    vertical-align: middle !important;
    width: 238px !important;
}
.noBorder {
    border-right: medium none;
}
div.tableHeading {
    background-image: linear-gradient(#fff, #eee) !important;
    height: 111px !important;
}
div.tableHeading h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #333 !important;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 22px !important;
    text-align: center;
       height: auto !important;
          margin-top:0px;
           font-weight: normal;
}
table.pricingTableContent tr td {
    padding: 10px 0;
    width: 141px !important;
}
table.pricingTableContent tr.altRow td {
    background-color: #e9e9e9;
}
table.pricingTableContent tr{
	border-bottom:0px;
	border-top:0px;
		border-top:0px;
}
table.pricingTableContent tr.LearnMoreRow td {
    padding: 5px 0 20px;
}
table.pricingTableContent td strong {
    color: #424447;
}
table.pricingTableContent tfoot td {
    border-top: 1px solid #e2e7eb;
    padding: 25px 0;
}
table.pricingTableContent tfoot td h4 {
    color: #3a3c3f;
    font-size: 28px;
    font-weight: 900;
}
table.pricingTableContent tfoot td span {
    color: #424447;
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
}
div.highlight .tableHeading, td.highlight {
    background: none repeat scroll 0 0 #3498db !important;
    color: #ffffff;
}
div.highlight .tableHeading {
    background: url("img/recommendationBadge.png") no-repeat scroll left top #0884d8 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px;
    margin-right: 0;
    margin-top: -20px;
    padding-top: 45px;
}
div.highlight .tableHeading h2 {
    color: #fff !important;
}
table.pricingTableContent tr.altRow td.highlight {
    background-color: #0884d8 !important;
}
table.pricingTableContent td.highlight strong, table.pricingTableContent tfoot td.highlight h4 {
    color: white;
}
table.pricingTableContent tfoot td.highlight {
    border-top: 1px solid #7ec2f0;
}
a.LearnMoreButton {
    background-color: #333;
    border: 0 solid #343f4e;
    color: white;
    display: inline-block;
    font-weight: 900;
    padding: 10px 30px;
}

.planbutton {
    background-color: #333;
    border: 0 solid #343f4e;
    color: white;
    display: inline-block;
    font-weight: 900;
    padding: 10px 30px;
}
.planbutton:hover {
    background-color: #00b5f6;
}


a.LearnMoreButton:hover {
    background-color: #00b5f6;
}
.ie7 .kycplanprice1 p {
    padding-top: 25px;
}
.ie7 .kycplanprice2 p {
    padding-top: 30px;
}
.ie7 .kycplanprice3 p {
    padding-top: 30px;
}
.ie7 .kycplanprice4 p {
    padding-top: 35px;
}
.ie7 .kycplanpriceContainer span {
    display: inline-block;
}
.ie7 div.highlight .tableHeading {
    position: relative;
    z-index: 100;
}
.ie7 table.pricingTableContent tr.LearnMoreRow td.highlight {
    z-index: 10;
}
.pricing-table-info {
    background: url("images/cloud.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 16% !important;
    position: absolute;
    right: 40%;
    top: -7%;
    width: 51% !important;
}
.pricing-table-info {
    height: 21%;
    right: 23%;
    top: -25px;
    width: 50%;
}
.pricing-table-info:hover {
    cursor: pointer;
    transform: rotateY(360deg);
    transition: all 0.8s ease 0s;
}
.kycplanprice1 img{
	 margin-left: -10px;
    margin-top: -25px;
}
#kcyplanContainer ul li h1{
	width:100%;
	font-size: 14px !important;
}

.formDisable input[type=submit]
{
	cursor:not-allowed ! important;
}


