/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com


* { margin: 0; padding: 0; }
body { font: 12px Georgia, serif; }
html { overflow-y: scroll; }*/
#page-wrap { margin: 0; padding: 0; }
#page-wrap a { text-decoration: none; }
#page-wrap a:focus { outline: 0; }
#page-wrapp { font-size: 15px; margin: 0 0 20px 0; }
#page-wrap { width:800px; margin: 40px auto; }
#page-wrap h1 { font: bold 40px Sans-Serif; margin: 0 0 20px 0; }
.notificationscroll a{
	margin-left:144px;
}
/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#example-one { background: #eee; padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#example-one .nav { overflow: hidden; margin: 0 0 10px 0; }
#example-one .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#example-one .nav li.last { margin-right: 0; }
#example-one .nav li a { display: block; padding: 5px; background: #959290; color: white; font-size: 10px; text-align: center; border: 0; }
#example-one .nav li a:hover { background-color: #111; }

#example-one ul { list-style: none; }
#example-one ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #fe4902; color: white; }
#example-one ul li:last-child a { border: none; }

#example-one ul li.nav-one a.current, #example-one ul#featured li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-two a.current, #example-one ul#core li a:hover { background-color: #d30000; color: white; }
#example-one ul li.nav-three a.current, #example-one ul#jquerytuts li a:hover { background-color: #8d01b0; color: white; }
#example-one ul li.nav-four a.current, #example-one ul#classics li a:hover { background-color: #FE4902; color: white; }



/* Specific to example two */
#example-two ul b {
    color: #333;
}
.hide b{
	text-align:center;
	width:100%;
}

.notificationscroll{
	 display: list-item;
    margin-top: 0;
   width: 100%;
    max-height:300px;
    overflow-x:hidden;
}
/* .notificationscroll:hover{
	 display: list-item;
    margin-top: 0;
    overflow-y:scroll;
    width: 100%;
    min-height:250px;
    height:auto;
} */
#example-two .list-wrap { background: #fff; padding: 10px; margin: 0 0 15px 0;border:1px solid #ccc;border-radius:0 5px 5px; }

#example-two ul { list-style: none;text-align: left; }


#example-two ul li a { 
    background-color: #333;
    border-bottom: 1px solid #666;
    color: #fff;
    display: list-item;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    vertical-align: sub;
    width: 100%;
    }
#example-two ul li a:hover { color: #ccc; }
#example-two ul li:last-child a { border: none; }
#example-two ul p{
  font-family: arial !important;
    font-size: 12px;
    text-align: left !important;
}
#example-two .nav { overflow: hidden;margin:0;padding:0; }
#example-two .nav li { width: 97px; float: left; margin: 0; }
#example-two .nav li.last { margin-right: 0; }
#example-two .nav li a { background: none repeat scroll 0 0 #666;
    border: 0 none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white !important;
    display: block;
    font-size: 10px;
    height: 15px;
    padding: 6px;
    text-align: center; 
     width: 81px;
     font-size:14px}

#example-two li a.current,#example-two li a.current:hover { background-color: #05b7f5 !important; color: black; }
#example-two .nav li a:hover, #example-two .nav li a:focus { background: #999;}