#waitfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#waitlight{
   background: none repeat scroll 0 0 #fff;
    border-radius:5px;
    display: none;
    height: 115px;
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 329px;
    z-index: 1002;
}



#kycdivfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#kycdivlight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -363px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1002;
}


#sessionfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#sessionlight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    display: none;
    height: 131px;
    left: 50%;
    margin-left: -211px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 404px;
    z-index: 1002;
}


#kycDocPopUpfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#kycDocPopUplight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    display: none;
    height: auto;
    width: auto;
   left: 50%;
    margin-left: -350px;
    margin-top: -220px;
    position: fixed;
    top: 50%;
    z-index: 1002;

}




.kycFormPageFadecss{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:501;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
    
}

.kycFormPageLightcss{
 border: 2px solid #03b2ee;
    background: none repeat scroll 0 0 #fff;
    border-radius:5px;
    display: none;
    float: right;
    height: auto;
    left: 50%;
    margin-left: -215px;
    margin-top: -169px;
    position: fixed;
    top: 50%;
    z-index:502;
 

}
.kycFormPageLightcss h2{width: 100%;
}
.kycFormDisplaycss
{  background: none repeat scroll 0 0 #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #555;
    height: 20px;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    width: auto;	
}
.kycFormDisplaycss h3{
	text-decoration: none;
	margin-top:0px !important;
    background: none repeat scroll 0 0 #333;
    color:#05b7f5;
}
.kycFormDisplaycss p{
	color: red;
    margin-bottom: 5px;
    text-align: right;
    margin-top: 10px !important;
    margin-right: 10px !important;
      padding: 0 !important;
}
.kycFormDisplaycss textarea{
	height: 50px;
	 padding: 1px 0 1px 5px !important;
}

.kycFormDisplaycss span{
	float:left !important;
}
.kycFormDisplaycss h1{
	text-align: left;
    width: auto;
}
.kycFormDisplaycss h1 u{
	text-decoration:none;
}
#browseimagebutton h1 u{
	text-decoration:none;
  font-size: 12px;
    margin-left: 30px;
}
.kycHistoryFadecss{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
    
}

.kycHistoryLightcss{
	border:2px solid #03b2ee;
    background: none repeat scroll 0 0 #fff;
    border-radius:5px;
    display: none;
    float: right;
    height: 514px;
    left: 50%;
    margin-left:-444px;
    margin-top: -274px;
    position: fixed;
    top: 50%;
    width: auto;
    z-index: 1002;

}

.kycHistoryDisplaycss
{
	text-align:left;
	margin-top:27px;
	width:auto;
	margin-left:-99px;						
	color:#555;
	border-radius:5px;	
	padding:0; 
	margin:0 auto;	
}
#historyviewpan p{
	width:100%;
	color:#333;
	padding: 2px;
}
#historyviewpan p b{
	width:100%;
	color:#00b6f5 !important;
}
/* #historyviewpan b{
	float:left;
}
#historyviewpan a{
	float:right;
} */
.historyviewpaninner{
	  background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    height: 150px;
    margin: 0 12px 0 auto;
    padding: 5px;
    text-align: left;
    width: 277px;
}
.historyviewpaninner b{
	color:#00b6f5 ;
}
.documentdownloadpan {
    background: url("../images/pan_download.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    margin-top: -5px;
}
.documentdownloadpan:hover {
    background: url("../images/pan_download_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    margin-top: -5px;
}
#historyviewpan img{
	 background-color: #ccc;
    background-position: center center;
    border: 1px solid #eee;
    width: 100%;
}
.kycHistoryDisplaycss td{
	  
    padding-bottom: 10px;
    padding-top: 0px;
    vertical-align: top;
}
.pandescrword p b{ 
	color:#333;
}
.pandescrword p { 
text-align: justify;
    width: 20em !important;
    word-wrap: break-word;
    color:#909090;
	}
.kycHistoryDisplaycss h2{
	background:#333;
	padding:5px;
	
}
.kycHistoryDisplaycss h2 span{
	color:#00b6f5;
	 font-size: 14px;
	
}
.kycdocumentpan table input{
	
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 445px !important;
}
.kycdocumentpanbutton td {
	width:470px !important;

	}
	
.kycdocumentpanbutton td a input{
	
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width:100px !important;
}
.kycdocumentpanbutton input[type="button"]{
	
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width:100px !important;
}
.kycdocumentpan textarea{
	    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
     width: 450px !important;
}
.btn {
	background-color: #333;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height:0;
    margin-bottom: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
} 
.btn-primary {
    background-color: #333;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
       height: 30px;
}
#kycdocumentpage .btn p {
	 color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    top: 15px !important;
    vertical-align: middle;
       font-size: 14px;
       width:90px;
}
.btn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.f-left, .left {
    float: left !important;
}
/* .kycdocumentpan input[type="file"] {
   background: none repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: inherit;
    display: block;
    height: 25px;
    min-width: auto;
    opacity: 0;
    position: relative;
    right: 0;
    text-align: right;
    width: 100px !important;
        padding: 0 !important;
        position: relative;
}
#kycdocumentpage .fa-folder-open{
	 background: url("../images/browse_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 17px;
    position: relative;
    vertical-align: middle;
    width: 14px;
    z-index: 5000;
     padding: 10px;
} */
#browseimagebutton{
	   border-bottom: 1px dashed #ccc;
    height: 45px;
    margin-top: 10px;
}
.kycdocumentpan input[type="file"] {
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
    height: 25px;
    margin-top: -1px !important;
    min-width: auto;
    opacity: 0;
    padding: 0 !important;
    position: relative;
    right: 0;
    text-align: right;
    vertical-align: middle;
    width: 100px !important;
}
#kycdocumentpage .fa-folder-open{
	 background: url("../images/browse_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 17px;
    margin-top: 5px;
    padding-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 14px;
    z-index: 5000;
}
.button-submit{
	
}
.button-submit:focus {
    border: 1px solid #05b7f5 !important;
    border-radius: 0px !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.kycHistoryDisplaycss h2 {
    background: none repeat scroll 0 0 #333;
    padding: 5px;
}
