#button {
	
	border-right:none;
	padding: 0 0 1em 0;
	margin-bottom: none;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;

}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2em;
}

#button li {
	  border-bottom: 1px solid white;
    list-style: none outside none;
    margin-bottom: 43px;
    text-align: left;
    width: 290px;
	
}
	
#button li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#button li a:hover {
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
}
#Hi-B-1 a{
  background:url("../resources/images/kyc_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#Hi-B-1 a:hover{
	background:url("../resources/images/kyc_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
.profilesearchtextinput2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076a3 -moz-use-text-color #0076a3 #0076a3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0;
    padding: 0 2px;
    width: 250px;
}
#selectedidindividual{
background: url("../resources/images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#Hi-B-1 span {
    margin-left: 15px;
}
#edit input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#edit input[type="button"]:hover {
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin: 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
