#left-profile-div { 
  width:263px; 
   height:490px; 
   background-image:url("../kyc_images/user_profile_bg.jpg"); 
   border-style:solid;
   background-color: transparent;
   border-width:1px;
   border-color:#66CCFF;
   float:left
   overflow: auto;
}

#center-body-div { 
   width:750px; 
   height:490px; 
   background-image:url("../kyc_images/user_profile_bg.jpg"); 
   border-style:solid;
   background-color: transparent;
   border-width:1px;
   border-color:#66CCFF;
   float:bottom;
}
#right-add-div { 
  width:170px; 
   height:508px; 
   background-image:url("../kyc_images/user_profile_bg.jpg"); 
   border-style:solid;
   background-color: transparent;
   border-width:2px;
   border-color:#66CCFF;
   float:left
}