
	.treeView1 li {
	cursor:pointer; 
	display:block; 
	width:100px;
	}
	.Folder {
	
	}
	.ExpandCollapse {
	float:left;
	margin-right:5px;
	width:8px;
	}
	.treeView2 ul {
	list-style-type:none;
	}

	.treeView3 ul li {
		display: block;
		color: #FFF;
		background-color: #66CCFF;
		width: 10em;
		padding: 10px 12px 3px 8px;
		text-decoration: none;
		border-bottom: 1px solid #fff;
		font-weight: bold;
	}
	/*
	#ExpandCollapseFolder3 {
    width: 13em;
    height: 5em;
    line-height: 1em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}
	*/
#Rollover {
	position:absolute;
	font-family:verdana;
	font-size:18px;
	top:0px;left:0px;
	padding:5px 25px 5px 25px;
	border:2px solid #B0E0E6;
	color:black;
	display:none;
	z-index:20000;
}
#DisplayInfo {
	position:absolute;
	font-family:verdana;
	font-size:12px;
	top:50px;
	left:400px;
	width:200px;
	border:1px solid pink;
	padding:2px 2px 2px 2px;
	background-color:pink;
	color:blue;
	z-index:200;
}
