
body{
	margin:0px;
	padding:0px;
	background-color:#fff;
	text-align:center;
	list-style:none;
	
	
}



ul,li{
	list-style:none;
	list-style-image:none;
	 outline: none;
  border: none; 
}
	
a img {outline : none;
text-decoration:none;}
img {border : 0;}
.container{
	background-color: #fff;
    display: inline-table;
    height: auto !important;
    margin: 0 auto;
    text-align: center;
   width: 100%;
}

.top_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.header{
	height:72px;
	background-color:#4a484b;
	width: 100%;
	 text-align: center;
	
	
}
.header_inner{
	width:1024px;
	margin:0 auto ;
	padding-top:10px;
	 text-align: center;
}
.search-bar{
	  margin: 0 auto;
    text-align: center;
    top: 0;
    width: 450px;
}
#tfheader input img{
  border: 0 none;
    height: 38px;
    margin-left: -4px;
    margin-top: 0;
}
#tfheader{
	margin: 10px auto 0;
    width:450px;
	}
	#tfnewsearch{
		float:right;
		padding:0px;
	}
	.tftextinput2{
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0px 0 0;
    padding: 0px 2px;
    width: 392px;
	float:left;
	}
	.tfbutton2 {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-right-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    margin: 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: right;
    text-decoration: none;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.main_menu ul {
		color:#ccc !important;
	
	}
.main_menu li{
	  border-left: 1px solid #6f6f6f;
    color: #cccccc;
    cursor: pointer;
    float: left;
    font-family: 'oswaldbold';
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    text-align: center;
   
	}
	.main_menu li a span{
    margin-top: 10px;

	}
.main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
 
	}
.main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
	 width:94%;
   
	}
.logo{
	 background-image: ;      /*   url("../resources/images/kyclogo.png");   */
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin: 0 auto;
    width: 128px;
}
.mainmenu{
    display: inline;
    float: right;
    height: 57px;
    margin-top: -72px;
    text-align: center;
    width: auto;
}
.mainmenu img{
	margin-top:-10px;
}
.mainmenu span{
	margin-top:-15px;
}

ul.main_menu li a {
	background-position: center top;
    display: inline-flex;
    font-family: 'oswaldbold' Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    transition: all 0.3s ease-out 0s;
    width: 95%;
    text-transform: uppercase;
}
 a.individual{background:url() 0 0 no-repeat;}   /* url(../images/home_main_menu.jpg) */
 a.individual:hover{background:url() no-repeat 0px 0px; transform:background (ease-out 3s);}
 a.corporate{background:url() no-repeat -91px 0;}
a.corporate:hover{background:url() no-repeat -91px 0px; transform: rotate(ease-out 3s);}
a.utiliser{background:url() no-repeat -182px 0;}
a.utiliser:hover{background:url() no-repeat -182px 0px; transform: rotate(ease-out 3s);}

.banner_center{
	height:382px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	
}
.slider_buttons{
	width:150px;
	height:11px;
	margin:-40px auto 0;
}
.slider_iamge{
	z-index:1;
	background-image:url(../images/slider_01.png);
	background-repeat:no-repeat;
	height:382px;
	width:885px;
	margin: 0 auto;
}
.slider_buttons li{
	float:left;
	margin-left:5px;

}
.bottom-icons ul{
	margin-top:0px;
}
.bottom-icons{
	 margin: -17px auto 0;
	  width: 1200px;
}
.bottom-icons li{
	 color: #CCCCCC;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    text-align: center;
    width: 250px;
	}
.bottom-icons li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.bottom-icons li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.bottom-icons-leftline{
	border-left:1px solid #ccc;
}

.bottom-icons h2{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:18px;
	
}
.bottom-icons p{
	color: #000;
	text-align:center;
	font-family:Segoe UI;
	margin:15px;
}

.footer_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.footer{
	 background-color: #4a484b;
    height: 52px;
    margin-top:20px;
  
}
.footer_topline{
	width:100%;
	height:1px;
	background-color:#00b6f5;
}
.footer_center{
	height:177px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights{
  background-color: #4a484b;
    height: 74px;
    margin-top: -14px;
    width: 100%;
}
.copyrights {
	  margin: 0 auto;
    width: 1024px !important;
}
.copyrights ul{
		
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: 0px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	margin-top: -10px !important;
	
}
.footer_space02{
	 text-align: left;
    width: 460px;
	height:52px;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:25px;
	
}

a.google_plus{background:url(../resources/images/bottom_social_icon.png) 0 0 no-repeat;}
a.google_plus:hover{background:url(../resources/images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../resources/images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../resources/images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.fb{background:url(../resources/images/bottom_social_icon.png) no-repeat -62px 0;}
a.fb:hover{background:url(../resources/images/bottom_social_icon_hover.png) no-repeat -62px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../resources/images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../resources/images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../resources/images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../resources/images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}

/*/------------/*/

.searchcontainer {
    margin: 50px auto;
    width: 100px;
}
.searchbox {
    float: right;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
.searchbox-input {
    background: none repeat scroll 0 0 #DCDDD8;
    border: 0 none;
    color: #FF0000;
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0 55px 0 20px;
    right: 0;
    top: 0;
    width: 100%;
}
input {
    line-height: normal;
}
.searchbox-input::-moz-placeholder {
    color: #D74B4B;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    
}
.reselect input[type="submit"] {
  background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.reselect input[type="submit"]:hover {
  background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
.searchbox-icon, .searchbox-submit {
    background: none repeat scroll 0 0 #172B3C;
    border: 0 none;
    color: #DCDDD8;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
/*/-------main_centerpage-----/*/
/* .main{
	background-image:url(../resources\kyc_images\admin_bg_img.png);
	width:100%;
} */
.main_center{
	width:1200px;
	margin:0 auto;
	margin-top:0;
	bottom:10px;
	  min-height: 550px;
	
}
.leftside{
	float: left;
    height: 0;
    margin-top:20px;
    margin-left: 0px;
    width: 21%;
}
/*/-------main_centerpage--rightside-----/*/
.rightside{
	 float: right;
    width: 72%;
    margin-top: 0px;
    margin-right: 35px;
}
.username_bar{
	width:100%;
}
#titleBar{
	height:40px;
}
#wishAdmin{
	 display: inline-table;
    float: left;
    height: 30px;
}
.rightside h2 {
     background: url("../images/admin_images/admin_header_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #CCCCCC;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
#wishAdmin h1{
       color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-top: 5px;
    padding: 0 10px 0 0;
    text-align: left;
}
.rightside h1{
       color: #05B7F5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 10px 0 0;
    text-align: left;
     margin-top: 12px;
}
.rightsideheader{
       color: #05B7F5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 10px 0 0;
    text-align: left;
     margin-left: 15px;
       width: 96%;
}
.module-body h1 p{
	
	  color: #CCCCCC;
    display: inline;
    float: right;
    font-family: Segoe UI;
    font-size: 12px;
    font-style: italic;
    line-height: 0;
    margin-right: 10px;
    text-align: center;
}
.edit input[type="submit"]{
	
	
 background: none repeat scroll 0 0 #4A484B;
    border: 1px solid #898989;
    color: #CCCCCC;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.edit input[type="submit"]:hover{
	
	
 background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.rightside h2 span{
       font-size: 18px;
    line-height: 42px;
    padding: 3px 5px 10px 25px;
	font-family:Segoe UI;
	color:#4a484b;
}
.rightside h2 p{
       font-size: 12px;
    line-height: 20px;
    padding:0px 10px 0 25px;
	font-family:Segoe UI;
	color:#ccc;
	font-style:italic;
	text-align:right;
	display:inline;
	float:right;
}

.rightside .module-body {
	background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: auto;
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    width: auto;
}
.module-body p{
	font-style:normal;
	text-align:justify;
	margin:0px;
	margin-top:15px;
}
.module-body p a{
	 background-image: url("../images/edit_button.png");
    float: right;
    font-style: normal;
    height: 29px;
    margin: 15px 10px 10px;
    text-align: justify;
    width: 89px;
}
.module-body p a:hover{
	background-image:url(../images/edit_button_hover.png);
	float:right;
	font-style:normal;
	text-align:justify;
	margin:10px;
	margin-top:15px;
	 width: 89px;
	  height: 29px;
}
.border_line{
	border-bottom: 1px solid #CCCCCC;
	   margin-top: 25px;
}
.border_line_profile{
	border-bottom: 1px solid #CCCCCC;
    margin-left: 15px;
    margin-top: 20px;
    width: 96%;
}
.user_photoupload{
	 height: 284px;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    width: 218px;
    margin-left: 20px;
}
.user_photo{
	background-image:url(../kyc_images/user_img.png);
	  height: 284px;
    margin-top: -307px;
    padding-top: 25px;
    position: relative;
    width: 218px;
     margin-left: 20px;
}
.user_photoupload span {
	  float: left;
    margin-left: 11px;
   margin-top: 0px;
   z-index:20;
}
.user_photo p{
	color: #000000;
    font-family:Segoe UI;
    font-size: 16px;
      margin-top: 222px;
    text-align: center;
}
.user_photo p strong {
    color: #000000;
    font-family: MV Boli;
    font-size: 24px;
    text-align: center;
	width:100%;
}
#applyCodeid table tr {	
    border-color: #B9C4CF #B9C4CF #B9C4CF #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: bold;
    height: 40px;
    padding: 0 8px;
   
}
#applyCodeid td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
#applyCodeid table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#applyCodeid table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#applyCodeid tr:nth-child(2n) {
    background-color: #FFFFFF;
}
#applyCodeid tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
#applyCodeid tr:nth-child(1) {
    background-color: #999;
}

#closepic a{
		 background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}
#closepic a:hover{
	 background-color: #00bafc;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}
#openbrowse{
	 margin-left: 50px;
    margin-top: 200px;
    position: absolute;
    width: 200px;
    z-index: 150;
}
.datagrid tr:nth-child(1) {
    background-color: #999 !important;
}
.datagrid tr:nth-child(2n+1) {
    background-color: #e5e5e5;
}
.datagrid table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
.datagrid table tr {
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: bold;
    height: 40px;
    padding: 0 8px;
}
#file_browse_wrapper{   
	 background: url(../kyc_images/browse_button.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #CCCCCC;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: 74px;
}
#file_browse_wrapper:hover{
	 
 background: url(../kyc_images/browse_button_hover.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width:74px ;

}
#file_browse{	
	margin-left:0px;
    opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    width:74px ;
}
#saveimg_button_wrapper{   
	 background: url(../images/addimg_save_button.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #CCCCCC;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: 48px;
}
#saveimg_button_wrapper:hover{
	 
 background: url(../images/addimg_save_button_hover.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width:48px ;

}
#saveimg_button{	
	margin-left:0px;
    opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.documentviewpan{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_view_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentviewpan:hover{
	 background: url("../images/pan_view_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
    border:0;
}
.documentchange{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_change_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentchange:hover{
	 background: url("../images/pan_change_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
     border:0;
    height:34px;
}
.documentdownload{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_download_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentdownload:hover{
	 background: url("../images/pan_download_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
#viewDocument{
	 border: 0.5px solid #ccc;
    border-radius: 3px;
    color: black;
    outline: 1px none;
    padding: 3px 10px;
    width: 150px;
}

#viewDocument:hover{
	 border: 0.5px solid #00bafc;
    border-radius: 3px;
    color: #00bafc;
    outline: 1px none;
    padding: 3px 10px;
    width: 150px;
}
#viewhistory{
	 border: 0.5px solid #ccc;
    border-radius: 3px;
    color: black;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
#viewhistory:hover{
	 border: 0.5px solid #00bafc;
    border-radius: 3px;
    color: #00bafc;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
.viewhistory{
	 border: 0.5px solid #ccc;
    border-radius: 3px;
    color: black;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
.viewhistory:hover{
	 border: 0.5px solid #00bafc;
    border-radius: 3px;
    color: #00bafc;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
.applycode_button{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/apply_now_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.applycode_button:hover{
	 background: url("../images/apply_now_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.documenthistory{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_history_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documenthistory:hover{
	 background: url("../images/pan_history_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.documentupload{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_upload_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentupload:hover{
	 background: url("../images/pan_upload_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.document_panedit{
	height: 29px;
    width: 27px;
     border:0;
    background: url("../images/pan_edit_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panedit:hover{
	 background: url("../images/pan_edit_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 29px;
    width: 27px;
     border:0;
}
.document_panview{
	height: 29px;
    width: 25px;
     border:0;
    background: url("../images/pan_imgeview_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panview:hover{
	 background: url("../images/pan_imgeview_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
 height: 29px;
    width: 25px;
     border:0;
}
.document_panimgedownload{
	height: 29px;
    width: 27px;
     border:0;
    background: url("../images/pan_imgedownload.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panimgedownload:hover{
	 background: url("../images/pan_imgedownload_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  height: 29px;
    width: 27px;
     border:0;
}
#AccForm a span{
	 float: left !important;
}
#AccForm input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color !important;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px ;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px !important;
    padding: 10px 5px 10px 32px !important;
    text-decoration: none !important;
    transition: all 0.2s linear 0s !important;
    width: 150px !important;
}
#nextbutton{
	margin-top: 15px;
    text-align: center;
    width: 464px;
}
#revoke_tbutton input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#access_history{
	margin-left:200px;
	margin-top:50px;
}
#revoke_tbutton input[type="button"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#proceedtbutton input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#proceedtbutton input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#nextbutton input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#nextbutton input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;

}
#addDocumentid input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#addDocumentid input[type="button"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#closeDialog input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#closeDialog input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#labelname{
 background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: 17px;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#labelname:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: 17px;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#labelname option{
  background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: 10px;
    margin-top: 2px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 180px;
    color:#000;
}
#labelname option:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    
  box-sizing: content-box;
    height: 10px;
    margin-top: 2px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 180px;
}
#selectYear option{
 background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: 10px;
    margin-left: 15px;
    margin-top: 5px;
    padding: 5px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 230px;
}
#selectYear option:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
   box-sizing: content-box;
    height: 10px;
    margin-left: 15px;
    margin-top: 5px;
    padding: 5px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 230px;
}
#domainName{
 background: no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
}
#domainName:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
    color: #05b7f5;
}
#ShowDomain {
    float: right;
    margin-left: -290px;
    width: 100%;
}
#ChooseShowDomain{
    float: right;
    margin: -3px 14px 0 auto;
    width: 100%;
}
.module-body table tr span{
  float: right;
    width: 90%;
    
}
#ABC_0{
 background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
     margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ABC_0:hover {
   background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ABC1{
 background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ABC1:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ABC2{
 background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
   height: auto;
    margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 239px;

}
#ABC2:hover {
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
     height: auto;
    margin-left: 27px;
    margin-top: 3px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 239px;
    color: #05b7f5;
}
#tableIdview{

}
#viewUsers1 option {
   background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    color: #000;
}
#viewUsers1 option:hover {
   background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;

}
#searchType {
  background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    color: #000;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 150px;
}
#searchType:hover{
   background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    color: #000;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 150px;
}
/*------------notification Table------------- */
.module-body table tr {	
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: narmal;
    height: 40px;
    padding: 0 8px;
    font-size: 12px;
   
}
.module-body table tr td{	
  padding:0px;
  margin:0px;
   
}
#content table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#content table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#content tr:nth-child(2n) {
    background-color: #FFFFFF;
}
#content tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
/* #content tr:nth-child(1) {
    background-color: ;
} */
#closepic a{
		 background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}
#closepic a:hover{
	 background-color: #00bafc;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}

#searchprofile table tr {	
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: narmal;
    height: 40px;
    padding: 0 8px;
    font-size: 12px;
   
}
#searchprofile table{
	 border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 80px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    width: 62%;
}

#searchprofile table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#searchprofile table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#searchprofile tr:nth-child(2n) {
    background-color: #E5E5E5;
}
#searchprofile tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
#searchprofile tr:nth-child(1) {
    background-color:#E5E5E5;
}
#closepic a{
		 background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}
#closepic a:hover{
	 background-color: #00bafc;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: -135px;
    margin-top: 185px;
    padding: 5px;
    position: absolute;
    z-index: 100;
}
#flip
{
   background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #999;
    padding: 5px;
    text-align: left;
    width: 328px;
}
#panel
{
  border: 1px solid #999;
    border-radius: 5px;
    display: none;
    font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,sans-serif;
    font-size: 12px;
    padding: 20px;
    text-align: left;
    width: 298px;
}
#kycpan_details input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#kycpan_details input:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}

#kycpan_details textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#kycpan_details textarea:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}

#profilesearch {
    float: left;
    padding: 0;
     margin-right: 15px;
}
.profilesearchtextinput2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076a3 -moz-use-text-color #0076a3 #0076a3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0;
    padding: 0 2px;
    width: 200px;
}
.plan_view_search {
     border: 1px solid #999;
  
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 34px;
    margin: 0;
    padding: 0 2px;
    width:200px;
}
.plan_view_search:hover {
     border: 1px solid #00b6f5;
   
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 34px;
    margin: 0;
    padding: 0 2px;
    width:200px;
}
#selectedidindividual {
  background:  scroll 0 0;		/*   url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#selectedidindividual:hover {
    background: #fff;			/*  url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#selectedidindividual:focus {
    background: #fff;			/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
.datagrid table td, .datagrid table th {
    border-left: 1px solid #cccccc;
    color: #ffffff;
    padding: 3px 10px;
    text-align: center;
    }
    
    .datagrid tr:nth-child(1) {
    background-color: #999 !important;
}
    #pattern_name_td select{
   
    background: url("") no-repeat scroll 0 0;		/* url("../images/input_leftimg.PNG")  */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
    }
     #pattern_name_td select:hover{
   
    background: #fff;		/*   url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
    }
       #pattern_name_td select:focus{
   
    background: #fff;		/*   url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
    }
   #pattern_name_td{

    margin-right: 8px;
    margin-top: -3px;
    padding: 3px 9px;
    text-align: center;
    }
    #plan_name {
    background: url("") no-repeat scroll 0 0;			/*   url("../images/input_leftimg.PNG")  */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
   #plan_name:hover{
    background: #fff;   /*     url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
   #plan_name:focus{
    background: #fff;			/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
   #plan_name:focus{
    background: #ffff;			/*   url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 25px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#ChooseDomainName {
     background:  no-repeat scroll 0 0;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ChooseDomainName:hover{
     background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ChooseDomainName:focus{
     background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#firstName{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#firstName:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#firstName:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#middleName{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#middleName:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#middleName:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform textarea{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

.createutiform textarea:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform textarea:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform  input{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

.createutiform input:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform input:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform select{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

.createutiform select:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.createutiform select:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
.left table tr td{
	width:200px;
}
#emailid{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#emailid:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#emailid:focus{
 background: no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno1{
 background: no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno1:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno1:focus{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno2{
 background:  no-repeat scroll 0 0 ;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno2:hover{
 background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#ofcphno2:focus{
 background: no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#Utiliser{
	width:0 auto;
	 clear: both;
    height: 42px;
    position: relative;
    width: 100%;
     text-align: center;
}
#Utiliser input[type="button"] {
	   text-align: center;
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#Utiliser input[type="button"]:hover {
	   text-align: center;
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.adminhomepage input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.adminhomepage input[type="button"]:hover {
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#Utiliser input[type="reset"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#Utiliser input[type="reset"]:hover {
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

.rightside h1 span {
  background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #00bafc;
    display: block;
    font-size: 16px;
    height: 28px;
    line-height: 20px;
    margin-left: 0;
    margin-top: -11px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 307px !important;
}
.left h1 span {
  background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #00bafc;
    display: block;
    font-size: 16px;
    height: 28px;
    line-height: 20px;
    margin-left: 0;
    margin-top: -11px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 307px !important;
}
#featuredetail input{
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 150px;
}
#featuredetail input:hover{
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 150px;
}
#feature_category1{
  border: 0.5px solid #ccc;
    border-radius: 3px;
    color: black;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
#feature_category1:hover{

	 border: 0.5px solid #00bafc;
    border-radius: 3px;
    color: #00bafc;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
#plan_view {
    background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 3px;
    transition: all 0.2s linear 0s;
     width:200px;
}
#plan_view:hover {
     background:  no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 3px;
    transition: all 0.2s linear 0s;
    width:200px;
}
#featurenameid {
    background:  no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#featurenameid:hover {
     background: no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#editetextkyc{
	width:600px;
	margin:0 auto;
	
}

.adminhomepage{
	  height: auto;
    margin: 0 auto;
    min-height: 400px;
    position: relative;
    width: 46%;
	
}
#createUtiForm{
	 display: inline-flex;
    position: relative;
}
#viewUsers{
	 display: inline-table;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}
#viewindividualpage{
  display: inline-table;
    height: 50px;
    margin: 0 15px 0 auto;
    text-align: center;
}
#searchicon{
	float:left;
	margin-right: 15px;
	
}
#notifyspecificIndId{
	margin:0 auto;
	width:100%;
}
#notifyspecificIndId table{
	margin:0 auto;
	  width: 52%;

	}
.searchiconselect{
	float:right;
}
#utidomaincreate{
	width:100%;
	position:relative;
}

#utidomaincreate  input{
 background: #efefef;		/*   url("../images/input_leftimg.PNG")    */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#utidomaincreate input:hover{
 background: #efefef;		/* url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
 #utidomaincreate select{
 background: #efefef;		/*    url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#utidomaincreate select:hover{
 background: #efefef;		/*   url("../images/input_leftimg_hover.PNG")     */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#utidomaincreate input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#utidomaincreate input[type="button"]:hover {
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#admincreatepattern  input{
 background: #efefef;		/*   url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#admincreatepattern input:hover{
 background: #efefef;			/*  url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#viewUsers12 input{
	width:10px !important;
}
#showpattern{
	text-align:left;
}
#showpattern li{
	 line-height: 20px;
	  background: url("../resources/images/kycsharingtick.png") no-repeat scroll 0 80% rgba(0, 0, 0, 0);			/* 	url("../resources/images/kycsharingtick.png") */
    margin: 5px;
    padding-left: 20px;
}
#admincreatepattern {
	text-align:left;
}
#admincreatepattern input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
     
}
#admincreatepattern input[type="submit"]:hover {
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    
}
 #featuredetail select{
 background: #efefef;		/*   url("../images/input_leftimg.PNG")  */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#featuredetail select:hover{
 background: #efefef;		/*  url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#Featureshowform select{
 background: #efefef;		/*    url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#Featureshowform select:hover{
 background: #efefef;		/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#featuredetail  input{
    /* background: #efefef;	 */	/*  url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#featuredetail input:hover{
 /* background: #efefef; */		/* url("../images/input_leftimg_hover.PNG") */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

#featuredetail input:focus{
 background: #efefef;			/*   url("../images/input_leftimg_hover.PNG")    */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}


#editfeaturedetail  input{
 background: ;			/*    url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 3px;
    transition: all 0.2s linear 0s;
    width: auto !important;
}

#editfeaturedetail input:hover{
    
    background: url("") no-repeat scroll 0 0;   /*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 3px;
    transition: all 0.2s linear 0s;
    width: auto !important;
    
}
#editfeaturedetail input:focus{
    
    background: url("") no-repeat scroll 0 0;			/*    url("../images/input_leftimg_hover.PNG")    */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 3px;
    transition: all 0.2s linear 0s;
    width: auto !important;
    
}


.CSSTableGenerator td input{
	text-align:center;
}

#utidomaincreate table tr{
	height:20px;
}

#notificationpage input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#notificationpage input[type="button"]:hover {
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#viewDivision {
	width: 390px !important;
	margin-left:0px !important;
}
#viewDivision ul{
	padding: 10px;
}
#deleteDivision  ul{
	padding: 5px;
}

#viewDivision li
{
	font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100% !important;
}

#adminkychierarchy
{	
	height: 60px;
    margin-top: 2px;
    width: auto;  
}

#adminkychierarchy span
{
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-right:10px;
}

#adminkychierarchy input
{  	
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s; 
}

#adminkychierarchy input:hover
{
    background: #fff;		/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
}

#adminkychierarchy input:focus
{
    background: #fff;			/*  url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s; 
}

#adminkychierarchy input[type="button"] 
{
	text-align: center;
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#adminkychierarchy input[type="button"]:hover 
{
	text-align: center;
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

input[type="submit"] 
{
	text-align: center;
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

input[type="submit"]:hover 
{
	text-align: center;
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

.adminkychierarchy
{
	height:60px;
}

#orgKycHierDivId li
{
    float: left;
    height: 22px;
    width: 100%;
}

#orgKycHierDivId input{
	width:20px;
	margin-top:2px;
}

#orgKycHierDivId input:hover{
	width:20px;
	margin-top:2px;
}

#orgKycHierDivId input:focus{
	width:20px;
	margin-top:2px;
}

select
{
    background: #efefef;     /*   url("../images/input_leftimg.PNG")  */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

select:hover{
 background: #efefef;		/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}
#adimacademichierarchy  input{
 background: ;		/*   url("../images/input_leftimg.PNG")  */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
      width: 200px;
  
}
#adimacademichierarchy input:hover{
 background: #fff;			/*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
      width: 200px;
   
}
#adimacademichierarchy input:focus{
 background: #fff;  /* url("../images/input_leftimg_hover.PNG")  */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
      width: 200px;
   
}
#adimacademichierarchy input[type="button"] {
	   text-align: center;
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#adimacademichierarchy input[type="button"]:hover {
	   text-align: center;
    background: none repeat scroll 0 0 #05b7f5;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#leftHierDiv li{
    float: left;
    text-align: left;
    width: 100%;
}
.viewplanepage table tr td{
	text-align:left;
}
.tabledesign  tr th{
	text-align:left;
}
.viewplanepage  input{
 background: ;  /*  url("../images/input_leftimg.PNG")   */
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
}

.viewplanepage input:hover{
 background: #fff;    /*   url("../images/input_leftimg_hover.PNG")   */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
     width: 200px;
}

.viewplanepage input:focus{
    
    background: #fff;			/*   url("../images/input_leftimg_hover.PNG")    */
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    height: auto;
    margin-top: 10px;
    padding: 6px 5px 6px 32px;
    transition: all 0.2s linear 0s;
     width: 200px;
}
 
