.right {
	 border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: auto;
    min-height: 812px !important;
    width: 300px;
      padding-left: 35px;
    
}
.left h1 span {
    background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #00bafc;
    display: block;
    font-size: 16px;
    height: 28px;
    line-height: 20px;
    margin-left: -35px;
    margin-top: -12px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 317px !important;
}
.left {
	border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: auto;
    min-height: 489px;
    padding-left: 35px;
    width: 300px;
       margin-right: 25px;
}
.rightside h1 span {
    background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #00bafc;
    display: block;
    font-size: 16px;
    height: 28px;
    line-height: 20px;
    margin-left: -35px;
    margin-top: -12px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 317px !important;
}