.datagrid table {
	
	border-collapse: collapse;
	/* text-align: left; */
	width: 100%;
	margin: 0 auto;
}

.datagrid {
	
	
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
    display: inline-table;

    margin-top: 5px;
	
}

.datagrid table td,.datagrid table th {
	padding: 3px 10px;
	text-align: center;
	border-left: 1px solid #CCCCCC;
	color: #FFFFFF;
}

.datagrid table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C
		), color-stop(1, #7D7D7D) );
	background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C',
		endColorstr='#7D7D7D' );
	/* background-image: url("../kyc_images/user_profile_bg.jpg"); */
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #A3A3A3;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #7D7D7D;
	border-left: 1px solid #DBDBDB;
	font-size: 12px;
	font-weight: normal;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

.datagrid table tfoot td div {
	border-top: 1px solid #8C8C8C;
	background: #EBEBEB;
}

.datagrid table tfoot td {
	padding: 0;
	font-size: 12px
}

.datagrid table tfoot td div {
	padding: 2px;
}

.datagrid table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.datagrid table tfoot  li {
	display: inline;
}

.datagrid table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #F5F5F5;
	border: 1px solid #8C8C8C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C
		), color-stop(1, #7D7D7D) );
	background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C',
		endColorstr='#7D7D7D' );
	background-color: #8C8C8C;
}

.datagrid table tfoot ul.active,.datagrid table tfoot ul a:hover {
	text-decoration: none;
	border-color: #7D7D7D;
	color: #F5F5F5;
	background: none;
	background-color: #8C8C8C;
}

div.dhtmlx_window_active,div.dhx_modal_cover_dv {
	position: fixed !important;
}

.datagrid table tr:nth-child(1) {
	background-color: #999;
}