/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;

}

#successabc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;

}

img#close{
position: absolute;
right: -14px;
top: -14px;
cursor: pointer;
}

div#popupContact{
background-color: #aaa;
    font-family: 'Raleway',sans-serif;
    left: 50%;
    margin-left: -390px;
    position: absolute;
    top: 17%;
}

div#successpopupContact{
background-color: #aaa;
    font-family: 'Raleway',sans-serif;
    left: 50%;
    margin-left: -390px;
    position: absolute;
    top: 17%;
}

#kycname{
background-image: url('../images/name.jpg');
background-repeat: no-repeat;
background-position: 5px 7px;
}

#kycemail{
background-image: url('../images/email.png');
background-repeat: no-repeat;
background-position: 5px 7px;
}


#submit{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color: white;
border: 1px solid #FFCB00;
padding: 10px 0;
font-size:20px;
cursor:pointer;
border-radius: 5px;
}




/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/
	