/* ---------- General Styles ---------- */
div#plancontainer {
	width: 863px;
	margin: 0 auto;
	padding-top:0px;
	  display: inline;
}

/* ---------- Pricing Table Styles ---------- */
div#plantablecontainer {
	/* border: 1px solid #e2e7eb;
	padding: 1px;	 */

    display: inline-table;
}

div.plantablecell {
	border-right: 1px solid #616365;
	width: 190px;
	float: left;
	
	text-align: center;	
}

table.planpricingtablecontent {   margin: 0 auto;
    text-align: center;
    width: 800px;}

	td {
		text-align: center;
		vertical-align: middle;
		width: 238px;
		
		border-right: 1px solid #e2e7eb;
		
		color: #77808a;
	}
	
	.noBorder { border-right: none; }
	
div.tableHeading {
	background: #3a3c3f url("img/headingPattern.png");
	
	padding-top: 25px;
	height:50px;
}

	div.tableHeading h2 {
		font-family: "Oswald", "Arial", sans-serif;
		font-size: 20px;
		
		color: white;
	}

table.planpricingtablecontent tr td { padding: 10px 0; }

table.planpricingtablecontent tr.panaltrow td { background-color: #d7d7d7; }

table.planpricingtablecontent tr.signUpRow td { padding: 75px 0 20px 0; }

table.planpricingtablecontent td strong { color: #424447; }


table.planpricingtablecontent tfoot td {
	border-top: 1px solid #e2e7eb;
	padding: 25px 0;
}

	table.planpricingtablecontent tfoot td h4 {
		color: #3a3c3f;
		font-size: 18px;
	}

	table.planpricingtablecontent tfoot td span {
		display: block;
		font-size: 12px;
		color: #a1a7b0;
		margin-bottom: 15px;
	}	





/* ---------- Recommended Plan Styles ---------- */
div.recommended .tableHeading, td.recommended {
	background: #3a3c3f;
	color: #b4bac4;
}

	div.recommended .tableHeading {
		background: #3a3c3f url("img/recommendationBadge.png") top left no-repeat;
		margin-top: -20px;
		padding-top: 45px;
	}
	
	table.planpricingtablecontent tr.panaltrow td.recommended { background-color: #46494c; }
	
	table.planpricingtablecontent td.recommended strong, table.pricingTableContent tfoot td.recommended h4 { color: white; }
	
	table.planpricingtablecontent tfoot td.recommended { border-top: 1px solid #4f5357; }
	
div.recommended .price1 { background: url("img/price1BGRecommended.png") top center no-repeat; }
div.recommended .price2 { background: url("img/price2BGRecommended.png") top center no-repeat; }
div.recommended .price3 { background: url("img/price3BGRecommended.png") top center no-repeat; }
div.recommended .price4 { background: url("img/price4BGRecommended.png") top center no-repeat; }



/* ---------- Button Styles ---------- */
a.signUpButton {
	color: white;
	border: 1px solid #234e8e;
	font-weight: bold;	
 	padding:8px 25px;
 	display: inline-block; 
   border-radius: 5px;
	background-color: #2972b0; /* Fallback Color */
	background: -moz-linear-gradient(top, #44a3d5, #2972b0); /* FF 3.6+ */
	background: -webkit-linear-gradient(top, #44a3d5, #2972b0); /* Safari 5.1+, Chrome 10+ */
}

a.signUpButton:hover {
	background-color: #2972b0 !important; /* Fallback Color */
	background: -moz-linear-gradient(top, #2972b0, #44a3d5)!important; /* FF 3.6+ */
	background: -webkit-linear-gradient(top, #2972b0, #44a3d5) !important; /* Safari 5.1+, Chrome 10+ */
}

#plantablecontainer a:hover{
	background-color: #2972b0 !important; /* Fallback Color */
	background: -moz-linear-gradient(top, #2972b0, #44a3d5)!important; /* FF 3.6+ */
	background: -webkit-linear-gradient(top, #2972b0, #44a3d5) !important; /* Safari 5.1+, Chrome 10+ */
}



/* ---------- Browser Compatibility Fixes ---------- */
.ie7 .price1 p { padding-top: 25px; }
.ie7 .price2 p { padding-top: 30px; }
.ie7 .price3 p { padding-top: 30px; }
.ie7 .price4 p { padding-top: 35px; }

.ie7 .priceContainer span { display: inline-block; }

.ie7 div.recommended .tableHeading {
	z-index: 100;
	position: relative;
}

.ie7 table.planpricingtablecontent tr.signUpRow td.recommended { z-index: 10; }

/*--planHeading-06.10.14--*/

.planHeading{
	 background-color: #eee;
	 color:#000 !important;
	 
}
.tableHeading01{
	 background-color: #44a7c7 ;
}
.tableHeading02
{ background-color: #44a3d5;
}
.tableHeading03{
	 background-color: #2972b0;
}
.tableHeading04{
	 background-color: #234e8e;
}



/* RESET */
/* ----------------------------------------- */

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
/* *, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 } */
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight:bold }
em { font-style:italic }
a img { border:none } /* Gets rid of IE's blue borders */

sup { font-size: 50%; }

a, a:hover { text-decoration: none; }



.firebugResetStyles {
    z-index: 2147483646 !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    position: fixed !important;
    transform: rotate(0deg) !important;
    transform-origin: 50% 50% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent none !important;
    pointer-events: none !important;
    white-space: normal !important;
}
style.firebugResetStyles {
    display: none !important;
}

.firebugBlockBackgroundColor {
    background-color: transparent !important;
}

.firebugResetStyles:before, .firebugResetStyles:after {
    content: "" !important;
}
/**actual styling to be modified by firebug theme**/
.firebugCanvas {
    display: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBox {
    width: auto !important;
    position: static !important;
}

.firebugLayoutBoxOffset {
    opacity: 0.8 !important;
    position: fixed !important;
}

.firebugLayoutLine {
    opacity: 0.4 !important;
    background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
    width: 1px !important;
    height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
    width: 100% !important;
    height: 1px !important;
}

.firebugLayoutLineTop {
    margin-top: -1px !important;
    border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
    border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
    border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
    margin-left: -1px !important;
    border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
    border-top: 0 none !important;
    border-right: 1px dashed #E00 !important;
    border-bottom: 1px dashed #E00 !important;
    border-left: 0 none !important;
    position: fixed !important;
    width: auto !important;
}

.firebugRuler{
    position: absolute !important;
}

.firebugRulerH {
    top: -15px !important;
    left: 0 !important;
    width: 100% !important;
    height: 14px !important;
    background: url("image/png") repeat-x !important;
    border-top: 1px solid #BBBBBB !important;
    border-right: 1px dashed #BBBBBB !important;
    border-bottom: 1px solid #000000 !important;
}

.firebugRulerV {
    top: 0 !important;
    left: -15px !important;
    width: 14px !important;
    height: 100% !important;
    background: url("") repeat-y !important;
    border-left: 1px solid #BBBBBB !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px dashed #BBBBBB !important;
}

.overflowRulerX > .firebugRulerV {
    left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
    top: 0 !important;
}
.planpricingtablecontent tr th
{
    border-right: 1px solid #ccc;
    color: #fff;
    font-size: 22px;
    font-weight: normal !important;
    height: 35px;
    text-align: center !important;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
    position: fixed !important;
    pointer-events: auto !important;
}
.d_table_l_grey{
	background-color:#303030
}
.d_table_d_grey{
	background-color:#3a3a3a
}
.planfreeh4{
	color:#fff !important;
}
