#button {
	
	border-right:none;
	padding: 0 0 1em 0;
	margin-bottom: none;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;

}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2em;
}
	
#button li {
	border-bottom: 1px solid white;
	margin-bottom: 43px;
	list-style: none;
	list-style-image: none;
	   text-align: left;
	   width: 290px;
	
}
	
#button li a {
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#button li a:hover {
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
}
#Hi-B-1 span{
	margin-left:15px;
}
#Hi-B-1 a{
  background:url("../kyc_images/kyc_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#Hi-B-1 a:hover{
	background:url("../kyc_images/kyc_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#academic_document span{
	margin-left:15px;
}
#academic_document a{
  background:url("../kyc_images/academic_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#academic_document a:hover{
	background:url("../kyc_images/academic_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#financial_document span{
	margin-left:15px;
}
#financial_document a{
  background:url("../kyc_images/financial_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#financial_document a:hover{
	background:url("../kyc_images/financial_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#employee_document span{
	margin-left:15px;
}
#employee_document a{
  background:url("../kyc_images/employee_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#employee_document a:hover{
	background:url("../kyc_images/employee_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#busniss_document span{
	margin-left:15px;
}
#busniss_document a{
  background:url("../kyc_images/busniss_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#busniss_document a:hover{
	background:url("../kyc_images/busniss_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
.kycdocument a{
	 background: url("../images/kyc_document_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	}
.kycdocument a:hover{
	 background: url("../images/kyc_document_icon_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	}
	
<!----- pancard inner page design ------->
#pandocument_name a{
  background:url("../kyc_images/kyc_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#dialog input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#dialog input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#dialog input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#dialog input[type="button"]:hover {
		background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
    
}
#dialog textarea {
		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    
}
#dialog textarea:hover {
		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#academic_details input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#academic_details input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#panel-1 input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 select{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#panel-1 select:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 textarea{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#panel-1 textarea:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 text{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#panel-1 text:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#center-body-div text{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#center-body-div text:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 span{
float:right;
}
#panel-1 input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#panel-1 input[type="submit"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="submit"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#panel-1 input[type="reset"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="reset"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#panel-1 input[type="History"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
     text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="History"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#searchfinancial input{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 165px;
}
#searchfinancial input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 165px;
    color:#00b6f5;
     text-decoration: none;
    
}
#searchfinancial select{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 185px;
}
#searchfinancial select:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 185px;
    color:#00b6f5;
     text-decoration: none;
    
}
#searchfinancial span {
    float: right;
}
#searchfinancial {
 font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
#searchfinancial input[type="SearchHistory"] {
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
   margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#searchfinancial input[type="SearchHistory"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#searchfinancial input[type="New"]{
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#searchfinancial input[type="New"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
