#left-profile-div { 
  width:263px; 
   height:490px; 
   background-image:url("resources/kyc_images/user_profile_bg.jpg"); 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left
   overflow: auto;
}

#center-body-div { 
  background-color: rgba(0, 0, 0, 0);
    background-image: url("resources/kyc_images/user_profile_bg.jpg");
    border-color: #66CCFF;
    border-style: solid;
    border-width: 0;
    height: 490px;
    margin: 15px auto auto;
    width: 750px;
   
}

#right-add-div { 
  width:170px; 
   height:508px; 
   background-image:url("resources/kyc_images/user_profile_bg.jpg"); 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left
}
.ui-accordion-header-icon ui-icon ui-icon-triangle-1-e {
	
	float:right;
	width:100%:
}