
.activmode{
	
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 242px;
    color:#00b6f5;
     text-decoration: none;
}



#button {
	
	border-right:none;
	padding: 0 0 1em 0;
	margin-bottom: none;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 14px;
	  margin-top: 32px;

}





#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2em;
}

#button li {
	border-bottom: 1px solid white;
	margin-bottom: 43px;
	list-style: none;
	list-style-image: none;
	   text-align: left;
	   width: 290px;
	
}
	
#button li a {
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 226px;
}

#button li a:hover {
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 226px;
    color:#00b6f5;
     text-decoration: none;
}

#Hi-B-1 span{
	margin-left:35px;
}
#Hi-B-1 a{
  background:url("../kyc_images/kyc_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#Hi-B-1 a:hover{
	background:url("../kyc_images/kyc_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
#documentsactive{
	background:url("../kyc_images/kyc_document_icon_hover.png") 0 0 no-repeat #fff !important;
    border: 1px 1px 1px 12px solid #00b6f5!important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 10px 5px 10px 10px;
    position: absolute;
    color:#00b6f5 !important;
     width: 242px;
     
    
}
#academic_document span{
	margin-left:35px;
}
#academic_document a{
  background:url("../kyc_images/academic_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#academic_document a:hover{
	background:url("../kyc_images/academic_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#academic_documentactive{
	background:url("../kyc_images/academic_document_icon_hover.png") 0 0 no-repeat #fff !important;
    border: 1px 1px 1px 12px solid #00b6f5 !important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
   color:#00b6f5 !important;
     width: 242px;
    
}
#financial_document span{
	margin-left:35px;
}
#financial_document a{
  background:url("../kyc_images/financial_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#financial_document a:hover{
	background:url("../kyc_images/financial_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#financial_documentactive{
	background:url("../kyc_images/financial_document_icon_hover.png") 0 0 no-repeat #fff  !important;
    border: 1px 1px 1px 12px solid #00b6f5  !important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#00b6f5 !important;
     width: 225px;
    
}
#employee_document span{
	margin-left:35px;
}
#employee_document a{
  background:url("../kyc_images/employee_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#employee_document a:hover{
	background:url("../kyc_images/employee_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#employee_documentactive{
	background:url("../kyc_images/employee_document_icon_hover.png") 0 0 no-repeat #fff !important;
    border: 1px 1px 1px 12px solid #00b6f5 !important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
#busniss_document span{
	margin-left:35px;
}
#busniss_document a{
  background:url("../kyc_images/busniss_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#busniss_document a:hover{
	background:url("../kyc_images/busniss_document_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
.kycdocument a{
	 background: url("../images/kyc_document_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	}
.kycdocument a:hover{
	 background: url("../images/kyc_document_icon_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	}
	
<!----- pancard inner page design ------->
#pandocument_name a{
  background:url("../kyc_images/kyc_document_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#dialog input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#dialog input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#dialog input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#dialog input[type="button"]:hover {
		background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
    
}
#dialog textarea {
		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    
}
#dialog textarea:hover {
		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#academic_details input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#academic_details input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
.form-row i {
    cursor: pointer;
    float: left;
      height: 36px;
    margin: 5px -2px 0;
}

.firstname{
	 background: url("../kyc_images/firstname_icon.png") no-repeat scroll 0 0 #efefef;
	 padding-left:  50px !important;
    }
.firstname:hover{
	 background: url("../kyc_images/firstname_icon_hover.png") no-repeat scroll 0 0 #efefef;
	 padding-left: 50px !important;
    }
.firstname:focus{
	 background: url("../kyc_images/firstname_icon_hover.png") no-repeat scroll 0 0 #fff;
	 padding-left: 50px !important;
    }
/*     .middlename{
	 background: #efefef;

    }
        .middlename:hover{
	 background:  #efefef;

    }
        .middlename:focus{
	 background: #fff;

    }
        .lasstname{
	 background: #efefef;

    }       
     .lasstname:hover{
	 background: #efefef;

    }
            .lasstname:focus{
	 background: #fff;

    }*/ 
    .mailidicons{
	 background: url("../kyc_images/mainid_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.mailidicons:hover{
	 background: url("../kyc_images/mainid_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.mailidicons:focus{
	 background: url("../kyc_images/mainid_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .mobileicons{
	 background: url("../kyc_images/mobile_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.mobileicons:hover{
	 background: url("../kyc_images/mobile_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.mobileicons:focus{
	 background: url("../kyc_images/mobile_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
       .gendericons{
	 background: url("../kyc_images/spousegender_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.gendericons:hover{
	 background: url("../kyc_images/spousegender_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.gendericons:focus{
	 background: url("../kyc_images/gender_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .facebookicons{
	 background: url("../kyc_images/facebook_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.facebookicons:hover{
	 background: url("../kyc_images/facebook_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.facebookicons:focus{
	 background: url("../kyc_images/facebook_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .twittericons{
	 background: url("../kyc_images/twitter_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.twittericons:hover{
	 background: url("../kyc_images/twitter_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.twittericons:focus{
	 background: url("../kyc_images/twitter_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .linkedinicons{
	 background: url("../kyc_images/linkedin_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.linkedinicons:hover{
	 background: url("../kyc_images/linkedin_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.linkedinicons:focus{
	 background: url("../kyc_images/linkedin_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .fathernameicons{
	 background: url("../kyc_images/fathername_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.fathernameicons:hover{
	 background: url("../kyc_images/fathername_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.fathernameicons:focus{
	 background: url("../kyc_images/fathername_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }

.mothernameicons{
	 background: url("../kyc_images/mother_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.mothernameicons:hover{
	 background: url("../kyc_images/mother_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.mothernameicons:focus{
	 background: url("../kyc_images/mother_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
.siblingnameicons{
	 background: url("../kyc_images/sibling_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.siblingnameicons:hover{
	 background: url("../kyc_images/sibling_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.siblingnameicons:focus{
	 background: url("../kyc_images/sibling_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
.matrialstatusicons{
	 background: url("../kyc_images/matrialstatus_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.matrialstatusicons:hover{
	 background: url("../kyc_images/matrialstatus_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.matrialstatusicons:focus{
	 background: url("../kyc_images/matrialstatus_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
    .spousegendericons{
	 background: url("../kyc_images/spousegender_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.spousegendericons:hover{
	 background: url("../kyc_images/spousegender_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.spousegendericons:focus{
	 background: url("../kyc_images/spousegender_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .spousenameicons{
	 background: url("../kyc_images/spousename_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.spousenameicons:hover{
	 background: url("../kyc_images/spousename_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.spousenameicons:focus{
	 background: url("../kyc_images/spousename_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .horoscopeicons{
	 background: url("../kyc_images/horoscope_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.horoscopeicons:hover{
	 background: url("../kyc_images/horoscope_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.horoscopeicons:focus{
	 background: url("../kyc_images/horoscope_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
         .foodprefericons{
	 background: url("../kyc_images/foodprefer_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.foodprefericons:hover{
	 background: url("../kyc_images/foodprefer_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.foodprefericons:focus{
	 background: url("../kyc_images/foodprefer_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
      .dateofbirthicons{
	 background: url("../kyc_images/dateofbirth_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.dateofbirthicons:hover{
	 background: url("../kyc_images/dateofbirth_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.dateofbirthicons:focus{
	 background: url("../kyc_images/dateofbirth_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
     .telofficeicons{
	 background: url("../kyc_images/teloffice_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.telofficeicons:hover{
	 background: url("../kyc_images/teloffice_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.telofficeicons:focus{
	 background: url("../kyc_images/teloffice_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
         .telresidentialicons{
	 background: url("../kyc_images/telhome_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.telresidentialicons:hover{
	 background: url("../kyc_images/telhome_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.telresidentialicons:focus{
	 background: url("../kyc_images/telhome_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
    .nationalityicons{
	 background: url("../kyc_images/nationality_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.nationalityicons:hover{
	 background: url("../kyc_images/nationality_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.nationalityicons:focus{
	 background: url("../kyc_images/nationality_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
       .matrialstatusicons{
	 background: url("../kyc_images/matrialstatus_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.matrialstatusicons:hover{
	 background: url("../kyc_images/matrialstatus_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.matrialstatusicons:focus{
	 background: url("../kyc_images/matrialstatus_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
    .languagesicons{
	 background: url("../kyc_images/languages_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.languagesicons:hover{
	 background: url("../kyc_images/languages_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.languagesicons:focus{
	 background: url("../kyc_images/languages_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }
    .hobbiesicons{
	 background: url("../kyc_images/hobbies_icons.png") no-repeat scroll 0 0 #efefef;
padding-left:  50px !important;
    }
.hobbiesicons:hover{
	 background: url("../kyc_images/hobbies_icons_hover.png") no-repeat scroll 0 0 #efefef;
padding-left: 50px !important;
    }
.hobbiesicons:focus{
	 background: url("../kyc_images/hobbies_icons_hover.png") no-repeat scroll 0 0 #fff;
padding-left: 50px !important;
    }

#permanentaddressdetails input{
width:140px  !important;
}
#permanentaddressdetails input:hover{
width:140px  !important;
}
#permanentaddressdetails input:focus{
width:140px  !important;
}
#presentaddressdetails input{
width:140px  !important;
}
#presentaddressdetails input:hover{
width:140px  !important;
}
#presentaddressdetails input:focus{
width:140px  !important;
}
#familydetailalign input{
width:182px    !important;
}
#familydetailalign input:hover{
width:182px    !important;
}
#familydetailalign input:focus{
width:182px    !important;
}
#basicsdetailalign input{
width:182px   !important;
}
#basicsdetailalign input:hover{
width:182px    !important;
}
#basicsdetailalign input:focus{
width:182px    !important;
}
#panel-1 input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-sizing: content-box;
    /* color: #777777; */
    /* background-color: #efefef; */
    margin-top: 4px;
    padding: 10px 5px 9px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    }
    
    
#panel-1 input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-sizing: content-box;
    margin-top: 4px;
    background-color: #efefef;
    padding: 10px 5px 9px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    color:#00b6f5;

     text-decoration: none;
    
}
#panel-1 input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 1px;
    box-sizing: content-box;
    margin-top: 4px;
    background-color: #fff;
    padding: 10px 5px 9px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    color:#000;

     text-decoration: none;
    
}
#employeedetails ul li  input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
  color: #777777;
    /* background-color: #efefef; */
    margin-top: 4px;
    padding: 10px 5px 9px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    }
 input[type=checkbox]
{
	 width: 15px !important; 
  height: 15px !important;
/*   -ms-transform: scale(1); 
  -moz-transform: scale(1); 
  -webkit-transform: scale(1); 
  -o-transform: scale(1);  */
  padding: 5px;
}
/* input[type="checkbox"]{
  width: 25px; Desired width
  height: 25px; Desired height
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}   */
#employeedetails ul li  input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    background-color: #efefef;
    padding: 10px 5px 9px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    color:#00b6f5;

     text-decoration: none;
    
}
#employeedetails ul li  input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    background-color: #fff;
    padding: 10px 5px 9px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
     margin-bottom: 5px;
    color:#000;

     text-decoration: none;
    
}

#kycdocumentpage input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding:5px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 240px;
   
    }
#kycdocumentpage input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
   padding:5px;
    transition: all 0.2s linear 0s;
    width: 240px;
    
    color:#00b6f5;
     text-decoration: none;
    
}
#kycdocumentpage input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding:5px;
    transition: all 0.2s linear 0s;
    width: 240px;
    color:#000;
     text-decoration: none;
    
}
#browseimagebutton input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding:5px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width:70px !important;
       display: inline-table; 
      height:30px;
  
    }
#browseimagebutton input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
   padding:5px;
    transition: all 0.2s linear 0s;
       width:70px !important;
     display: inline-table;
    color:#00b6f5;
     text-decoration: none;
     height:30px;
    
}
#browseimagebutton input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding:5px;
    transition: all 0.2s linear 0s;
      width:70px !important;
    color:#000;
     text-decoration: none;
       display: inline-table;
       height:30px;
      /*  -webkit-margin-after: -19px !important; */
}

#kycdocumentpage select{
  background: none repeat scroll 0 0 rgba(1, 1, 1, 0.08);
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 23em;
     height:30px;
     border-color:#777;
        -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
    
    }
#kycdocumentpage select:hover {
	  background: none repeat scroll 0 0 transparent;
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    transition: all 0.2s linear 0s;
    width: 23em;
    color:#777;
     text-decoration: none;
     height:30px;
      border-color:#00b6f5;
         -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
    
}
#kycdocumentpage select:focus {
	  background: none repeat scroll 0 0 transparent;
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    transition: all 0.2s linear 0s;
    width: 23em;
    color:#777;
     text-decoration: none;
     height:30px;
      border-color:#00b6f5;
         -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
    
}
.styled-select {
   background: url("../images/drop_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 37px;
    overflow: hidden;
    width: 262px;
   }
   .styled-select:hover {
   background: url("../images/drop_arrow_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 37px;
    overflow: hidden;
    width: 262px;
   }
   .styled-select:focus {
   background: url("../images/drop_arrow_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 37px;
    overflow: hidden;
    width: 262px;
   }
   .styled-select:active {
   background: url("../images/drop_arrow_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 37px;
    overflow: hidden;
    width: 262px;
   }
#kycdocumentpage textarea{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width:20em;
     border-color:#777;
     
    
}
#kycdocumentpage textarea:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#000;
     text-decoration: none;
      border-color:#00b6f5;
    
}
#kycdocumentpage textarea:focus {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#000;
     text-decoration: none;
      border-color:#00b6f5;
    
}
#kycdocumentpage input[type="History"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
     text-align: center;
    transition: all 0.2s linear 0s;
    width:  90px;
}
#kycdocumentpage input[type="History"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: 90px;
     min-width: 90px;
}


/* #panel-1 select{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#panel-1 select:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
} */
.hscregisterdocument input{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
       width: 202px !important;
}
.hscregisterdocument input:hover{
	   width: 202px !important;
	    color:#00b6f5 !important;;
}
.hscregisterdocument textarea{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
     width: 202px !important;
}
.hscregisterdocument textarea:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
      width: 202px !important;
    color:#00b6f5;
     text-decoration: none;
    
}
#panel-1 textarea{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-bottom: 5px;
    margin-top: 5px;
    padding:1px 0 1px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
     font-size: 12px;
}
#panel-1 textarea:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 5px;
    padding: 1px 0 1px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
      font-size: 12px;
    
}
#panel-1 textarea:focus {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 5px;
    padding: 1px 0 1px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
      font-size: 12px;
    
}
#panel-1 text{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#panel-1 text:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
#center-body-div text{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#center-body-div text:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#00b6f5;
     text-decoration: none;
    
}
/* #panel-1 span{
float:right;
} */
#kycdocumentpage input[type="button"]
{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px !important;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#kycdocumentpage input[type="button"]{
   background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 75px !important;
    padding: 5px;
    text-align: right;
    transition: all 0.2s linear 0s;
    width: 70px !important;
}

#kycdocumentpage input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
 width: 70px !important;
     min-width: 75px !important;
       text-align: right;
}
.addsalaryslip{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 5px !important;
    padding: 7px !important;
    text-align: right;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}

.addsalaryslip:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 5px !important;
    padding: 7px !important;
    text-align: right;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}
.empsalaryslippayslip_div select {
	
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #00bafc;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 5px !important;
    padding: 4px !important;
    text-align: left;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}
.empsalaryslippayslip_div select:hover {
	
	background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 5px !important;
    padding: 4px !important;
    text-align: left;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}
.empsalaryslippayslip_div input {
	  background: none repeat scroll 0 0 #fff;
    border: 1px solid #00bafc;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 10px 50px !important;
    padding: 6px !important;
    text-align: left;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}
.empsalaryslippayslip_div input:hover {
	
	background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #00bafc;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 10px 50px !important;
    padding: 6px !important;
    text-align: left;
    transition: all 0.2s linear 0s !important;
    width: auto !important;
}
.empsalaryslippayslip_div option {
    background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    color: #000;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 3px 5px 4px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    text-align:left !important;
}
/* #panel-1 input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
 */
.employeedetails  input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:0;
    min-width: 160px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.employeedetails input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 160px;
}


#indexinputbutton input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 0px solid #898989;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
     margin:0;
    min-width: 0px;
    padding-top: 0; 
    transition: all 0.2s linear 0s;
    width: 90px !important;
    height:28px;
}
#indexinputbutton  input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 0px solid #898989;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    float: right;
      margin-left: 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 14px;
    margin:0;
  padding-top: 0;
     font-weight: bold;
    transition: all 0.2s linear 0s;
  min-width: 0px;
   width: 90px !important;
     height:28px;
}
 .editebutton{
	  background: url("../images/edit_button_img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.editebutton:hover{
	background: url("../images/edit_button_img_hover.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
 .historybutton{
	  background: url("../images/historybutton_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  height:32px;
	  width:82px;
}

.historybutton:hover{
	background: url("../images/historybutton_icon_hover.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  height:32px;
	  width:82px;	
} 

.backbuttonindex_icon{
	  background: url("../images/backbuttonindex_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  height:32px;
	  width:82px;
}

.backbuttonindex_icon:hover{
	background: url("../images/backbuttonindex_icon_hover.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  height:32px;
	  width:82px;	
} 

.sharingnon_clensee input{
	padding-top:0px !important;
	    height: 25px;
}
.backbuttonindex_histy{
	background: url("../images/backbuttonindex_icon.png") no-repeat scroll 0 0 #ebebeb !important;
    box-sizing: border-box !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    color: #333 !important;
    float: right !important;
    font-weight: bold !important;
    height: 32px !important;
    margin-bottom: 10px !important;
    min-width: 65px !important;
    text-align: right;
    width: 90px !important;
     font-size: 12px !important;
    padding: 0 18px !important;
}

.backbuttonindex_histy:hover{
	background: url("../images/backbuttonindex_icon_hover.png") no-repeat scroll 0 0 #00b6f5  !important;
      box-sizing: border-box !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    color: #333 !important;
    float: right !important;
    font-weight: bold !important;
    height: 32px !important;
    margin-bottom: 10px !important;
    min-width: 65px !important;
    text-align: right;
    width: 90px !important;
     font-size: 12px !important;
       padding: 0 18px !important;
} 
.backbuttonuti_histy{
	  background: url("../images/backbuttonindex_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  border: medium none;
    color: #fff;
    float: right;
    font-weight: bold;
    height: 32px;
    margin-bottom: 10px;
    width: 82px;
       margin-top: 25px;
}

.backbuttonuti_histy:hover{
	background: url("../images/backbuttonindex_icon_hover.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	  border: medium none;
    color: #333;
    float: right;
    font-weight: bold;
    height: 32px;
    margin-bottom: 10px;
    width: 82px;	
       margin-top: 25px;
} 
#panel-1 input[type="submit"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="submit"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#panel-1 input[type="reset"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="reset"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
/* #panel-1 input[type="History"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
     text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
}
#panel-1 input[type="History"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
} */
#searchfinancial input{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 165px;
}
#searchfinancial input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 165px;
    color:#00b6f5;
     text-decoration: none;
    
}
#searchfinancial select{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 185px;
}
#searchfinancial select:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 185px;
    color:#00b6f5;
     text-decoration: none;
    
}
#searchfinancial span {
    float: right;
}
#searchfinancial {
 font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
#searchfinancial input[type="SearchHistory"] {
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
   margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#searchfinancial input[type="SearchHistory"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#searchfinancial input[type="New"]{
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#searchfinancial input[type="New"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#social-facebook {
    background: url("../kyc_images/social_facebook.png") no-repeat scroll 0 0 #efefef;
    color: #777;
    display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    width: 225px;
}
#social-facebook:hover{
    background: url("../kyc_images/social_facebook_hover.png") no-repeat scroll 0 0 #efefef;
    color: #777;
    display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    width: 225px;
}
.myaccounts
{
	 word-wrap: break-word;
	 	 word-wrap: break-word;
  
   overflow: hidden;
  
    -ms-word-wrap: break-word;
     -webkid-word-wrap: break-word;
}

.myaccounts span {
    line-height: 15px;
    margin-left: 0 !important;
}
.myaccounts table td span{
 display: block;
    line-height: 15px;
    margin-left: 4px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}


/*01.10.14 View-EmployeeDeatils*/
#financialAddDocumentPannel select {
    background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 5px 0px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
     height: 32px;
}
#financialAddDocumentPannel select:hover {
    background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 5px 0px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
     height: 32px;
}
#financialAddDocumentPannel select:focus {
    background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 5px 0px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
     height: 32px;
}
#financialAddDocumentPannel input {
    background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 4px;
    padding:10px 5px 5px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
   }
#financialAddDocumentPannel input:hover {
    background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 5px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    
}
#financialAddDocumentPannel input:focus {
    background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #00b6f5;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 5px 32px;
    transition: all 0.2s linear 0s;
    width:200px;
     
}
#financialAddDocumentPannel input[type="button"]{
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#financialAddDocumentPannel input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#financialAddDocumentPannel input[type="Reset"]{
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    text-align: center;
      float: right;
    
}
#financialAddDocumentPannel input[type="Reset"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
     margin:5px;
    padding: 5px;
     font-weight: bold;
      text-align: center;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#viewBrowseDoc input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
       margin-bottom: 10px;
    }
#viewBrowseDoc input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
       margin-bottom: 10px;
    color:#00b6f5;
     text-decoration: none;
    
}
#viewBrowseDoc input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#000;
     text-decoration: none;
        margin-bottom: 10px;
    
}

/*01.10.14 View-EmployeeDeatils End*/


/*07.10.14 sharing-employeedocuments*/
#sharingdoc  input[type="submit"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#sharingdoc input[type="submit"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
}
#nonKycUserDiv   input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#nonKycUserDiv  input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
}

#nonKycUserDiv input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 3px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 150px;
    }
#nonKycUserDiv input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 3px 10px;
    transition: all 0.2s linear 0s;
    width: 150px;
    
    color:#00b6f5;
     text-decoration: none;
    
}
#sharecodeIdbutton  input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
     border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#sharecodeIdbutton  input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
}
#successcode  input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#successcode  input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
}

/*07.10.14 sharing-employeedocuments-end*/

/*13.10.14 sharing-employeedocuments*/
#generatcodeicons a{
  background:url("../kyc_images/generat_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#generatcodeicons a:hover{
	background:url("../kyc_images/generat_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#applycodeicon a{
  background:url("../kyc_images/aplycode_iocn.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#applycodeicon a:hover{
	background:url("../kyc_images/aplycode_iocn_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#allowaccessicon a{
  background:url("../kyc_images/allowaccess_iocn.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#allowaccessicon a:hover{
	background:url("../kyc_images/allowaccess_iocn_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#revokecodeicon a{
  background:url("../kyc_images/revokecode.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#revokecodeicon a:hover{
	background:url("../kyc_images/revokecode_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#sharingdocumenthisticon a{
  background:url("../kyc_images/sharingdocumenthist.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#sharingdocumenthisticon a:hover{
	background:url("../kyc_images/sharingdocumenthist_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}

#settingsmain input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
       margin-bottom: 10px;
    }
#settingsmain input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
       margin-bottom: 10px;
    color:#00b6f5;
     text-decoration: none;
    
}
#settingsmain input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#000;
     text-decoration: none;
        margin-bottom: 10px;
    
}
#visibility  input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 35px 5px;
     padding: 5px 0 5px 20px;
    min-width: 85px;
    transition: all 0.2s linear 0s;
    width: auto;
    float:right;
}
#visibility  input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 35px 5px;
     font-weight: bold;
     padding: 5px 0 5px 20px;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
     float:right;
}
#settingsmain  input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
     padding: 5px 0 5px 20px;
    min-width: 70px;
    transition: all 0.2s linear 0s;
    width: auto;
     float: right;
}
#settingsmain input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
     font-weight: bold;
     padding: 5px 0 5px 20px;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 70px;
      float: right;
}
/*13.10.14 sharing-employeedocuments-end*/
#organisestore a{
  background:url("../kyc_images/organise_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#organisestore a:hover{
	background:url("../kyc_images/organise_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#createstore a{
  background:url("../kyc_images/createstore_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#createstore a:hover{
	background:url("../kyc_images/createstore_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#removestore a{
  background:url("../kyc_images/removestore_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#removestore a:hover{
	background:url("../kyc_images/removestore_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#myvisitor a{
  background:url("../kyc_images/myvisitor_iocn.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#myvisitor a:hover{
	background:url("../kyc_images/myvisitor_iocn_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#mynotification a{
  background:url("../kyc_images/mynotification_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#mynotification a:hover{
	background:url("../kyc_images/mynotification_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#myactivities a{
  background:url("../kyc_images/myactivities_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#myactivities a:hover{
	background:url("../kyc_images/myactivities_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#myplanext a{
  background:url("../kyc_images/myplan_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#myplanext a:hover{
	background:url("../kyc_images/myplan_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#migrateplan a{
  background:url("../kyc_images/migrateplan_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#migrateplan a:hover{
	background:url("../kyc_images/migrateplan_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#passwordsetting a{
  background:url("../kyc_images/passwordsetting_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#passwordsetting a:hover{
	background:url("../kyc_images/passwordsetting_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#visibility a{
  background:url("../kyc_images/visibility_icon.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#visibility a:hover{
	background:url("../kyc_images/visibility_icon_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
#usage a{
  background:url("../kyc_images/usage_iocn.png") 0 0 no-repeat #EFEFEF;
  border: 1px 1px 1px 12px solid #B2B2B2;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
     color:#777;
      width: 225px;
    
}
#usage a:hover{
	background:url("../kyc_images/usage_iocn_hover.png") 0 0 no-repeat #fff;
    border: 1px 1px 1px 12px solid #00b6f5;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:00b6f5;
     width: 225px;
    
}
.showcodepage input[type="submit"]{
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
       border-radius: 5px;
    color: #05b7f5;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.showcodepage input[type="submit"]:hover{
background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

/*KYC Contacts  */
#kyccontactpage input{
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
    }
#kyccontactpage input:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    
    color:#00b6f5;
     text-decoration: none;
    
}
#kyccontactpage input:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
     border-color:#00b6f5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 3px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#000;
     text-decoration: none;
    
}

#kyccontactpage select{

-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
     height:30px;
     border-color:#777;
    
    }
#kyccontactpage select:hover {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#777;
     text-decoration: none;
     height:30px;
      border-color:#00b6f5;
    
}
#kyccontactpage select:focus {
	
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 0px 14px 0px 0px;
    transition: all 0.2s linear 0s;
    width: 225px;
    color:#777;
     text-decoration: none;
     height:30px;
      border-color:#00b6f5;
    
}
#kyccontactpage textarea{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 500px;
     border-color:#777;
      height:88px;
    
}
#kyccontactpage textarea:hover {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 500px;
    color:#000;
     text-decoration: none;
      border-color:#00b6f5;
       height:88px;
    
}
#kyccontactpage textarea:focus {
		 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    transition: all 0.2s linear 0s;
    width: 500px;
    color:#000;
     text-decoration: none;
      border-color:#00b6f5;
      height:88px;
    
}
#kyccontactpage input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#kyccontactpage input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#button li a span{
	margin-left:35px;
}
/*KYC Contact End  */


/* activebuttonstyle */


.generatcodeiconsactive{
	
	background:url("../kyc_images/generat_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}


.applycodeiconactive{
	background:url("../kyc_images/aplycode_iocn_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}

.allowaccessiconactive{
	background:url("../kyc_images/allowaccess_iocn_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}

.revokecodeiconactive{
	background:url("../kyc_images/revokecode_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}

.sharingdocumenthisticonactive {
	background:url("../kyc_images/sharingdocumenthist_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}

.myplanextactive {
	background:url("../kyc_images/myplan_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
.myvisitoractive{
	background:url("../kyc_images/myvisitor_iocn_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
.mynotificationactive{
	background:url("../kyc_images/mynotification_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
.myactivitiesactive{
	background:url("../kyc_images/myactivities_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}
.migrateplanactive {
	background:url("../kyc_images/migrateplan_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;  
}
.passwordsettingactive{
	background:url("../kyc_images/passwordsetting_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;  
}
.visibilityactive{
	background:url("../kyc_images/visibility_icon_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;  
}
.usageactive{
	background:url("../kyc_images/usage_iocn_hover.png") 0 0 no-repeat #fff !important;;
    border: 1px 1px 1px 12px solid #00b6f5 !important;;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;  
}


/* For utilizer */

.viewedDocumentActive{
	background:url("../kyc_images/kyc_document_icon_hover.png") 0 0 no-repeat #fff !important;
    border: 1px 1px 1px 12px solid #00b6f5!important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 10px 5px 10px 10px;
    position: absolute;
    color:#00b6f5 !important;
     width: 242px;
     
    
}

.awaitedDocActive{
	
	background:url("../kyc_images/employee_document_icon_hover.png") 0 0 no-repeat #fff !important;
    border: 1px 1px 1px 12px solid #00b6f5 !important;
   display: inline;
    float: left;
    margin-left: -15px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    color:#00b6f5 !important;
     width: 225px;
    
}


