#left-profile-div { 
  width:263px; 
   height:490px; 
 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left;
   overflow: auto;
}

#center-body-div { 
  background-color: rgba(0, 0, 0, 0);
 
    border-color: #66CCFF;
    border-style: solid;
    border-width: 0;
    height: auto;
    margin: 0;
    width:100%;
      position: relative;
   
}

#right-add-div { 
  width:170px; 
   height:508px; 
 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left
}
.ui-accordion-header-icon ui-icon ui-icon-triangle-1-e {
	
	float:right;
	width:100%:
}

#logincontainer{
	 clear: both;
    float: right;
    height: auto;
    margin: 0 auto;
    width: auto;
}
#loginContainer {
     float: right;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 10px;
    position: relative;
    /*width:25%;*/
    z-index: 500;
    height:auto;
    
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#4a484b; 
    border:1px solid #4a484b; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
      text-decoration: none;
      color:#fff; 
         margin-top:-60px;
          font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight:normal;
    width: auto;
}
#loginButton:hover {
    background:#4a484b;
    color:#05b7f5; 
     display:inline-block;
    float:right;
    border:1px solid #4a484b; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
      text-decoration: none;
   
         margin-top: -60px;
          font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight:normal;
    width: auto;
}
/* Login Button Text */
#loginButton a {
	float:left;
}
#loginButton span {

    background:url(../kyc_images/loginArrow.png) no-repeat 12px 9px;
     font-size:14px; 
    font-weight:bold;    
     display:block;    
    height: 34px;
        width:35px;
   float: right;
     margin-right: 10px;
   
}
#loginButton em {
   display: block;
    font-size: 14px;
    font-weight: normal;
    height: 25px !important;
    margin-right: 4px;
    padding-top: 10px;
    width: 100%;
    float:right;
    width:auto;
  
}

#loginButton em:hover {
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 25px !important;
    margin-right: 4px;
    padding-top: 10px;
    width: auto;
}


/* Login Box */
#loginBox {
 display: none;
    position: absolute;
    right:25px;
    top: -62px;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:12px -72px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    
    height:1px;
    background:#4a484b;
    bottom:-1px;
    
}

/* Login Form */
#loginForm {
	 background-color: #4a484b;
    border: 1px solid #ccc;
    border-radius: 3px 0 3px 3px;
    margin-top: 46px;
    padding:5px;
    width: auto;
}
.companydetails h1 span{
 border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top: -17px;
    width: 0;
    z-index: 100;
}
#titleBar b{

   border-bottom: 10px solid transparent;
    border-right: 10px solid  #4a484b;
    border-top: 10px solid transparent;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top:10px;
    width: 0;
    z-index: 100;
    padding:0px;
    left: -10px;
}


.uparrowspan{
 border-color: transparent transparent #4a484b;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top: -17px;
    width: 0;
    z-index: 100;
}
#loginBox span{
 border-color: transparent transparent #cccccc;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 36px;
    width: 0;
    z-index: 100;
}

#loginForm fieldset {
    margin:0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../kyc_images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:1px 0px 2px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}
#texteditediv{
	  display:-moz-grid !important;
  margin: 0 auto;
    min-height:200px !important;
    padding-right: 0;
    width: 840px;
    word-wrap: break-word;
     
}

#texteditediv li{
	width:755px;
}
