.conatctmain{
	
	   bottom: 10px;
    height: auto !important;
    margin: 10px auto;
    position: relative;
    width: 1000px;
     font-family: ""BebasNeueRegular","Arial Narrow",Arial,sans-serif !important";
    font-size: 12px;
    list-style: outside none none;
    text-align: center;
	
}
#kyccontacemail {
  background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin:10px 0 0;
    width: 25%;
    
}

#kyccontacemail h2 {
	
	color: #444444;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: normal;
	text-align: left;

}

#kyccontacemail span {
	
	color: #1766a9;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;

}

#kyccontacemail h2 span {
	background: -webkit-linear-gradient(bottom,#e9e9e9,#f4f4f4); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	height: 28px;
	line-height: 20px;
	margin-top: -12px;
	padding: 7px 0 5px 18px;
	color: #444444;

}

#kyccontacemail h2 span p {
    margin-left: 45px;
    margin-top:-28px;
}
#kyccontacemail ul {
padding-left: 25px;
}
.kyccontactform b{
	margin-left:-25px;
}
#kyccontacemail li {
text-align: left;
height: auto;
}
#kyccontacemail li p{
	 font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    margin: 0;
    padding: 5px;
}
.kyccontactform {
  background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: right;
    margin:10px 0 0;
    position: relative;
    width: 70%;
}

.kyccontactform h1 {
	   background: -webkit-linear-gradient(bottom,#1766a9,#05b7f5); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to top, #1766a9, #05b7f5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px 5px 0 0;
    color: #fff;
    display: block;
    height: 15px;
    line-height: 20px;
    margin-top: 0;
    padding: 10px 0 20px;
    text-align: left;
    width: 100%;
     font-family: Segoe UI;
      font-size: 16px;
}

.kyccontactform small {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1766a9;
    content: "";
    float: left;
    height: 0;
    left: 10px;
    padding: 0;
    position: relative;
    top: 35px;
    width: 0;
    z-index: 100;
}
#kyccontactpage span {
    color: red;
}

#kyccontactpage {
    clear: both;
    display: inline-table;
    height: 45px;
    margin: 25px;
    position: relative;
    text-align: left;
    font-family: Segoe UI;
      font-size: 12px;
}

#kyccontactpage {
    text-align: left;
}

.hscbuttondiv {
    clear: both;
    height: 50px;
    position: relative;
    top: 7px;
    width:100%;
}

ul, li {
    border: medium none;
    list-style: outside none none;
    outline: medium none;
}

#kyccontactpage input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#kyccontactpage input[type="button"]:hover
 {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}


#kyccontactpage input {
	
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 12px;
	box-sizing: content-box;
	color: #777777;
	margin-top: 4px;
	padding: 3px 5px 10px 10px;
	text-decoration: none;
	transition: all 0.2s linear 0s;
	width: 225px;

}
#kyccontactpage input:hover { border-color: #00b6f5;

}
#kyccontactpage input:focus { border-color: #00b6f5;

}

#kyccontactpage select {
	
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 12px;
	box-sizing: content-box;
	color: #777777;
	margin-top: 4px;
	padding: 0px 14px 0px 0px;
	text-decoration: none;
	transition: all 0.2s linear 0s;
	width: 225px;
	height: 30px;
	border-color: #777;

}
#kyccontactpage select:hover { border-color: #00b6f5;

}
#kyccontactpage select:focus { border-color: #00b6f5;

}
#kyccontactpage textarea {
	
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 12px;
	box-sizing: content-box;
	color: #777777;
	margin-top: 4px;
	padding: 10px 5px 10px 10px;
	text-decoration: none;
	transition: all 0.2s linear 0s;
	width: 500px;
	border-color: #777;
	height: 88px;

}

#kyccontactpage textarea:hover {
	
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 12px;
	box-sizing: content-box;
	margin-top: 4px;
	padding: 10px 5px 10px 10px;
	transition: all 0.2s linear 0s;
	width: 500px;
	color: #000;
	text-decoration: none;
	border-color: #00b6f5;
	height: 88px;
	
}
#kyccontactpage textarea:focus { border-color: #00b6f5;

}

