.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
	width: 235px;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
	float: left !important;
	margin-left:10px;
	margin-right:10px;
}
.error {
	background:#ffecec url('../kyc_images/error.png') no-repeat 10px 50%;
	border:1px solid red;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding: 4px 35px;
    position: absolute;
    width: auto;
}
.success {
	background:#e9ffd9 url('../kyc_images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	width: 235px;
}
.warning {
	background:#fff8c4 url('../kyc_images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	width: 235px;
}
.notice {
	background:#e3f7fc url('../kyc_images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	  width: 235px;
	  text-align: left;
    width: 50%;
}
.bordererror {
	border:1px solid red;
}

