#panel,#flip
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel
{
padding:10px;
display:none;
}

#panel0,#flip0
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel0
{
padding:10px;
display:none;
}

#panel1,#flip1
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel1
{
padding:10px;
display:none;
}

#panel2,#flip2
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel2
{
padding:10px;
display:none;
}

#panel3,#flip3
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel3
{
padding:10px;
display:none;
}


#panel4,#flip4
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel4
{
padding:10px;
display:none;
}

#panel5,#flip5
{
padding:1px;
text-align:center;
background-color:white;
border:solid 0px #c3c3c3;
}
#panel5
{
padding:10px;
display:none;
}
