#button {
	
	border-right:none;
	padding: 0 0 1em 0;
	margin-bottom: none;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;

}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2em;
}
	
#button li {
	border-bottom: 1px solid white;
	margin: 1em;
	list-style: none;
	list-style-image: none;
	
}
	
#button li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #606060  ;
	border-right: 10px solid #E8E8E8;
	background-color: #E8E8E8;
	color: #989898 ;
	text-decoration: none;
	width: 100%;
	height: 2em;
}

html>body #button li a {
	width: auto;
}

#button li a:hover {
    border-bottom: 2px solid #00b6f5;
	border-left: 13px solid #00b6f5;
	border-right: 0px solid white;
	background-color:#D0D0D0;
	color: #00b6f5;
}