/* UI Code */
body{
	margin:0px;
	padding:0px;
	text-align:center;
	list-style:none;
	background-image:url(../images/bg_img.png);
	background-color:#fff;
}
ul,li{
	list-style:none;
	list-style-image:none;
	 outline: none;
  border: none; 
  /* padding: 0; */
}
	
a img {outline : none;
text-decoration:none;}
img {border : 0;}
.container{
	width:auto;
	height:100%;
	
	text-align:center;
	 margin: 0 auto;
}
.main{
	height:550px;
	}	
.top_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.header{
	height:72px;
	background-color:#4a484b;
	
	
}
.header_inner{
	width:1024px;
	margin:0 auto ;
	padding-top:10px;
}
.search-bar{
	  margin: 0 auto;
    text-align: center;
    top: 0;
    width: 450px;
}
#tfheader input img{
  border: 0 none;
    height: 38px;
    margin-left: -4px;
    margin-top: 0;
}
#tfheader{
	margin: 10px auto 0;
    width:450px;
	}
	#tfnewsearch{
		float:right;
		padding:0px;
	}
	.tftextinput2{
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0px 0 0;
    padding: 0px 2px;
    width: 392px;
	float:left;
	}
	.tfbutton2 {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-right-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    margin: 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: right;
    text-decoration: none;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.main_menu ul {
		color:#ccc !important;
	
	}
.main_menu li{
	    border-left: 1px solid #6F6F6F;
    color: #CCCCCC;
    cursor: pointer;
    float: left;
    font-family: Bebas;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: auto;
    font-family:'Conv_Oswald-Bold' !important;
	}
	.main_menu li a span{
    margin-top: 10px;

	}
.main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.logo{
	background-image: url(../images/kyclogo.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin: 0 auto;
    width: 128px;
}
.mainmenu{
    display: inline;
    float: right;
    height: 57px;
      margin-top: -60px;
    text-align: center;
    width:auto;
     margin-right: 80px;
}
.mainmenu img{
	margin-top:-10px;
}
.mainmenu span{
	margin-top:-15px;
}
a.Clickedaccessmanager{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmyplans{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmystore{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmydocuments{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clicked{background:url(../images/myprofile_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
 a.myprofile{background:url("../images/myprofile_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0)}
 a.myprofile:hover{background:url(../images/myprofile_icon_hover.png) no-repeat  scroll center center; transform:background (ease-out 3s);}
 a.mydocuments{background:url(../images/mydocuments_icon.png) no-repeat scroll center center ;}
a.mydocuments:hover{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.mydocuments:focus{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.mydocuments:active{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}

a.mystore{background:url(../images/mystore_icon.png) no-repeat scroll center center ;}
a.mystore:hover{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.mystore:focus{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}

a.mysettings{background:url(../images/setting_icon.png) no-repeat scroll center center ;}
a.mysettings:hover{background:url(../images/setting_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.mysettings:focus{background:url(../images/setting_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}

a.myplans{background:url(../images/myplans_icon.png) no-repeat scroll center center ;}
a.myplans:hover{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.myplans:focus{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}

a.accessmanager{background:url(../images/accessmanager_icon.png) no-repeat scroll center center ;}
a.accessmanager:hover{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.accessmanager:focus{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}

a.alearticons{background:url(../images/alearticon.png) no-repeat scroll center center ;}
a.alearticons:hover{background:url(../images/alearticon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.alearticonsfocus{background:url(../images/alearticon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}

.main_menu .active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #00b6f5;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 0;
    text-align: center;
    width: 94%;
}
ul.main_menu li a {
	background-position: center top;
	 font-family: 'oswaldbold';
    display: inline-block;
	font-size:14px;
    height: 32px;
    transition: all 0.3s ease-out 0s;
    width: 120px;
    line-height:15px;
    
}

ul.main_menu li a span{
	margin-top:10px;
}
 a.individual{background:url(../images/home_main_menu.jpg) 0 0 no-repeat;}
 a.individual:hover{background:url(../imimageshome_main_menu_hover.jpg) no-repeat 0px 0px; transform:background (ease-out 3s);}
 a.corporate{background:url(../images/home_main_menu.jpg) no-repeat -91px 0;}
a.corporate:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -91px 0px; transform: rotate(ease-out 3s);}
a.utiliser{background:url(../images/home_main_menu.jpg) no-repeat -182px 0;}
a.utiliser:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -182px 0px; transform: rotate(ease-out 3s);}

.banner_center{
	height:382px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	
}
.slider_buttons{
	width:150px;
	height:11px;
	margin:-40px auto 0;
}
.slider_iamge{
	z-index:1;
	background-image:url(../images/slider_01.png);
	background-repeat:no-repeat;
	height:382px;
	width:885px;
	margin: 0 auto;
}
.slider_buttons li{
	float:left;
	margin-left:5px;

}
.bottom-icons ul{
	margin-top:0px;
}
.bottom-icons{
	 margin: -17px auto 0;
	  width: 1200px;
}
.bottom-icons li{
	 color: #CCCCCC;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    text-align: center;
    width: 250px;
	}
.bottom-icons li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.bottom-icons li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.bottom-icons-leftline{
	border-left:1px solid #ccc;
}

.bottom-icons h2{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:18px;
	
}
.bottom-icons p{
	color: #000;
	text-align:center;
	font-family:Segoe UI;
	margin:15px;
}
.footer_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.footer{
	 background-color: #4a484b;
    clear: both;
    height: 65px;
    position: relative;
    width: 100%;
}
.footer_topline{
	width:100%;
	height:1px;
	background-color:#00b6f5;
}
.footer_center{
	height:177px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights{
	height:52px;
	width:1024px;
  margin-top: -16px;
   margin: 0 auto;
}
.copyrights {
		margin:5px;
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: 0px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	 margin-top: 5px;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	margin-top: 8px !important;
	
}
.footer_space02{
	 text-align: left;
    width: 510px;
	height:40px;
	    margin-top: 20px !important;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}

.social_media a{
	color: #ccc;
	margin-top:-5px;
	text-decoration:none;
}
.social_media a:hover{
	margin-top:-5px;
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:25px;
	float: right;
	
}

a.google_plus{background:url(../images/bottom_social_icon.png) -66px 0 no-repeat;}
a.google_plus:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -66px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.fb{background:url(../images/bottom_social_icon.png) no-repeat 0px 0;}
a.fb:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}

/*/------------/*/

.searchcontainer {
    margin: 50px auto;
    width: 100px;
}
.searchbox {
    float: right;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
.searchbox-input {
    background: none repeat scroll 0 0 #DCDDD8;
    border: 0 none;
    color: #FF0000;
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0 55px 0 20px;
    right: 0;
    top: 0;
    width: 100%;
}
input {
    line-height: normal;
}
.searchbox-input::-moz-placeholder {
    color: #D74B4B;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    
}
.reselect input[type="submit"] {
  background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.reselect input[type="submit"]:hover {
  background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
.searchbox-icon, .searchbox-submit {
    background: none repeat scroll 0 0 #172B3C;
    border: 0 none;
    color: #DCDDD8;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
/*/-------main_centerpage-----/*/
.main{
	
	 clear: both;
    display: inline-table;
    height: auto !important;
    margin: 0 auto;
    min-height: 472px;
    position: relative;
    width: 100%;
}


.user_display{
	top:0px;
	position: relative;
}

.main_center{
	
	width:1200px;
	margin:0 auto;
	margin-top:0;
	bottom:10px;
	 height: auto !important;
	  position: relative;
	
}

#helpHeading {
border: 1px solid #ccc;
    border-radius: 5px;
    height: 480px;
    margin-left: 100px;
    margin-top: 10px;
    width: 1024px;
}

#helpHeading h1{
	
	background: none repeat scroll 0 0 #4a484b;
    color: #00b6f5;
    font-size: 16px;
    height: 20px;
    margin-top: 0;
    padding: 5px;
	text-align: left;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.leftside{
	float: left;
    margin-top:-56px;
    margin-left: 48px;
    width: 21%;
     position: relative;
     height: auto;
}
.leftside ul{
	padding:0px;
}
#homepage{
	height:100%;
	
}
/*/-------main_centerpage--rightside-----/*/
.rightside{
	 float: right;
    width: 72%;
    margin-top: -35px;
    margin-right:35px;
   height: auto;
     position: relative;
      min-height: 500px;
}
.rightside ul{

    padding: 0;
}
#suggestions1{
     margin: 5px auto !important;
	height:auto;
	display: inline-table;
}
.username_bar{
    width: 100%;
}
.rightside h2 {
     background: url("../images/header_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #CCCCCC;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 42px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
/* .rightsideheader{
	 border-bottom: 1px solid #ccc;
	 margin-bottom: 0;
} */
.rightside h1{
color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
   
}

.utirightside h1{
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
   
}


.mydocumentpage_clbtn {
    margin-top: 15px;
    position: absolute;
    right: -10px;
    z-index: 1000;
}


/* .documenttitle span {
   border-color: transparent transparent #4a484b;
    border-style: solid;
    border-width: 0 20px 20px;
    content: "";
    float: left !important;
    height: 0;
    position: relative;
    top: -20px;
    width: 0;
    z-index: 100;
} */


.documenttitle span {
    border-color: transparent transparent #4a484b;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left !important;
    height: 0;
    margin-left: 22px;
    position: relative;
    top: -10px;
    width: 0;
    z-index: 100;
}

#kycdocumentpage p{
	margin:0 auto;
	color:red;
	padding:10px;
	 text-align: center;
}
.rightsideheader{
       color: #05B7F5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding:0 7px 5px 0 !important;
    text-align: left;
     margin-left: 15px;
       width: 95%;
}
.rightsideheader a{
	height:25px;
}
.module-body h1 p{
	
	  color: #CCCCCC;
    display: inline;
    float: right;
    font-family: Segoe UI;
    font-size: 12px;
    font-style: italic;
    line-height: 0;
    margin-right: 10px;
    text-align: center;
}
.edit input[type="submit"]{
	
	
 background: none repeat scroll 0 0 #4A484B;
    border: 1px solid #898989;
    color: #CCCCCC;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.edit input[type="submit"]:hover{
	
	
 background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.rightside h2 span{
       font-size: 18px;
    line-height:42px;
    padding: 3px 5px 10px 2px;
	font-family:Segoe UI;
	color:#ffffff;
	  margin-left: 10px;
}
.rightside h2 p{
       font-size: 12px;
    line-height: 20px;
    padding:0px 10px 0 25px;
	font-family:Segoe UI;
	color:#ccc;
	font-style:italic;
	text-align:right;
	display:inline;
	float:right;
}

.rightside .module-body {
       border-color: #ccc;
    border-image: none;
    border-radius: 5px;
    border-width: 1px;
    height: auto;
    margin-left: 0;
    margin-top: 0px;
    padding: 0;
    width: 860px;
    position: relative;
      display: inline-table;
    
}

#viewUsers1
{
	 display:list-item;
    height: auto !important;
    margin-bottom:10px !important;
    position: relative;
    width: 860px;
    margin-top:10px;
}
#myArea1{   
    display: block;
    height: 200px !important;
    margin: 0 auto 0 16px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    width: 856px;
   
    }
  .seemorediv{
 background: none repeat scroll 0 0 #333;
    border: 1px solid #ccc;
    display: inline-table;
    float: right !important;
    margin-right: 0;
    margin-top: 10px;
    padding: 4px;
    right:16px;
    width: 62px;
     position: relative;
     text-decoration: none;
  }
   .seemorediv:hover{
    background: none repeat scroll 0 0 #05b7f5; 
       color: #fff; 
         padding: 4px; 
          width: 62px;
   }
 .seemorediv a{  
     color: #fff;
    float: right !important;
    position: relative;
    text-decoration: none;
 }
  .seemorediv a:hover{  
    color: #fff;
     
 }

/*  #myArea1:hover{   

    overflow-y: scroll;

    
    }  */
    
.module-body p{
	font-style:normal;
	text-align:justify;
	margin:8px 0 0;
}
.module-body p a{
	 background-image: url("../images/edit_button.png");
    float: right;
    font-style: normal;
    height: 29px;
    margin: 15px 10px 10px;
    text-align: justify;
    width: 89px;
}
.module-body p a:hover{
	background-image:url(../images/edit_button_hover.png);
	float:right;
	font-style:normal;
	text-align:justify;
	margin:10px;
	margin-top:15px;
	 width: 89px;
	  height: 29px;
}
/* .border_line{
	border-bottom: 1px solid #cccccc;
} */
.border_line_profile{
	border-bottom: 1px solid #CCCCCC;
    margin-left: 15px;
   margin-top: 32px;
    position: absolute;
    width: 96%;
}
.user_photoupload{
	 height: 284px;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    width: 218px;
    margin-left: 20px;
}
.user_photo{
	background-image:url(../kyc_images/user_img.png);
	  height: 284px;
    margin-top: 0px;
    padding-top: 25px;
    position: relative;
    width: 218px;
     margin-left: 20px;
}
.user_photoupload span {
	  float: left;
    margin-left: 11px;
   margin-top: 0px;
   z-index:20;
}
.user_photo p{
	color: #000000;
    font-family:Segoe UI;
    font-size: 12px;
      margin-top: 222px;
    text-align: center;
}

.user_photo p span{
	  color: #787878;
    float: right;
    font-family: Segoe UI;
    font-size: 12px;
    margin-top:-3px !important;
    text-align: center;
    width: 214px;
     height: 20px;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}


.user_photo p strong {
    color: #000000;
    font-family: MV Boli;
    font-size: 16px;
    text-align: center;
	width:100%;
}
#applyCodeid table tr {	
    border-color: #B9C4CF #B9C4CF #B9C4CF #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: bold;
    height: 40px;
    padding: 0 8px;
   
}
.companydetails{
	  clear: both;
    height: auto;
    margin: 0 auto 0 15px;
    width: auto;
    
}
.companydetails li{
	 float: left;
    position: relative;
    width: 400px;
     margin-left: 8px;
       margin-bottom: 5px;
        
}
.profilescroll tr td{
    word-wrap: break-word;
}

table.profilescroll {      
    border-spacing: 0;
   
}
table.profilescroll tbody {
   /*  height:127px; */
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    border:0px;
}
table.profilescroll tbody, table.profilescroll thead {
    display: block;
}
.profilescroll tbody {
    border-top: 2px solid black;
}
.companydetails ul{
	margin:0px;
	padding:0px;
}
.currentcompanydetails {
	 background: -moz-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	  background:  -webkit-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	   background: -o-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background:-ms-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
/* background: -webkit-gradient(linear, left top, right top, color-stop(2%,#1766a9), color-stop(29%,#05B7F5)); */ /* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(bottom,#1766a9,#05b7f5 100%); /* Chrome10+,Safari5.1+ */
	  background: linear-gradient(to top, #1766a9, #05b7f5);
    border-radius: 5px 5px 0 0;
    color: #fff;
    display: block;
    height: 15px;
    line-height: 20px;
    margin-left: 0;
    padding: 7px 0 12px 18px;
    text-align: left !important;
    width: 790px !important;
}	
.currentcompanydetails b{
	margin-left:-25px;
}
.companydetails b{
	margin-left:-25px;
}
.companydetails h1{
	 background: -moz-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	  background:  -webkit-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	   background: -o-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
 background:-ms-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
/* background: -webkit-gradient(linear, left top, right top, color-stop(2%,#1766a9), color-stop(29%,#05B7F5)); */ /* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(bottom,#1766a9,#05b7f5 100%); /* Chrome10+,Safari5.1+ */
	  background: linear-gradient(to top, #1766a9, #05b7f5);
    display: block;
    height: 15px;
    line-height: 20px;
    margin-left: 0;
    padding: 7px 0 12px 18px;
    text-align: left;
    width: 382px;
     color: #fff;
     border-radius: 5px 5px 0 0;
}

.companydetails a{
	text-decoration:none;
	color:red;
}

#applyCodeid table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#applyCodeid table tr:hover td	
	{/*  background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF; */
 }
#applyCodeid tr:nth-child(2n) {
    background-color: #FFFFFF;
}
#applyCodeid tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
#applyCodeid tr:nth-child(1) {
    background-color: #999;
}

#closepic a{
	 background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: -144px;
    margin-top: 191px;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    width: 65px;
    z-index: 100;
}
#closepic a:hover{
	 background-color: #00bafc;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
   margin-left: -144px;
    margin-top: 191px;
    padding: 5px;
    position: absolute;
    z-index: 100;
     text-decoration: none;
}

.rightsideheader button {
	  background-color: #333;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 788px !important;
    margin-top: -12px;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    width: 30px;
    z-index: 100;
}
.rightsideheader button:hover{
	 background-color: #00bafc;
    color: #fff;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 788px !important;
    margin-top: -12px;
    padding: 0px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width: 30px;
          vertical-align: middle;
} 

#htmlbutton{

}
#viewUsers1 p{
	margin-right:50px;
}
#openbrowse{
	 margin-left: 50px;
    margin-top: 200px;
    position: absolute;
    width: 200px;
    z-index: 150;
}
.datagrid tr:nth-child(1) {
    background-color: #999 !important;
}
.datagrid tr:nth-child(2n+1) {
    background-color: #e5e5e5;
}
.datagrid table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
.datagrid table tr {
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: bold;
    height: 40px;
    padding: 0 8px;
}
#file_browse_wrapper{   
	 /* background: url(../kyc_images/browse_button.png) 0 0 no-repeat; */
     border: 1px solid #898989;
    color: #cccccc;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin-left: 29px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: 74px;
}
#file_browse_wrapper:hover{
	 
/*  background: url(../kyc_images/browse_button_hover.png) 0 0 no-repeat; */
/* 	background:#05b7f5; */
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 29px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width:74px ;
      height: 23px;

}
#file_browse{
	cursor: pointer;
	height: 25px;
	margin-left:0px;
    opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    width:74px ;
}
#saveimg_button_wrapper{   
	 background: url(../images/addimg_save_button.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #222;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width: 48px;
    height: 23px;
}
#saveimg_button_wrapper:hover{
	 
 background: url(../images/addimg_save_button_hover.png) 0 0 no-repeat;
    border: 1px solid #898989;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: -9px;
    min-width: 30px;
    transition: all 0.2s linear 0s;
    width:48px ;
height: 23px;
}
#saveimg_button{	
	margin-left:0px;
    opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.documentviewpan{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_view_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentviewpan:hover{
	 background: url("../images/pan_view_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
    border:0;
}
.mydocumentdownloadpan {
    background: url("../images/pan_download.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
      margin-top: 8px;

}
.mydocumentdownloadpan:hover {
    background: url("../images/pan_download_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    
}

.uploadimgbutton {
    background: url("../images/upload_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
      margin-top: 8px;

}
.uploadimgbutton:hover {
    background: url("../images/upload_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    
}
.mydocumentviewpan{
    background: url("../images/pan_view.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    margin-top: 8px;
}
.mydocumentviewpan:hover{
    background: url("../images/pan_view_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
     height: 27px;
    width: 29px;
    float:right;
}
.mydocumentviewimg{
   
   /*  background: url("../images/pan_view.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: 0 none;
    margin-top: 8px;
    padding-right: 10px;
    text-align: right;
    background-color: #eee;
    width:90px !important; */
    
    background: url("../images/pan_view.png") no-repeat scroll left center #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    margin-top: 8px;
    padding-right: 10px;
    text-align: right;
    width: 90px !important;
    
}
.mydocumentviewimg:hover{
  background: url("../images/pan_view_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: 0 none;
    margin-top: 8px;
    padding-right: 10px;
    text-align: right;
    background-color: #eee;
    color:#00b5f6 !important;
      width:90px !important;
}
.applyCodeidscroll{
	/*  display: list-table;
   max-height: 300px;
    margin-top: 0 !important;
    overflow-x: hidden;
    width: 100%;
    height: 300px; */
    
    
     height: auto;
    margin-top: 0 !important;
    max-height: 680px;
    overflow-x: hidden;
    width: 100%;

}
.empCodeidscroll{
	 display: list-table;
   max-height: 400px;
    margin-top: 0 !important;
    overflow-x: hidden;
    width: 100%;
    height: 400px;

}
.revokeCodeidscroll {
   /* height: 300px;
    margin: 0 auto;
    max-height: 300px;
    overflow-x: hidden;
    width: 95%; */
    
    height: auto;
    margin: 0 auto;
    max-height: 680px;
    overflow-x: hidden;
    width: 95%;
    
}
/* .revokeCodeidscroll:hover {
    height: 300px;
    margin: 0 auto;
     overflow-y:scroll;
    width: 100%;
} */
.sharingpagescroll {
   max-height: 350px;
    overflow-x: hidden;
    margin: 0 auto;
    width:410px;
    margin-top:10px;
      padding-top: 1px;
       background: none repeat scroll 0 0 #eee;
    border: 1px solid #05b7f5;
    border-radius: 5px;
    
}

.sharingpagescroll table{
 margin: 10px auto !important;	
} 
.topstyle  {
   border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 15px 10px;
    content: "";
    height: 0;
    position: relative;
    right: 300px;
    text-align: center;
    top: 24px;
    width: 0;
    z-index: 500;
}
.editacod_button{
    background: url("../images/edit_button_acod.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
    height: 27px;
    width: 29px;
    float:right;
    margin-top:6px;
}
.editacod_button:hover{
    background: url("../images/edit_button_acod_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 0 none;
     height: 27px;
    width: 29px;
    float:right;
}
.editinner_button {
    background: url("../images/edit_button_acod.png") no-repeat scroll left center #ebebeb !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
.editinner_button:hover{
    background: url("../images/editinner_button_hover.png") no-repeat scroll left center #00b6f5 !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
.historyinner_button {
    background: url("../images/historyinner_button.png") no-repeat scroll left center #ebebeb !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
.historyinner_button:hover{
    background: url("../images/historyinner_button_hover.png") no-repeat scroll left center #00b6f5 !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
.cancelinner_button {
    background: url("../images/cancelinner_button.png") no-repeat scroll left center #ebebeb !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
    height:20px;
}
.cancelinner_button:hover{
    background: url("../images/cancelinner_button_hover.png") no-repeat scroll left center #00b6f5 !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
        height:20px;
     
}

<!---->
.cancelbule_button {
    background: url("../images/canceblue_button.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 8px !important;
    width: 29px !important;
    height:29px;
      float: right;
}

.cancelbule_button:hover{
    background: url("../images/canceblue_button_hover.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 8px !important;
    width: 29px !important;
     height:29px;
       float: right;
}
.cancelbule_button_fin {
    background: url("../images/canceblue_button.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 0px !important;
    width: 29px !important;
    height:29px;
      float: right;
}

.cancelbule_button_fin:hover{
    background: url("../images/canceblue_button_hover.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 0px !important;
    width: 29px !important;
     height:29px;
       float: right;
}

.saveinnerblue_button {
    background: url("../images/savet_button_fin.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 0px !important;
    width: 29px !important;
    height:29px;
      float: right;
}

.saveinnerblue_button:hover{
    background: url("../images/savet_button_fin_hover.png") no-repeat scroll left center  !important;
    border: 0 none;
    margin-top: 0px !important;
    width: 29px !important;
     height:29px;
       float: right;
}
<!---->


.saveinner_button {
    background: url("../images/saveinner_button.png") no-repeat scroll left center #ebebeb !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
.saveinner_button:hover{
    background: url("../images/saveinner_button_hover.png") no-repeat scroll left center #00b6f5 !important;
    border: 0 none;
    margin-top: 5px !important;
    width: 29px !important;
}
#kycdocumentpage table{
	width:auto;
}
.panviewinner h1{
	 margin-left: 5px;
    margin-top: 13px;
}
.panviewinner{
  background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin:0 15px 0 0;
    padding: 0;
    text-align: left;
}
.panviewinner_button{
	 margin: 0 auto;
    padding: 0;
    width: auto;
}
.panviewinner_button li{
 margin: 0 auto 0 18px;
    padding: 0;
    position: relative;
    width: 100%;
}
.panviewinner img{
    /* border: 1px solid #666; */
    border-radius: 10px;
    height: 150px;
    width: 277px;
}

.boxclassbg{
      float: left;
    height: 205px;
    text-align: center;
    width: 140px;
    padding: 5px 0 0 !important;
}

.salaryslipdetails-ext{
   margin-left:10px;
	padding:0px;
}

.boxclassbg input{
margin: 5px ;
}





.panviewinner_acad {
        background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin: -2px 15px 15px -9px !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5px;
    text-align: center;
}

.panviewinner_acad b{
	color:#00b5f6;
}

.panviewinner_acad h1{
	  text-align: center !important;
    width: 100%;
}
.panviewinner_acad img {
    /* border: 1px solid #666; */
    border-radius: 5px;
    height: 150px;
    width: 229px;
      margin: 5px 5px 0;
}



.utilizerFinancial {
        background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin: -2px 15px 15px -9px !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5px;
    text-align: center;
}

.utilizerFinancial b{
	color:#00b5f6;
}

.utilizerFinancial h1{
	  text-align: center !important;
    width: 100%;
}
.utilizerFinancial img {
    /* border: 1px solid #666; */
    border-radius: 5px;
    height: 122px;
    width: 229px;
      margin: 5px 5px 0;
}





.panviewinner_acd{
  background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin:0px 5px 5px 12px !important;
    padding: 0;
    text-align: left;
}
.panviewinner_acd img {
    /* border: 1px solid #666; */
    border-radius: 10px;
    height: 150px;
     margin: 5px;
    width: 230px;
    float: left;
}



.kyc_empviewinner{
  background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin:9px 1px 0 9px !important;
    padding: 0;
    text-align: left;
}
.kycemployeedetailimg li{
	 color: #00b5f6;
  height: 138px;
    margin: 0px;
    padding:0px;
    width: 148px;
    text-align:center;
	}
.kyc_empviewinner img {
 border: 1px solid #666;
    border-radius: 5px;
    height: 80px;
    margin: 0px;
    width: 140px;
}
.kyc_emp_his_viewinner{
  background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
    margin:9px 1px 0 9px !important;
    padding: 0;
    text-align: left;
}
.kyc_emp_his_viewinner li{
  height: 120px;
    margin: 2px;
    padding:0px;
    width: 148px;
	}
.kyc_emp_his_viewinner img {
 /* border: 1px solid #666; */
    border-radius: 5px;
    height: 80px;
    margin: 0 0 0 3px;
    width: 140px;
}
.kyc_emp_his_viewinner_to {
     border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    height: auto;
    margin: -14px auto 15px;
    overflow-x: hidden;
    width: 99%;
   /*  max-height: 270px; */
     max-height: 500px; 
}

.documentchange{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_change_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentchange:hover{
	 background: url("../images/pan_change_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
     border:0;
    height:34px;
}
.documentdownload{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_download_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentdownload:hover{
	 background: url("../images/pan_download_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
#viewDocument{
 border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    height: 30px;
    outline: 1px none;
    width: 75px;
}

#viewDocument:hover{
	 border: 1px solid #00bafc;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    height: 30px;
    outline: 1px none;
    width: 75px;
}
#viewhistory{
	 border: 0.5px solid #ccc;
    border-radius: 3px;
    color: black;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
#viewhistory:hover{
	 border: 0.5px solid #00bafc;
    border-radius: 3px;
    color: #00bafc;
    outline: 1px none;
    padding: 3px 10px;
    width: 100px;
}
.applycode_button{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/apply_now_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.applycode_button:hover{
	 background: url("../images/apply_now_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.documentview{
	  height: 27px;
    margin: 0 auto;
    width: 150px;
}
.documentview li{
	float:left;
	width:25px;
	  margin-right: 10px;
    padding: 0;
	  height: 27px;
	
}
.documenthistory{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_history_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documenthistory:hover{
	 background: url("../images/pan_history_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.documentupload{
	 width:94px;
    height:34px;
     border:0;
    background: url("../images/pan_upload_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.documentupload:hover{
	 background: url("../images/pan_upload_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    width:94px;
    height:34px;
     border:0;
}
.document_panedit{

     border:0;
    background: url("../images/pan_edit_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panedit:hover{
	 background: url("../images/pan_edit_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);

     border:0;
}
.document_panview{
	height: 29px;
    width: 25px;
     border:0;
    background: url("../images/pan_imgeview_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panview:hover{
	 background: url("../images/pan_imgeview_button_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);

     border:0;
}
.document_panimgedownload{

     border:0;
    background: url("../images/pan_imgedownload.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.document_panimgedownload:hover{
	 background: url("../images/pan_imgedownload_hover.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  
     border:0;
}
#AccForm a span{
	 float: left !important;
}
#AccForm input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color !important;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px ;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px !important;
    padding: 10px 5px 10px 32px !important;
    text-decoration: none !important;
    transition: all 0.2s linear 0s !important;
    width: 150px !important;
}
#nextbutton{
	margin-top: 15px;
    text-align: center;
    width: 464px;
}
#revoke_tbutton input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
  
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px 30px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#revoke_tbutton input[type="button"]:focus {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#revoke_tbutton input[type="button"]:active {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#revoke_tbutton input[type="button"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#revoke_tbutton input[type="button"]{
	margin-right:15px !important;
}
.revoke_tbutton input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
  
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
    min-width: 90px;
    padding: 5px 30px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.revoke_tbutton input[type="button"]:focus {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
.revoke_tbutton input[type="button"]:active {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

.revoke_tbutton input[type="button"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px 30px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}









#proceedtbutton input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#proceedtbutton input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#nextbutton input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#nextbutton input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#addDocumentid input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#addDocumentid input[type="button"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#closeDialog input[type="submit"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#closeDialog input[type="submit"]:hover {
 
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#selectYear option{
 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
     margin-top: 1px;
    padding: 5px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 170px;
    height:10px;
}
#selectYear option:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 1px;
    padding: 5px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 170px;
    height:10px;
    color: #05b7f5;
}
#domainName{
 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
}
#domainName:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
    color: #05b7f5;
}
#ABC_0{
 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
}
#ABC_0:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
    color: #05b7f5;
}
#ABC1{
 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
}
#ABC1:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
    color: #05b7f5;
}
#ABC2{
 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
}
#ABC2:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    transition: all 0.2s linear 0s;
    width: 200px;
    height:20px;
    color: #05b7f5;
}
#tableIdview{

}
#viewUsers1 option {
   background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 3px 5px 4px 15px;
    transition: all 0.2s linear 0s;
    width: 200px;
    color: #000;
}
#viewUsers1 option:hover {
   background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 3px 5px 4px 15px;
    transition: all 0.2s linear 0s;
    width: 200px;

}
#searchypebuttonarrow{
	 background: url("../images/input_leftimg.PNG") no-repeat scroll right center #efefef;
    border: 1px solid #b2b2b2;
    display: inline-table;
    height: auto;
    width: auto;
    z-index: 500;
}

#searchType{

   border: 1px solid #ccc;
    box-sizing: content-box;
    color: #000;
    display: inline-table;
    height: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 11px;
    position: relative;
    right: 0;
    transition: all 0.2s linear 0s;
    width: 83px;
    z-index: 500;
 }
 #searchType option{
  width: 83px !important;
 }

/*------------notification Table------------- */
.module-body table tr {	
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: narmal;
    height: 0px;
    padding: 0 8px;
    font-size: 12px;
    text-align: left !important;
   
}
/* .module-body table th {	
    
    text-align: left !important;
   
} */
#content table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#content table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#content tr:nth-child(2n) {
    background-color: #FFFFFF;
}
#content tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
/* #content tr:nth-child(1) {
    background-color: ;
} */
#searchprofile table tr {	
    border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-weight: narmal;
    height: 40px;
    padding: 0 8px;
    font-size: 12px;
   
}

#searchprofile table{
	 border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 74px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#input_img {
    height: 34px;
    left: 160px;
    position: absolute;
    top: 71px;
    width: 51px;
}
.displayregidetails{
	   clear: both;
    display: inline-table;
    margin: 30px auto 0 15px;
    position: relative;
}
#searchprofile table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#searchprofile table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#searchprofile tr:nth-child(2n) {
    background-color: #E5E5E5;
}
#searchprofile tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
#searchprofile tr:nth-child(1) {
    background-color:#E5E5E5;
}

 #flip
{
   background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #999;
    padding: 5px;
    text-align: left;
    width: 328px;
}
#panel
{
  border: 1px solid #999;
    border-radius: 5px;
    display: none;
    font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,sans-serif;
    font-size: 12px;
    padding: 20px;
    text-align: left;
    width: 298px;
} 
#panel,#flip
{
padding:5px;
text-align:left;
background-color:white;
border:solid 1px #c3c3c3;
width:328px;
text-align: center;
}
#panel
{
  display: none;
    padding-bottom: 30px;
    padding-top: 0;
    text-align: left !important;
    width: 80%;
}
#panel li{
    cursor: pointer;
    float: left;
}
#kycpan_details input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#kycpan_details input:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}

#kycpan_details textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
#kycpan_details textarea:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #00b6f5;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 225px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
#myArea1{

    border-radius: 5px;
    height: 100px;
    margin: 0 auto;
    width: 817px;
	
}
}
#viewUsers1 .nicEdit-panelContain{
	  margin-left: 15px !important;
    margin: 0 auto !important;
    width: 817px !important;
	
}
#removeaddphoto{
	
}
#addMoreDoc{
	width:100% !important;
	 height: 454px;
    margin-left: -12px;
    margin-right: 50px;
    max-height: none;
    min-height: 108px;
    
}
.ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable{
	width:100% !important;
}
#socialbuttonsicon{
 margin:0;	
}
#socialbuttonsicon li{

}

#editfamilydetail li{
	float:right;
	width:500px;
}
#familydetailalign{
    margin:38px auto 0 173px;
    width: 570px;
}
#familydetailalign li{
	 display: table-footer-group;
    height: auto;
    position: relative;
}
#presentaddressdetails{
	margin:0 auto 0 173px;
    width: 570px;
	
}
#presentaddressdetails h1{
	   border-bottom: 1px solid #ccc;
    color: #05b7f5;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-left: 0;
    padding: 0 0 5px;
    text-align: left;
    width: 84%;
	
}
#presentaddressdetails h1 img{
	  display: inline-flex;
  float: left;
	} 
	#permanentaddressdetails h1 img{
	  display: inline-flex;
  float: left;
	} 
#permanentaddressdetails{
	margin:0 auto 0 174px;
    width: 570px;	
}
#basicsdetailalign {
    margin:38px auto 0 105px;
    width: 570px;
}
#checkStatus {
	width:12px !important;
	height:12px !important;
}
#savebasic span{
	 margin-top: 10px;
  text-align: right;
  float: left;
}
.spanright{
	float:right !important;
	margin-right:174px !important;
}

#presentaddressdetails span{
	margin-left: 0;
  text-align: right;
  float: left;
}
#PresentAddID p{
	 color: #000;
    margin-left: 5px;
    text-decoration: none;
}
#presentaddressget span{

}
#presentaddressget tr th
{
	font-weight:bold;
}
#presentaddressget{
	 word-wrap: break-word;
  padding-left: 5px;
    width: 172px;
	
}
#permanentaddressdetails h1{
	 border-bottom: 1px solid #ccc;
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 5px;
     margin-left: 0px;
    text-align: left;
	width:84%;
}
#languageDiv{
	margin-left:6px;
	  padding-bottom: 10px;
}
#reg2Div{
  background-color: red;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 25px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 180px;
    z-index: 5000;
}
.reg1Div{
  background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 25px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 5000;
    display:none;
}
#aboutus{
  background-color: yellowgreen !important;
    border: 1px solid #777;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 19px !important;
    margin-left: 100px;
    padding: 4px !important;
    position: absolute;
    width: 500px !important;
}


/* Utilizer Profile Css */


/*top menu css  */

.uti_main_menu ul {
		color:#ccc !important;
	
	}
.uti_main_menu li{
	    border-left: 1px solid #6F6F6F;
    color: #CCCCCC;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: auto;
    font-family:'Oswald' !important;
	}
	.uti_main_menu li a span{
    margin-top: 10px;

	}
.uti_main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.uti_main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.logo{
	background-image: url(../images/kyclogo.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin: 0 auto;
    width: 150px;
     margin-left: 15px;
}
.uti_main_menu .active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #00b6f5;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 0;
    text-align: center;
    width: 94%;
}
.utimainmenu{
      display: inline;
    float: right;
    height: 57px;
    margin-right: 181px;
    margin-top: -60px;
    text-align: center;
    width: auto;
}
.utimainmenu img{
	margin-top:-10px;
}
.utimainmenu span{
	margin-top:-15px;
}
a.Clickedaccessmanager{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmyplans{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmystore{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clickedmydocuments{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}
a.Clicked{background:url(../images/myprofile_icon_hover.png) no-repeat scroll center center rgba(1, 1, 0, 0);}

a.myprofile{background:url("../images/myprofile_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0)}
a.myprofile:hover{background:url(../images/myprofile_icon_hover.png) no-repeat scroll center center; transform:background (ease-out 3s);color:#05b7f5 !important;}
a.myprofilefocus{background:url(../images/myprofile_icon_hover.png) no-repeat  scroll center center; transform:background (ease-out 3s);color:#05b7f5 !important;}

a.mydocuments{background:url(../images/mydocuments_icon.png) no-repeat scroll center center ;}
a.mydocuments:hover{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.mydocumentsfocus{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}

a.accessmanager{background:url(../images/accessmanager_icon.png) no-repeat scroll center center ;}
a.accessmanager:hover{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.accessmanagerfocus{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}

a.mystore{background:url(../images/mystore_icon.png) no-repeat scroll center center ;}
a.mystore:hover{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.mystorefocus{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}

a.mysettings{background:url(../images/setting_icon.png) no-repeat scroll center center ;}
a.mysettings:hover{background:url(../images/setting_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.mysettingsfocus{background:url(../images/setting_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}


a.myplans{background:url(../images/myplans_icon.png) no-repeat scroll center center ;}
a.myplans:hover{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}
a.myplansfocus{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);color:#05b7f5 !important;}


ul.uti_main_menu li a {
	background-position: center top;
	 font-family: 'oswaldbold';
    display: inline-block;
	font-size:14px;
    height: 32px;
    transition: all 0.3s ease-out 0s;
    width: 120px;
    line-height:15px;
    
}
ul.uti_main_menu li a {
	}
ul.uti_main_menu li a span{
	margin-top:10px;
}
/*top menu css End */

.utiuser_photoupload{
	height: 284px;
    margin-left: 20px;
    margin-top: 63px;
    position: relative;
    width: 218px;
}
.utiuser_photo{
	background-image: url("../kyc_images/user_img.png");
   height: 284px;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 25px;
    position: relative;
    width: 218px;
}

.utiuser_photoupload span {
	  float: left;
    margin-left: 11px;
    margin-top: -2px;
    z-index: 20;
}
.utiuser_photo p{
	color: #000000;
    font-family:Segoe UI;
    font-size: 12px;
      margin-top: 222px;
    text-align: center;
}

.utiuser_photo p span{
	  color: #787878;
    float: right;
    font-family: Segoe UI;
    font-size: 12px;
    margin-top:-3px !important;
    text-align: center;
    width: 214px;
     height: 20px;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}


.utiuser_photo p strong {
    color: #000000;
    font-family: MV Boli;
    font-size: 24px;
    text-align: center;
	width:100%;
}
.utichange input {
    color: #fff;
    cursor: pointer;
    height: 25px;
    margin-left: -5px;
    margin-top: -18px;
    opacity: 0;
    width: 83px;
}
.utichange input:hover {
    color: #fff;
    cursor: pointer;
    height: 25px;
    margin-left: -5px;
    margin-top: -18px;
    opacity: 0;
    width: 83px;
    z-index: 100;
}

.utileftside{
	  float: left;
    height: auto;
    margin-left: 48px;
  margin-top: -55px;
    position: relative;
    width: 21%;
}

.utirightside{
	 float: right;
    width: 72%;
    margin-right: 35px;
   height: auto;
     position: relative;
     min-height:500px;
   margin-top: -35px;
}

.utirightside h2 {
     background: url("../images/header_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #CCCCCC;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 42px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.utirightside h1{
      color: #05b7f5;
    display: inline-table;
    float: left;
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: bold;
    line-height: 0;
    padding: 0 0 5px;
    text-align: left;
    width: 95%;

}
.utirightside h1 b{
color:#000;
}
#plancontainer b{
	margin-left:10px;
}
.utirightside h4{
	background-color: #ddd;
    border-radius: 5px;
    color: #000;
    display: block;
    float: left;
    font-weight: normal;
    height: 15px;
    line-height: 20px;
    margin-left: 20px;
    padding: 7px 0 12px 18px;
    text-align: left;
    width: 93%;
     height: auto;
	}
.utirightside h4 b{
    margin-left: -25px;
}
.utirightside h4 span{
    border-color: transparent transparent #ddd;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top: -17px;
    width: 0;
    z-index: 100;
} 
.utirightsideheader  {
	 border-bottom: 1px solid #ccc;
}
.utimyaccounts ul
 {
	 border-bottom: 1px solid #ccc;
	     margin: 5px 5px 5px 10px;
}
.utitableinside{
	
	  clear: both;
    margin:-10px auto;
    position: relative;
    width: 100%;
}
.utirightsideheader{
       color: #05B7F5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 10px 0 0;
    text-align: left;
     margin-left: 15px;
       width: 96%;
}
.utirightside h2 span{
       font-size: 18px;
    line-height: 42px;
    padding: 3px 5px 10px 11px;
	font-family:Segoe UI;
	color:#ffffff;
}
.utirightside h2 p{
       font-size: 12px;
    line-height: 20px;
    padding:0px 10px 0 25px;
	font-family:Segoe UI;
	color:#ccc;
	font-style:italic;
	text-align:right;
	display:inline;
	float:right;
}

.utimodule-body {
       border-color: #ccc;
    border-image: none;
    border-radius: 5px;
    border-width: 1px;
    height: auto;
    margin-left: 0;
    margin-top: 0px;
    padding: 0;
    width: 855px;
    position: relative;
      display: inline-table;
    
}
.utirightside .utimodule-body {
  background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    min-height: 350px;
    padding:15px;
    width: 830px;
      display: inline-flex;
}
.utisettingsdiv input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius:5px;
    color: #4a484b;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
   right: 0;
    min-width: 90px;
    padding:5px 5px 5px 25px;
    transition: all 0.2s linear 0s;
    width: auto;
      float: right;
}
.utisettingsdiv input[type="button"]:hover {
	background: none repeat scroll 0 0 #05B7F5;
	color:#fff;
	
	}
.utisettingsdiv input[type="password"] {
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding: 7px 5px 7px 5px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 220px  !important;
}
.utisettingsdiv input[type="password"]:hover {
	background: none repeat scroll 0 0 #fff;
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-color:#05B7F5;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    margin-top: 4px;
    padding:7px 5px 7px 5px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 220px  !important;
}
.utisettingsdiv{
  margin-top: 25px;
    position: relative;
    text-align: left;
    width: 100%;
	 
}
#activityContent{
	  margin-top: 10px;
    position: relative;
   
    width: 100%;
}
.utirightsideheader button {
    background-color: #222;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 780px !important;
    margin-top: -10px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 30px;
    z-index: 100;
}
.utirightsideheader button:hover {
    background-color: #05B7F5;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 780px !important;
    margin-top: -10px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    width: 30px;
    z-index: 100;
}

.utiviewdocument{
	   background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000;
    font-weight: normal;
    padding: 3px 15px;
    text-decoration: none;
}
.utiviewdocument:hover{
	   background-color: #05B7F5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
    padding: 3px 15px;
    text-decoration: none;
}

.utimodule-body table th {
	height:40px !important;
	}
.utimodule-body,.panaltrow td {
    background-color: #d7d7d7;
}
.utitableinside td {
    border: 1px solid #e2e7eb;
}
#utimyArea1 {
    display: inline-block;
    height: 130px !important;
    overflow: hidden;
    width: 780px;
}

/*logout butoon  */
#utiloginButton {
    background: none repeat scroll 0 0 #4a484b;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
    margin-right: 0;
    margin-top: -58px;
    position: relative;
    text-decoration: none;
    width: auto;
    z-index: 30;
    
}

#utiloginButton:hover {
	
	 color: #05B7F5;
	}
#utiloginButton.active em {
    background: none repeat scroll 0 0 #4a484b;
    bottom: -1px;
    height: 1px;
}
#utiloginButton em {
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 25px !important;
    margin-right: 4px;
    padding-top: 10px;
    width: auto;
    float: right;
}
#utiloginButton.active span {
    background-position: 12px -72px;
}
#utiloginButton span {
    background: url("../kyc_images/loginArrow.png") no-repeat scroll 12px 9px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    width: 35px;
}
#utiloginButton.active {
    border-radius: 3px 3px 0 0;
}

.utisidesearchbar{
float: right;
 margin-bottom: 10px;
    margin-right:0px;
    margin-top: 0px;
    padding: 5px 0 5px 5px;
}
/*logout butoon  End*/

/* End of Profile Css */
/* KYC Contact Css */
.kyccontactform{
	width:100%;
	  background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 20px 35px 0;
    width: 87%;
}
#kyccontacemail{
	  background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 41px 20px 0;
    width: 100%;
}
#kyccontacemail span {
    color: #1766a9;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
#kyccontacemail ul{
	padding-left: 25px;
}
#kyccontacemail li{
	text-align:left;
	 height: 50px;
}

#kyccontactpage {
    clear: both;
    display: inline-table;
    height: 45px;
    position: relative;
        margin: 25px;
        text-align: left;

}
.kyccontactform b{
	  color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    margin-left: -25px;
}
.kyccontactform h1{
	 background: -moz-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	  background:  -webkit-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	   background: -o-linear-gradient(center top , #ebebeb, #bdbdbd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	  background: linear-gradient(to top, #1766a9, #05b7f5);
	   background: -webkit-linear-gradient(bottom,#1766a9,#05b7f5 100%); /* Chrome10+,Safari5.1+ */
    display: block;
    height: 15px;
    line-height: 20px;
     margin-top: 0;
    padding: 10px 0 20px;
    text-align: left;
    width: 100%;
   
   
     color: #fff;
     border-radius: 5px 5px 0 0;
}
.kyccontactform small {
  border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1766a9;
    content: "";
    float: left;
    height: 0;
    left: 10px;
    padding: 0;
    position: relative;
    top: 35px;
    width: 0;
    z-index: 100;
}
#kyccontacemail h2 span {
	 background: -webkit-linear-gradient(bottom,#e9e9e9,#f4f4f4); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 28px;
    line-height: 20px;
      margin-top: -12px;
    padding: 7px 0 5px 18px;
     color: #444444;
}
#kyccontacemail h2 span p{
	margin-left: 45px;
    margin-top: -25px;
	}
#kyccontacemail h2 {
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
}
#kyccontactpage span{
	color:red;
}

.notemodel
{
	display: inline-table;
    height: 40px;
    text-align: left;
    width: 100%;
}
.askhelp{
background: url("../kyc_images/help.png") no-repeat scroll right center rgba(0, 0, 0, 0);
clear: both;
    display: list-item;
    height: 64px;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    position: relative !important;
    right: 0;
    text-align: right !important;
    top: -33px;
    width: 50px;
      
    }
 #editregistrationhelp{
	   display: inline-table;
    position: absolute;
    right: 8px;
 
}
.askhelp:hover{
background: url("../kyc_images/help_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
clear: both;
    display: list-item;
    height: 64px;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    position: relative !important;
    right: 0;
    text-align: right !important;
    top: -33px;
    width: 50px;
  
    }

.askhelpdoc {
    background: url("../kyc_images/help.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    bottom: 0;
    clear: both;
    display: list-item;
    height: 64px;
    margin-right: -8px !important;
    margin-top: -45px !important;
    position: relative !important;
    text-align: right !important;
    
}
/* KYC Contact Css END*/
#kycdivlight{
 	border: 2px solid #03b2ee;
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -363px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 1002;
    border-radius: 5px !important;
    color: #555;
	text-align: justify;
	padding:0px !important
 
}
 #kycdivlight h1{ color: #05b7f5;
}

/* label::before {
    background: none repeat scroll 0 0 #f8f8f8;
    content: "";
    display: block;
    height: 20px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 0;
    width: 20px;
}
label::after {
    border-bottom: 1px solid #ddd;
    color: #aaa;
    content: ">";
    font: 15px "Consolas",monospace;
    padding: 0 0 2px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 2px;
    transform: rotate(90deg);
}
select {
    -moz-appearance: none;
    background: none repeat scroll 0 0 #f8f8f8;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    color: #888;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: medium none;
    padding: 3px;
} */
