#aatubody{
	 background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    display: inline-table;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1002;
}
#aatu{
    display: block;
    margin:0 ;
    padding: 0;
    position: relative;
}
#aatu h1 {
    background: none repeat scroll 0 0 #333;
    border-radius: 5px;
    color: #05b7f5;
    display: inline;
    float: left; 
    margin: 0;
    text-align: center;
    width: 100%;
    height:30px;
}
#aatu h1 p{
   color: #05b7f5;
    float: left;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    margin-left: 10px;
    text-align: left;

	}
#aatu tr,td{
	vertical-align:top;
}
#aatu h2{
 	color: #1f5f9f;
    float: left;
    font-family: "Trebuchet MS";
    padding-left: 15px;
    text-align: left;
    width: 100%;
}
#aatu h3{
 	 background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 16px;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
	 height: 25px;
	  z-index: 1;
}
.aatuprofiletr{border:1px #000 solid;}
.aatuprofile{
	  background-color: #eee;
    border-color: #333;
    border-radius: 5px;
   
    border-width: 1px;
    height: 381px;
    margin-left: 0px;
    overflow: hidden;
    position: relative;
    text-align: left;
    top: 5px;
    width: 266px;
}
/* .aatuprofile:hover{
	overflow-y:scroll;
		background-color: #eee;
	 border-color: #333;
    border-radius: 5px;    
    border-width: 1px;
    height: 381px;
    position: relative;
    text-align: left;
    width: 258px;
	 top:5px;
} */
/*.aatuprofile table td{
	border-bottom:1px solid #ccc;

}*/
.addressbar li span{
	width:100px;
}
.addressbar li{
	 display: block;
    position: relative;
    width: 800px;
}
#aatu textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #777;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 12px;
    box-sizing: content-box;
    color: #777777;
    height:20px;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    width: 660px;
}
#aatu textarea:hover {
	    border-color: #00b6f5;
}
#aatu table{
  display: inline-table;
    margin-top: 10px;	
}
.allowprofile{
	display: inline-block;
height: 340px;
  margin: 5px;
    max-height: 340px;
    overflow-x: hidden;
    position: relative;
}
/* .allowprofile{

     max-width:100%;
   height:90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
   width:100%;
   margin-left:0;
   margin-right:100px;
    float: left;
     overflow: hidden;
	}
	.allowprofile:hover{
	  overflow-x: hidden;
    overflow-y: scroll;
	}
 */
.aatudocuments{
	 width:267px;
	 text-align: left;
	 height:170px;
	 border-color: #777;
	 border-radius: 5px;
	 border-style: solid;
    border-width: 1px;
	 margin:15px;
	
}
.aatuleft{
	width:30%;
	float:left;

}
.aaturight{
	width:69%;
	float:right;
}
.aatuinnerdiv{
  margin: 15px;
}
.aaturight li{
	
}
#aatu aatuprofile table {
    margin-left: 0px !important;
}
.aaturight li{

	background-color: #eee;
    border-color: #333;
    border-radius: 5px;    
    border-width: 1px;
    float: left;
    height: 185px;
    list-style: outside none none;
    margin-bottom: 7px;
    margin-left: 12px;
    text-align: left;
    width: 48%;
     overflow: hidden;
    
}
.aaturight ul{
	margin:0px;
	padding:0px;
}
.aatutick
 {
      background: url("../kyc_images/document_Availbe.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0px !important;
    padding-left: 25px !important;
}

.aatucross
 {
    background: url("../ajax_loaderimage/sharingcross.png") no-repeat scroll 0 40% rgba(0, 0, 0, 0);
    margin: 0px !important;
    padding-left: 25px !important;
}
.imgnotavldoc{
	
      background: url("../kyc_images/document_notAvailbe.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0px !important;
    padding-left: 25px !important;
   
   
}
.aatudocumentsinner{
   display: block;
    height: 115px;
    margin: 5px;
   max-height: 115px;
    overflow-x: hidden;
    position: relative;
    width: 96%;
	border-bottom:1px dashed #ccc;
}

.aatudocumentsinner p{
	 margin-top: 5px !important;
    padding-bottom: 5px;
    padding-top: 3px;
}

.aatuaddmore{
 /*   fallback background-color: #46a7d5; background: url(resources/ajax_loaderimage/linear_bg_2.png); background-repeat: repeat-x; Safari 4-5, Chrome 1-9 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46a7d5), to(#2f769a)); Safari 5.1, Chrome 10+ background: -webkit-linear-gradient(top, #46a7d5, #2f769a); Firefox 3.6+ background: -moz-linear-gradient(top, #46a7d5, #2f769a); IE 10 background: -ms-linear-gradient(top, #46a7d5, #2f769a); Opera 11.10+ background: -o-linear-gradient(top, #46a7d5, #2f769a);
  border: 1px solid #898989;*/   
   background: none repeat scroll 0 0 #333 !important;
    border: 0 none !important;
    color: #fff !important;
    cursor: pointer !important;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 24px !important;
    font-weight: bold;
    height: auto !important;
    margin: 0 20px 0 0 !important;
    min-width: 30px !important;
    padding: 0 !important;
    transition: all 0.2s linear 0s;
    width: auto;
}
.aatuaddmore:hover{
/*    fallback background-color: #2f769a ; background: url(images/linear_bg_2.png); background-repeat: repeat-x; Safari 4-5, Chrome 1-9 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f769a), to(#46a7d5)); Safari 5.1, Chrome 10+ background: -webkit-linear-gradient(top, #2f769a, #46a7d5); Firefox 3.6+ background: -moz-linear-gradient(top, #2f769a, #46a7d5); IE 10 background: -ms-linear-gradient(top, #2f769a, #46a7d5); Opera 11.10+ background: -o-linear-gradient(top, #2f769a, #46a7d5);
 */
    background: none repeat scroll 0 0 #05b7f5 !important;
    border: 0 none !important;
    color: #fff !important;
    cursor: pointer !important;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 24px !important;
    font-weight: bold;
    height: auto !important;
    margin: 0 20px 0 0 !important;
    min-width: 30px !important;
    padding: 0 !important;
    transition: all 0.2s linear 0s;
    width: auto;
 }
.closepop_button{
	background-image: url("resources/ajax_loaderimage/closepop_button.png");
    background-repeat: repeat;
    cursor: pointer;
    float: right;
    height: 33px;
    position: absolute;
    right: -15px;
    top: -20px;
    width: 33px;
    z-index: 500;
}
.aatu_button
{
	 background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 15px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin:10px 20px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.aatu_button:hover{
	background:#00b6f5;
	color:#fff;
}

.buttonType
{
background-color: #eee;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
}

#allowAccessPopLight{
  background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 0 10px 3px #333;
    border-radius: 5px;
    display: none;
    height: 250px;
    left: 50%;
    margin-left: -192px;
    margin-top: -168px;
    padding: 5px;
    position: absolute;
    top: 64%;
    width: 350px;
    z-index: 1002;
    
}
#allowAccessPopContent{
    height:185px;
    margin: 0;
    overflow-x:hidden;
    text-align: left;
    width: 100%;
    max-height: 185px;
    border-bottom: 1px dashed #ccc;
}  

.allowaccessPop{
  display: inline-table;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#allowAccessPopLight h1{
  background-color: #333;
    border-radius: 5px;
    height: 25px;
    width: 100%;	
    margin: 0;
	}
	#allowAccessPopLight h1 p{
	color: #05b7f5;
    float: left;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    margin-left: 10px;
    text-align: left;
	}
/* .aaturight input[type="button"] {
    background-color: #eee;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    height: 32px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
} */
.allowacce_light {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #05b7f5;
    border-radius: 5px;
    clear: both;
    display: none;
    height: auto;
    left: -146px !important;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: -45px;
    vertical-align: top;
    width: 725px;
    z-index: 20000;
}