
/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* #tabs1-html .dropdownarrow{
   background: url("../images/Dropdown_Arrow.png") no-repeat scroll right center !important;
    border: 0 none;
    border-radius: 0;
    float: right;
    font-family: arial;
    font-size: 14px;
    height: 32px;
    line-height: 1;
    margin-left: 8px;
    margin-right: 13px;
    margin-top: -33px;
    padding: 15px 0 0;
    position: relative;
    width: 278px;
    z-index: 0;
    text-align:center;
    color:#898989;
   }
   #tabs1-html .dropdownarrow:hover{
   background: url("../images/Dropdown_Arrow_hover.png") no-repeat scroll right center  !important;
    border: 0 none;
    border-radius: 0;
    float: right;
     font-family: arial;
    font-size: 14px;
    height: 32px;
    line-height: 1;
    margin-left: 8px;
    margin-right: 13px;
    margin-top: -33px;
    padding: 15px 0 0;
    position: relative;
    width: 278px;
    z-index: 0;
      text-align:center;
      color:#00b4f6;
   }
   #tabs1-html select{
 opacity: 0;
    z-index: 10;
   
   } */
#wrapper{ width:1000px; margin:0 auto;}

#wrapper h1 {
    font-size: 36px;
    font-weight: normal;
    position: relative;
    text-align: center;
	color:#DDDDDD;
}

#container
{
	width:350px;
	margin:0 auto;
	padding-top:80px;
}


.tabs {
    position: relative;
	width: 350px;
}

.tabs input[type="radio"] {
	position: absolute;
	z-index: 1000;
	height: 37px;
	left: 0px;
	top: 0px;
	opacity: 0;
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-1{
	left: 0px;
	width:68px;
}
.tabs input#tab-2 {
    left: 83px;
    width: 57px;
}
.tabs input#tab-3 {
    left: 157px;
    width: 166px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs span {
	background: #4a484b;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
    float: left;
	display: block;
	color: #DDDDDD;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
    border-radius: 5px 5px 0 0;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;s
}

.tabs span:after {
    content: '';
	background: #DDDDDD;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + span {
	background: #777777;
	color:#fff;
	
}

.tabs span:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + span {
    background: none repeat scroll 0 0 #00b6f5;
    color: #FFFFFF;
	z-index: 6;
	
}

.clear-shadow {
	clear: both;
}

#content {
	position: relative;
	z-index: 0;
}

#tabs1-html p{
float:left;
width:100%;
margin: 0 0 10px;
text-align:left;
}
#utilizersignUpForm p{
	margin-left:20px !important;
}
#content div {
	
	background: #fff;
	border-radius: 0 0 5px 5px;
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 1;
    opacity: 0;
   border: 1px solid #B2B2B2;
}

.tabs input.tab-selector-1:checked ~ #content .content-1,
.tabs input.tab-selector-2:checked ~ #content .content-2,
.tabs input.tab-selector-3:checked ~ #content .content-3,
.tabs input.tab-selector-4:checked ~ #content .content-4 {
	z-index: 100;
    filter: alpha(opacity=100);
    opacity: 1;

    
}
#content div h2,
#content div h3{
	color: #398080;
}


#tabs1-html .field {
   -moz-box-sizing: content-box;
    background-color: #EFEFEF;
    border-color: #B2B2B2;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
    padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 20em;
     margin-left: 10px;
      z-index: 10 !important;
       position: relative;
        -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
          text-transform: capitalize;
}
#tabs1-html .field:hover {
   -moz-box-sizing: content-box;
    background-color: #fff;
     border-color: #00b6f5;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
       padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 20em;
     margin-left: 10px;
      -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
          text-transform: capitalize;
}
#tabs1-html .field:focus {
   -moz-box-sizing: content-box;
    background-color: #fff;
     border-color: #00b6f5;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
     padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 20em;
     margin-left: 10px;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
     text-transform: capitalize;   
}
.styled-select select {
	 background:none repeat scroll 0 0 rgba(1, 1, 1, 0.08);
   -moz-box-sizing: content-box;
      border-color: #B2B2B2;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
    padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 23em;
     color:#636463;
     margin-left: 10px;
      z-index: 10 !important;
       position: relative;
        -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
          text-transform: capitalize;
}
.styled-select select:hover {
	 background: none repeat scroll 0 0 transparent  !important;
   -moz-box-sizing: content-box;
    background-color: #fff;
      border-color: #00b6f5;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
       padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 23em;
     color:#636463;
     margin-left: 10px;
      -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
          text-transform: capitalize;
}
.styled-select select:focus {
	 background: none repeat scroll 0 0 transparent  !important;
   -moz-box-sizing: content-box;
    background-color: #fff;
    border-color: #00b6f5;
     border-width: 1px 1px 1px 12px;
      border-style: solid;
    margin-top: 4px;
     padding: 7px 5px 5px 5px;
    transition: all 0.2s linear 0s;
    width: 23em;
   color:#636463;
     margin-left: 10px;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
     text-transform: capitalize;   
}
.styled-select {
   background: url("../images/drop_arrow_bl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 42px;
    margin-top: -15px;
    overflow: hidden;
    padding: 0;
    width: 276px;
   }
   .styled-select:hover {
   background: url("../images/drop_arrow_bl_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    height: 42px;
    margin-top: -15px;
    overflow: hidden;
    padding: 0;
    width: 276px;
   }
   .styled-select:focus {
   background: url("../images/drop_arrow_bl_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  border: medium none;
    height: 42px;
    margin-top: -15px;
    overflow: hidden;
    padding: 0;
    width: 276px;
   }
   .styled-select:active {
   background: url("../images/drop_arrow_bl_hover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
   border: medium none;
    height: 42px;
    margin-top: -15px;
    overflow: hidden;
    padding: 0;
    width: 276px;
   }
#tabs1-html label {
    color: #039bfc;
    position: relative;
}
#tabs1-html input[type="submit"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 40px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#tabs1-html input[type="submit"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 40px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}



#tabs1-js .field {
	background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #EFEFEF;
    border: 1px solid #B2B2B2;
    margin-top: 4px;
   padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 265px !important;
}
#tabs1-js .field:hover {
	background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 4px;
    padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 265px;
}
#tabs1-js .field:focus {
	background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 4px;
     padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 265px;
}


#tabs1-js label {
    color: #039bfc;
    position: relative;
}
#tabs1-js input[type="submit"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius:5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:0 42px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#tabs1-js input[type="submit"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 42px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}



#tabs1-css .field {
	background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #EFEFEF;
    border: 1px solid #B2B2B2;
    margin-top: 4px;
     padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 240px;
}
#tabs1-css .field:hover {
	background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 4px;
   padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 240px;
}
#tabs1-css .field:focus {
	background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 4px;
    padding: 7px 5px 5px 18px;
    transition: all 0.2s linear 0s;
    width: 240px;
    border-radius:0px !important;
}

#tabs1-css label {
    color: #039bfc;
    position: relative;
}

#tabs1-css input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 42px 0 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
#tabs1-css input[type="button"]:hover {
    background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 42px 0 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}

#tabs1-css input[type="submit"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 42px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#tabs1-css input[type="submit"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 42px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#tabs1-html input[type="button"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#tabs1-html input[type="button"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}
#tabs1-html input[type="reset"] {
      background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}

#tabs1-html input[type="reset"]:hover {
      background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 90px;
}



#content [data-icon]:after {
    color: #039bfc;
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    left: 10px;
    position: absolute;
    top: 35px;
    width: 30px;
}

.signin{
    color: #039BFC;
    font-size: 14px;
}
.keeplogin{
     color: #039bfc;
    display: inline-table;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    right: -10px;
    text-align: right !important;
    width: 100%;
}
.tw{
float:right;
}
.tw:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "t";
    font-family: verdana;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.media:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.15em 0 0 0.15em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    pointer-events: none;
    text-align: center;
    width: 1em;
	color:#039BFC;
}
.tw, .tw:focus {
    background-color: #88E1E6;
}
.tw, .fb1, .tw:hover, .fb1:hover {
    background:#777777;
}
.media {
    background-color: #DDDDDD;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #B2B2B2;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: #333333;
    display: inline-block;
    padding: 0 1.5em;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
	font-size:16px;
	line-height:30px;
}
.fb1{
float:left;
}
.fb1:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    content: "f";
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#footer { height:45px; color: white; text-align: center; background: #2f2626; width: 100%; position: auto; }

#signUpForm td{
	height:25px;
	padding: 0;
}
.error {
/* 	background:#ffecec url('../kyc_images/error.png') no-repeat 10px 50%;
	border:1px solid red; */
 color: red;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    padding: 4px 25px;
    position: absolute;
    text-align: left;
    width: auto;
}
.left-error {
    background: url("../kyc_images/error.png") no-repeat scroll 10px 50% #ffecec;
    border: 1px solid red;
    border-radius: 10px;
    color: #555;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    margin-left: -198px !important;
    margin-top: 0;
    padding: 4px 35px;
    position: absolute;
    width: auto;
    z-index: 500;
}
 input, select {
              
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }


.keeplogin input[type="button"]{
   background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4A484B;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
     margin:10px 5px 5px;
    min-width: 85px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
      float: right;
}
.keeplogin input[type="button"]:hover{
background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin:10px 5px 5px;
    padding: 5px;
     font-weight: bold;
    transition: all 0.2s linear 0s;
    width: auto;
     min-width: 85px;
       float: right;
}
