/* [class*="entypo-"]:before { font-family: 'entypo', sans-serif; } */
body {
  background-image: url("../images/bg_img.png");
  /* background-color: #ecf0f1; */
  font: 300 1.25em/1.4 "Lato", sans-serif;
  color: #686868;
  padding:0;
  margin:0;
}
ul{
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1, .sub-heading {
  background-color: #333;
    color: #00b6f5;
    margin: 0;
    text-align: center;
    font-size: 24px;
      padding-top: 22px;
}
.sub-heading {
  font-size: .75em;
  font-weight: 300;
}
.checklogo
{
 background-image: url("../images/kyclogo.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin:13px auto 0 15px;
    width: 150px;
    }

/**
 * @section: utilities;
 * @see: Justify Grid [http://justifygrid.com/]
 */
._grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  text-rendering: optimizespeed;
}
._grid:after {
  content: "";
  display: inline-block;
  width: 100%;
  
}
._column {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  text-align: left;
  text-rendering: optimizeLegibility;
}
._btn {
  display: inline-block;
  background-color: #00b5f6;
  border: none;
  padding: .5em .75em;
  text-align: center;
  font-weight: 300;
}
._btn:hover,
.cart-totals:hover ._btn {
  background-color: #3498db;
  color: #ecf0f1;
}

/**
 * @section: shopping-cart;
 */
.shopping-cart {
 background-color: #eee;
  width: 85%;
  max-width: 72rem;
  margin: 15px auto;
}
/**
 * @extends: _grid;
 */
.shopping-cart--list-item {
  border: 1px solid #3498db;
  margin-bottom: 3rem;
  height: 11rem;
  overflow: hidden;
   border-radius: 5px;
}
/* .shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
  border-color: #3498db;
} */
.shopping-cart--list-item > ._column {
    height: 100%; /* make vertical lines match */
}

/**
 * @section: product-image;
 * @extends: _column;
 */
.product-image {
  width: 16.663198%;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") no-repeat center / cover transparent;
}

/**
 * @section: product-info;
 * @extends: _column;
 */
.product-info {
  width: 70.832119%;
  padding: .5rem;
}
.product-name {
  font: 295 2.4em/1 "Lato", sans-serif;
  letter-spacing: -.025em;
  margin: 0 0 .125em;
}
.price {
  line-height: 1;
  text-align: right;
}
.product-single-price {
  font-size: 1.4em;
}

/**
 * @section: product-modifiers;
 * @extends: _column;
 */
.product-modifiers {
  width: 18.496%;
  text-align: right;
  border-left: 1px solid #3498db;
}
.product-subtract,
.product-plus,
.product-qty {
  width: 33.330557%;
  background-color: transparent;
  color: #686868;
  text-align: center;
}
.product-qty {
  padding: .35em .75em;
}
.product-remove {
  font-size: .875em;
  margin-top: 3.35rem;
  background-color: #e74c3c;
  color: #ecf0f1;
  width: 100%;
  visibility: hidden;
}
.product-modifiers:hover .product-remove {
  visibility: visible;
}
.product-remove:before {
  margin-right: .5em;
}
.product-remove:hover {
  background-color: #c0392b;
}
.product-total-price {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #00b5f6;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font-size: 22px !important;
    height: 90px !important;
    margin: 25px auto !important;
    width: 90px !important;
     text-align: center;
}

.nameCheck
{
	color:#00b6f5;
	
}
/**
 * @section: cart-totals;
 * @extends: _grid;
 */
.cart-totals {
   border: 1px solid #bdc3c7;
    margin: 0 auto;
    /* width: 70%; */
    width: 85%;
}

.cart-totals ._column {
  width: 40%;
  padding: .5rem;
}


.productColumn {
  width: 40%;
  padding: .5rem;
  line-height: 1.2;
}


.cart-totals ._column:not(:last-of-type) {
  border-right: 1px solid #bdc3c7;
}
.cart-totals ._column:first-of-type {
  padding-left: 0;
}
.cart-totals-key {
    background-color: #00b5f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-top: -10px;
    padding: 2px;
    text-align: center;
}
.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
  color: #333;
}
.cart-totals-value {
  font-size: 1.3em;
   text-align: center;
   margin-top: 6px;
}

._column.checkout {
  text-align: center;
  padding: 0;
  margin-top: 0;
  vertical-align: middle;
}

.columnback 
{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.checkout-btn:before {
  margin-right: .5em;
}
._btn.checkout-btn:hover {
  background-color: #2980b9;
}

/**
 * Animations
 */
.product-remove,
.cart-totals * {
  transition: all .2s ease;
}
.closing {
  transition: all .5s ease;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
#checkoutli{
    background-color: #eee;
    height: 300px !important;
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
}
#checkoutli li{
	 /*   background-color: #eee;
    display: list-item;
    float: left;
    width: 25%;
	max-height:auto;
	height:277px; */
	
    background-color: #fff;
    border-radius: 5px;
    display: list-item;
    float: left;
    height: 289px;
    margin: 5px 5px 5px 13px;
    width: 23%;
}
#checkoutinnerul li{
	 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: list-item;
    float: left;
    width:100%;
    font-size: 11px;
    border-right:none;
    max-height:auto;
	height:auto !important;
	/* margin-top: 5px; */
}


.unitpricecss
{
	background-color: #00b5f6;
    color: #fff;
    font-size: 1.125em;
    text-align: center;
    text-align:center;
}

.productfeat
{
	   color: #00b5f6;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 14px;
}

