.right {
	 background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: right;
    height: 300px;
    margin-bottom: 15px;
    width: 40%;
}

.left  {
     background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 300px;
    width: 40%;
}
.left h1 span {
   background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 28px;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -21px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 322px;
}
.right h1 span {
     background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 28px;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -21px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 346px;
}