.CheckBoxClass,.RadioClass{
		display: none;
	}
	.CheckBoxLabelClass{
		background: url("../images/UnCheck.png") no-repeat;
		padding-left: 30px;
		padding-top: 3px;
		margin: 5px;
		height: 28px;	
		width: 150px;
		display: block;
	}
	.CheckBoxLabelClass:hover, .RadioLabelClass:hover{
		text-decoration: underline;
	}
	.LabelSelected{
		background: url("../images/Check.png") no-repeat;
	}
	.RadioLabelClass{
		background: url("../images/RUnCheck.png") no-repeat;
		padding-left: 30px;
		padding-top: 3px;
		margin: 5px;
		height: 28px;	
		width: 70px;
		display: block;	
		float: left;
	}
	.RadioSelected{
		background: url("../images/RCheck.png") no-repeat;
	}
	
