 html{
    height: 100%;
    width: 100%;
 overflow-y: visible;
 overflow-x: hidden;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	margin:0px auto;
	padding:0px;
	background-color:#fff;
	text-align:center;
	list-style:none;
	background-image: url("../images/bg_img.png");
	 font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
	
	
}
 html {
	position: relative;
	min-height: 100%;
}
.hide-scrollbar {
	overflow: hidden;
}
ul,li{
	list-style:none;
	list-style-image:none;
	 outline: none;
  border: none; 
}
	
a img {outline : none;
text-decoration:none;}
img 
{
	border : 0;
    
}
#centerbody {
  
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.container{
	width:auto;
	height:100%;
	text-align:center;
	 margin: 0 auto;
}
	
.top_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
	margin:0 auto;
}
.header{
	  background-color: #4A484B;
    height: 72px;
    margin-top: 3px;
    width: 100%;
    margin:0 auto;
	
	
}
.main{
	 height: 472px;
	margin:2px  auto;
    width:1024px;
}
.index_main {
   height: auto;
	margin: -10px  auto;
    width:100%;
}
.header_inner{
	  display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
	  display:-webkit-box;
	width:1024px;
	margin:0 auto ;
	padding-top:10px;
}
.search-bar{
	 display: table;
    height: 50px;
    margin: 0 0 0 287px;
    position: relative;
    width: auto;
}
#tfheader input img{
  border: 0 none;
    height: 38px;
    margin-left: -4px;
    margin-top: 0;
}
#tfheader{
	margin: 6px auto 0;
    width:100%;
display: inline-flex;
	}
	#tfnewsearch{
		float:right;
		padding:0px;
	}
	.tftextinput2{
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #686D73 -moz-use-text-color #686D73 #686D73;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 38px;
    margin: 0px;
    padding: 0 0 0 10px;
    width:401px;
	float:left;
	}
	input, select {
    box-sizing: border-box;
}
.b_searchresult{
   /* background: none repeat scroll 0 0 #fff;
    margin: -30px auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 447px;
    z-index: 5000; */
    
   /*    background: none repeat scroll 0 0 #eee;
    border: 1px solid #05b7f5;
    border-radius: 5px;
    margin: -10px auto -18px 289px;
 -webkit-margin-before:-11px -221px;
    -webkit-margin-before: 27px;
    max-height: 350px;
    overflow-x: hidden;
    padding: 5px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 386px;
    z-index: 5000;
    -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
-moz-margin-top:  -10px auto -18px 289px;  for mozilla */

 background: none repeat scroll 0 0 #eee;
    border: 1px solid #05b7f5;
    border-radius: 5px;
    margin:-10px auto;
    max-height: 350px;
    overflow-x: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width:433px;
    z-index: 500;
/*  
  -webkit-margin-before: -11px;
  -webkit-margin-after: 0em;
  -webkit-margin-start: -224px;
  -webkit-margin-end: 224px;
  -webkit-padding-start: 7px;
  -moz-margin-top: 10px;
  -moz-margin-right:auto;
  -moz-margin-bottom:280px;
  -moz-margin-right:-18px;  */
 
}
.b_searchresult img{
	margin-top:10px;
}
.b_searchresult h1{
	 width:433px !important;
	}
.topprofilestyle {
    border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 15px 10px;
    content: "";
    float: right;
    height: 0;
    position: relative;
    right: 70px;
    text-align: center;
    top: 35px;
    width: 0;
    z-index: 10000;
}

.topdivespan{
 display: table-footer-group;
    height: 25px;
    margin:0px auto;
    position: absolute;
    text-align: center;
    width:100%;
    z-index: 500;
}
.searchtopstyle{
    border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 15px 10px;
    content: "";
    height: 0;
    position: relative;
    right: 15px;
    text-align: center;
    top: -35px;
    width: 0;
    z-index: 50;
    -ms-top:-23px;
}
/* *::-ms-backdrop, .searchtopstyle 
  { 
    -ms-top:-50px;
   } */ /* IE11 */
   div.searchtopstyle {margin-top:-3px;}
	.tfbutton2 {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-right-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    margin: 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: right;
    text-decoration: none;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.main_menu ul {
		color:#ccc !important;
	
	}
.main_menu li{
	 color: #CCCCCC;
    float: left;
    margin-left: 0px;
    margin-top:0px !important;
    text-align: center;
    width: auto;
  
  /*-webkit-margin-before:-50px !important;
-webkit-margin-end:0px !important;
-webkit-margin-after:0px !important;
-webkit-margin-start:0px !important;
       -ms-margin-top:0px !important;
    -o-margin-top:0px !important;
    -moz-margin-top:0px !important; */
	}

	.main_menu li span{
	
    margin-top: -10px;
    text-align: center;
    width: auto;
	}
.main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.main_menu{
   display: inline-table;
position: relative;
height: auto;
margin: 0px;
}
.logo{
	background-image: url("../images/kyclogo.png");
background-repeat: no-repeat;
cursor: pointer;
float: left;
height: 52px;
margin: 0 auto;
width:150px;
position: absolute;
}
.mainmenu{
    display: inline-table;
    float: right;
    margin: 0 0 0 80px;
    position:relative;
    text-align: center;
      width: 26%;
}
.mainmenu ul{
	margin:0px;
}
.rightsideindex{
	float: right;
    margin: 0 auto;
    padding: 0;
    width: auto;
}
.rightside{
	 float: right;
    width:auto;
      margin-right:0px;
      margin-top:0px;
}
.topmenutext{
  margin-top:50px;
}
ul.main_menu li a {
    display: inline-block;
    height: 57px;
    transition: all 0.3s ease-out 0s;
    width: 97px;
}
 a.individual{background:url(../images/home_main_menu.jpg) 0 0 no-repeat;} 
 a.individualactive{background:url(../images/home_main_menu_hover.jpg) no-repeat 0px 0px; transform:background (ease-out 3s);}
 a.individual:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.corporate{background:url(../images/home_main_menu.jpg) no-repeat -91px 0;} 
a.corporateactive{background:url(../images/home_main_menu_hover.jpg) no-repeat -91px 0px; transform: rotate(ease-out 3s);}
a.corporate:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -91px 0px; transform: rotate(ease-out 3s);}
 a.utiliser{background:url(../images/home_main_menu.jpg) no-repeat -196px 0;} 
a.utiliseractive{background:url(../images/home_main_menu_hover.jpg) no-repeat -196px 0px; transform: rotate(ease-out 3s);}
a.utiliser:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -196px 0px; transform: rotate(ease-out 3s);}

.banner_center{
	height:382px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	
}

.banner_center_individual{
 background-image: url("../images/bg_img.png");
    clear: both;
    height: 100% !important;
    margin: 0 auto;
    min-height: 336px !important;
    padding: 0;
    position: relative;
  
}
.centerbodydiv { 
   width:750px; 
   height:490px; 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:bottom;
}
.centerbodydiv{
	
	width:550px;
	text-align:center;
	margin:0 auto;
}
.banner_center_corporate{
	height:383px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	  padding-top: 50px;
	
}

.banner_center_utiliser{
	height:383px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	  padding-top: 50px;
	
}
.slider_buttons{
	width:150px;
	height:11px;
	margin:-40px auto 0;
}
.slider_iamge{
	   background-image: url("../images/slider_01.png");
    background-repeat: no-repeat;
    float: right;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-position: center top;
}
.connect_kyc_logo{	
background-image:url(../images/connect_kyc_logo.png);
background-repeat:no-repeat;
	height:100%;
	width:900px;
	margin: 0 auto;
	
}
/* .banner_center_individual img{
	
    margin-top: 195px;
} */
.slider_buttons li{
	float:left;
	margin-left:5px;

}
.leftside{
	width:200px;
	height:150px;
	float:left;
	margin-top:0px;
	 margin-left:0px;
	 position: absolute;
}
.bottom-icons ul{
	margin-top:0px;
}
.bottom-icons{
	 margin: -17px auto 0;
	  width: 1200px;
}
.bottom-icons li{
	 color: #CCCCCC;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    text-align: center;
    width: 250px;
    cursor: pointer;
      height: 120px;
	}
.bottom-icons li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.bottom-icons li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.bottom-icons-leftline{
	border-left:1px solid #ccc;
}

.bottom-icons h2{
	color: #03b2ee;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
	
}
.bottom-icons p{
	color: #000;
	text-align:center;
	font-family:Segoe UI;
	margin:0px 15px;
}
.footer_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
/* .footer{
	 clear: both;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: auto;
} */
.footer{ 
	  clear: both;
    display: block;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.footer_topline{
	width:100%;
	height:1px;
	background-color:#00b6f5;
}
.footer_center{
	height:135px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights {
    background-color: #4a484b;
    height: 74px;
    margin-top: -14px;
    width: 100%;
}
.copyrights {
		 height: 52px;
    margin: 0 auto;
    width: 1024px;
}
.copyrights ul{
	padding:0px;
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: -5px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin: 0;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	
}
.footer_space02{
	 text-align: left;
    width: 520px;
	height:52px;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    font-family: Segoe UI;
    font-size: 12px;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:25px;
	 float: right;
}

a.fb{background:url(../images/bottom_social_icon.png) 0 0 no-repeat;}
a.fb:hover{background: url(../images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.google_plus{background:url(../images/bottom_social_icon.png) no-repeat -62px 0;}
a.google_plus:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -62px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}

/*/------------/*/

.searchcontainer {
    margin: 50px auto;
    width: 100px;
}
.searchbox {
    float: right;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
.searchbox-input {
    background: none repeat scroll 0 0 #DCDDD8;
    border: 0 none;
    color: #FF0000;
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0 55px 0 20px;
    right: 0;
    top: 0;
    width: 100%;
}
input {
    line-height: normal;
}
.searchbox-input::-moz-placeholder {
    color: #D74B4B;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.searchbox-icon, .searchbox-submit {
    background: none repeat scroll 0 0 #172B3C;
    border: 0 none;
    color: #DCDDD8;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.content-1{
	
	height:auto;
	clear:both;
}
.content-2{
	
	height:auto;
	clear:both;
}
.content-3{
	
	height:auto;
	clear:both;
}

#searchhomepage table {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px auto 40px 300px;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 1;
 
}
#fnameDiv1{
  border: 1px solid red;
    border-radius: 5px;
    height: 25px;
    margin-top: 44px;
    position: relative;
    width: 200px;
    z-index: 10;
	
}
#searchhomepage table tr {	
   border-color: #b9c4cf #b9c4cf #b9c4cf #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: arial !important;
    font-size: 12px;
    font-weight: normal;
    height: 20px !important;
    padding: 0 8px;
   
}
#searchhomepage td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
#searchhomepage table tbody .alt tr {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #7D7D7D;
} 
#searchhomepage table tr:hover td	
	{ background:#f1f4f7;box-shadow:inset 0 0 0px 1px #FFFFFF;
 }
#searchhomepage tr:nth-child(2n) {
    background-color: #FFFFFF;
}
#searchhomepage tr:nth-child(2n+1) {
    background-color: #E5E5E5;
}
#searchhomepage tr:nth-child(1) {
    background-color: #999;
}
a {
    color: #03b2ee;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: none;
}
#searchhomepage{
      display:table;
    height: auto;
    margin:0px auto 0 auto !important;
    overflow: auto;
  position: absolute;
    width:100% !important;
    z-index: 500;
}
#searchhomepage ul {
	marign:0;
	padding:0;
}
#searchhomepage ul li{
	  border-bottom: 1px solid #ccc;
    margin: 0 auto;
    padding-bottom: 5px;
    width: 600px;
    height: 70px;
}
#searchhomepage ul li span{
	margin: 0 auto;
	 padding: 10px;
}
#searchhomepage ul li img{
	/* float:left;
	 margin-top: 7px; */
	margin-top: 7px; 
}
#searchhomepage ul li span input{
 background-color: #ebebeb;
    border: 1px solid #000;
    color: #4c4a4d;
    cursor: pointer;
   float: right;
    margin: 35px auto 0;
    width: 100px;
    background-image:linear-gradient(rgba(150, 189, 254, 0), #ebebeb);
      padding: 5px;
      border-radius: 5px;
}
#searchhomepage ul li span input:hover{
 background-color: #ebebeb;
    border: 1px solid #000;
    color: #4c4a4d;
    cursor: pointer;
   float: right;
    margin: 35px auto 0;
    width: 100px;
    background-image:linear-gradient(rgba(150, 189, 254, 0), #ccc);
      padding: 5px;
      border-radius: 5px;
}
 .black_overlay{
	background-color: black;
    display: none;
    height: 116%;
    left: 0;
    margin-top: -75px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid #03b2ee;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
#searchhomepage ul li span b{
	min-width:50px;
	width:auto;
}
.namedeatils{
	 float: left;
    width: 400px;
}
/* .namedeatils p{
	 float: left;
    width: 400px;
    margin:0;
     text-align: left;
     color:#00B6F5;
} */
.namedeatils p strong{
	margin:5px;
	color:#000;
}
.namedeatils p b{
	margin:5px;
	color:#000;
}
.namedeatils-button{
	width:100px;
	float:right;
}
.namedeatils-photo{
  height: 50px;
    text-align: center;
    width: 100px;
    float:left;
}
.namedeatils-button input{
   background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 40px 37px 0 0;
    min-width: 100px;
    padding: 2px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.namedeatils-button input:hover{
background: none repeat scroll 0 0 #00B6F5;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 40px 37px 0 0;
    min-width: 100px;
    padding: 2px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.version {
	margin:0 auto;
	text-align:center;
	width:100%;
}

.version span a{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}
.version span a:hover{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}

 footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}
 
  /*tab control css (24.02.15)*/
 a.individualactive:focus, a.utiliser:focus{
   
    border: 1px solid #05b7f5 ;
      border-radius:5px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button-submit:focus{
   
    border: 1px solid #05b7f5 !important;
   
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-radius:5px !important;
}
.search_button-submit:focus{
border-top-right-radius:5px;
border-bottom-right-radius:5px;
border: 1px solid #05b7f5;
   
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.errormsg {
    color: #dd4b39;
    display: block;
    line-height: 17px;
    margin: 0.5em 0 0;
}
.errormage{
  border: medium none;
    border-radius: 0;
    color: red;
    display: inline-flex;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 0;
}
.successmage{
  border: medium none;
    border-radius: 10px;
    color: green;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 12px;
    margin:42px 3px auto;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 0;
}