body{
	 font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
        scrollbar-base-color: #C0C0C0;
	  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
	  scrollbar-track-color: #EBEBEB;
	  scrollbar-arrow-color: black;
	  scrollbar-shadow-color: #C0C0C0;
	  scrollbar-dark-shadow-color: #C0C0C0;
}

 
ul,li{
	list-style:none;
	list-style-image:none;
	 outline: none;
  border: none; 
}
/* .sharingselectitems select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   background: url("../images/Dropdown_Arrow.png") no-repeat right #ddd !important;
   -webkit-appearance: none;
   } */
   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
  
   border: 1px solid #ccc;
   }	
a img {outline : none;
text-decoration:none;}
img {border : 0;}
.container{
	width:auto;
	height:170px;
	text-align:center;
	 margin: 0 auto;
	 width:1024px;
}
.main{
	height:550px;
	}	
.top_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.header{
	height:72px;
	background-color:#4a484b;
	
	
}
.header_inner{
	width:1024px;
	margin:0 auto ;
	padding-top:10px;
}
.search-bar{
	  margin: 0 auto;
    text-align: center;
    top: 0;
    width: 450px;
}
#tfheader input img{
  border: 0 none;
    height: 38px;
    margin-left: -4px;
    margin-top: 0;
}
#tfheader{
	margin: 10px auto 0;
    width:450px;
	}
	#tfnewsearch{
		float:right;
		padding:0px;
	}
	
/* 	#searchicon{
	 border-bottom: 1px solid #05b7f5;
	 border-right: 1px solid #05b7f5; 
	   border-top: 0px solid #05b7f5;
	  border-left: 1px solid #05b7f5;
	   border-radius:0 0 5px 5px;
    border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     border-top-right-radius: 0px;
     border-top-left-radius: 0px;
    float: right;
    height: 353px;
    margin: 34px 0 0;
    padding: 0;
    position: absolute;
    right: -109px;
    top:1px;
    width: 446px;
    z-index: 500;
	} */
	#searchicon {
	
    /* float: right;
    height: 353px;
    margin: 34px 0 0;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    right: -107px;
    top: -11px;
    width: 445px;
    z-index: 500; */
     background: none repeat scroll 0 0 #eee;
    border: 1px solid #05b7f5;
    border-radius: 5px;
    float:none;
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
    padding: 10px;
    position: absolute;
    right:5px;
    top: 52px;
    width: 373px;
    z-index: 510;
      box-shadow: 0 4px 10px #000;
}

.topprofilestyle {
    border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 15px 10px;
    content: "";
    float: right;
    height: 0;
    position: absolute;
    right: 70px;
    text-align: center;
    top: 42px;
    width: 0;
    z-index: 512;
}

#profilesearch {

    margin-left: 210px;
    padding: 0;
    width: 447px;
}
#generatecodesearchicon{
	margin:15px;
}
.profilesearchtextinput2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0;
    padding: 0 2px;
    width: 392px;
}
.generatecodesearch {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 38px;
    margin: 0;
    padding: 0 2px;
    width: 300px;
}
#generatecodesearchType {
   background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    color: #000;
    height: 17px;
    margin-bottom: 2px;
    margin-left: -123px;
    margin-top: 0;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 110px;
}
#mydiv h{
	background-color:#ccc;
	height:20px;
	width:100px;
}
.name {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0;
    padding: 0 2px;
    width: 392px;
}
#selectedid{
	 background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #EFEFEF;
    border: 1px solid #B2B2B2;
    box-sizing: content-box;
    margin-top: 0px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
#selectedid:hover{
background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   -moz-box-sizing: content-box;
    background-color: #fff;
    border: 1px solid #00b6f5;
    margin-top: 0px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 100px;
}
	.tftextinput2{
	
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 0px 0 0;
    padding: 0px 2px;
    width: 392px;
	float:left;
	}
	.tfbutton2 {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-right-radius: 5px;
    border-color: #0076A3 -moz-use-text-color #0076A3 #0076A3;
    border-image: none;
    border-style: solid none solid solid;
    border-top-right-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 47px;
    margin: 0;
    outline: medium none;
    padding: 5px 7px;
    text-align: right;
    text-decoration: none;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.main_menu ul {
		color:#ccc !important;
	
	}
.main_menu li{
	    border-left: 1px solid #6F6F6F;
    color: #CCCCCC;
    cursor: pointer;
    float: left;
    font-family: Bebas;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    width: 150px;
	}
	.main_menu li a span{
    margin-top: 10px;

	}
.main_menu li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.main_menu li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.logo{
	background-image: url(../images/kyclogo.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 52px;
    margin: 0 auto;
    width: 128px;
}
.mainmenu{
    display: inline;
    float: right;
    height: 57px;
      margin-top: -70px;
    text-align: center;
    width:800px;
}
.mainmenu img{
	margin-top:-10px;
}
.mainmenu span{
	margin-top:-15px;
}
 a.myprofile{background:url("../images/myprofile_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0)}
 a.myprofile:hover{background:url(../images/myprofile_icon_hover.png) no-repeat  scroll center center; transform:background (ease-out 3s);}
 a.mydocuments{background:url(../images/mydocuments_icon.png) no-repeat scroll center center ;}
a.mydocuments:hover{background:url(../images/mydocuments_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.mystore{background:url(../images/mystore_icon.png) no-repeat scroll center center ;}
a.mystore:hover{background:url(../images/mystore_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.myplans{background:url(../images/myplans_icon.png) no-repeat scroll center center ;}
a.myplans:hover{background:url(../images/myplans_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}
a.accessmanager{background:url(../images/accessmanager_icon.png) no-repeat scroll center center ;}
a.accessmanager:hover{background:url(../images/accessmanager_icon_hover.png) no-repeat scroll center center ; transform: rotate(ease-out 3s);}


ul.main_menu li a {
	background-position: center top;
	font-family:Bebas;
    display: inline-block;
	font-size:14px;
    height: 32px;
    transition: all 0.3s ease-out 0s;
    width: 150px;
}
 a.individual{background:url(../images/home_main_menu.jpg) 0 0 no-repeat;}
 a.individual:hover{background:url(../imimageshome_main_menu_hover.jpg) no-repeat 0px 0px; transform:background (ease-out 3s);}
 a.corporate{background:url(../images/home_main_menu.jpg) no-repeat -91px 0;}
a.corporate:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -91px 0px; transform: rotate(ease-out 3s);}
a.utiliser{background:url(../images/home_main_menu.jpg) no-repeat -182px 0;}
a.utiliser:hover{background:url(../images/home_main_menu_hover.jpg) no-repeat -182px 0px; transform: rotate(ease-out 3s);}

.banner_center{
	height:382px !important;
	width:100%;
	background-image:url(../images/bg_img.png);
	background-repeat:repeat-x repeat-x;
	
}
.slider_buttons{
	width:150px;
	height:11px;
	margin:-40px auto 0;
}
.slider_iamge{
	z-index:1;
	background-image:url(../images/slider_01.png);
	background-repeat:no-repeat;
	height:382px;
	width:885px;
	margin: 0 auto;
}
.slider_buttons li{
	float:left;
	margin-left:5px;

}
.bottom-icons ul{
	margin-top:0px;
}
.bottom-icons{
	 margin: -17px auto 0;
	  width: 1200px;
}
.bottom-icons li{
	 color: #CCCCCC;
    float: left;
    margin-left: 15px;
    margin-top:10px;
    text-align: center;
    width: 250px;
	}
.bottom-icons li a{
	 color: #CCCCCC;
	  text-decoration:none;
   
	}
.bottom-icons li a:hover{
	 color: #03b2ee;
	 text-decoration:none;
   
	}
.bottom-icons-leftline{
	border-left:1px solid #ccc;
}

.bottom-icons h2{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:18px;
	
}
.bottom-icons p{
	color: #000;
	text-align:center;
	font-family:Segoe UI;
	margin:15px;
}
.footer_line{
	width:100%;
	height:3px;
	background-color:#00b6f5;
}
.footer{
	height:52px;
  background-color: #4A484B;
}
.footer_topline{
	width:100%;
	height:1px;
	background-color:#00b6f5;
}
.footer_center{
	height:177px;
	width:100%;
	background-image:url(../images/footer_icon_bg.jpg);
	background-repeat:repeat-x repeat-y;
}
.footer_copyrights{
	height:52px;
	width:1024px;
  margin-top: -16px;
   margin: 0 auto;
}
.copyrights {
		margin:5px;
}
.copyrights ul{
	padding:0px;
}
.copyrights li{
	float:left;
	text-align: left;
	  margin-top: -5px;

}
.copyrights li p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
}
.copyrights li span{
	color: #03b2ee;
	font-family:Segoe UI;
	font-size:12px;
	margin-left:5px;
}

.footer_space02 p{
	color: #ccc;
	font-family:Segoe UI;
	font-size:12px;
	 margin-bottom: 0;
	  margin-top: 30px;
    text-align: center;
}
.footer_space{
	 text-align: left;
    width: 150px;
	height:52px;
	
}
.footer_space01{
	 text-align: left;
    width: 250px;
	height:52px;
	
}
.footer_space02{
	 text-align: left;
    width: 460px;
	height:52px;
}
.footer_space03{
	 text-align: left;
    width: 250px;
	height:52px;
}
.footer_space03 img{
	 margin-bottom: 0;
	  margin-top:24px;
    text-align: center;
}
.footer_space01 a{
	color: #03b2ee;
	text-decoration:none;
}
.footer_space01 a:hover{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a{
	color: #ccc;
	text-decoration:none;
}
.footer_space02 a:hover{
	color: #03b2ee;
	text-decoration:none;
}
ul.social_media li {
    display: inline-block;
    margin-left: 5px;
}
ul.social_media li a {
    display: inline-block;
    height: 31px;
    transition: all 0.3s ease-out 0s;
    width: 31px;
}
.social_media{
	margin-top:25px;
	
}

a.google_plus{background:url(../images/bottom_social_icon.png) 0 0 no-repeat;}
a.google_plus:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat 0px 0px; transform:background (ease-out 3s);}
a.twitter{background:url(../images/bottom_social_icon.png) no-repeat -31px 0;}
a.twitter:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -31px 0px; transform: rotate(ease-out 3s);}
a.fb{background:url(../images/bottom_social_icon.png) no-repeat -62px 0;}
a.fb:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -62px 0px; transform: rotate(ease-out 3s);}
a.ln{background:url(../images/bottom_social_icon.png) no-repeat -100px 0;}
a.ln:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -100px -0px; transform: rotate(ease-out 3s);}
a.rss{background:url(../images/bottom_social_icon.png) no-repeat -135px 0;}
a.rss:hover{background:url(../images/bottom_social_icon_hover.png) no-repeat -135px 0px; transform: rotate(ease-out 3s);}

/*/------------/*/

.searchcontainer {
    margin: 50px auto;
    width: 100px;
}
.searchbox {
    float: right;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
.searchbox-input {
    background: none repeat scroll 0 0 #DCDDD8;
    border: 0 none;
    color: #FF0000;
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0 55px 0 20px;
    right: 0;
    top: 0;
    width: 100%;
}
input {
    line-height: normal;
}
.searchbox-input::-moz-placeholder {
    color: #D74B4B;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.searchbox-icon, .searchbox-submit {
    background: none repeat scroll 0 0 #172B3C;
    border: 0 none;
    color: #DCDDD8;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
/*/-------main_centerpage-----/*/
.main{
	
	width:100%;
}
.main_center{
	width:1024px;
	margin:0 auto;
	margin-top:0;
	bottom:10px;
	
}
.leftside{
	float: left;
    height: 0;
    margin-top: 40px;
    width: 30%;
}
/*/-------main_centerpage--rightside-----/*/
.rightside{
	 float: right;
    width: 70%;
    margin-top: 40px;
}
.username_bar{
	width:100%;
}
.rightside h2 {
     background: url("../images/header_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #CCCCCC;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 42px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.rightside h1{
       color: #05B7F5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 13px;
    padding: 0 10px 0 0;
    text-align: left;
}
.rightside h2 span{
       font-size: 18px;
    line-height: 42px;
    padding: 3px 5px 10px 25px;
	font-family:Segoe UI;
	color:#ffffff;
}
.rightside h2 p{
       font-size: 12px;
    line-height: 20px;
    padding:0px 10px 0 25px;
	font-family:Segoe UI;
	color:#ccc;
	font-style:italic;
	text-align:right;
	display:inline;
	float:right;
}

.rightside .module-body {
    

border: 1px solid #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   min-height: 150px;
   height:100%;
    margin-top: 30px;
    padding: 0 20px;
    width: 94%;
}
.module-body p{
	font-style:normal;
	text-align:justify;
	margin:10px;
	margin-top:15px;
}
.module-body p a{
	 background-image: url("../images/edit_button.png");
    float: right;
    font-style: normal;
    height: 29px;
    margin: 15px 10px 10px;
    text-align: justify;
    width: 89px;
}
.module-body p a:hover{
	background-image:url(../images/edit_button_hover.png);
	float:right;
	font-style:normal;
	text-align:justify;
	margin:10px;
	margin-top:15px;
	 width: 89px;
	  height: 29px;
}
.myaccounts {
   background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 20px 20px 0;
    width: 86%;
    padding-bottom:10px;
}
.myaccounts ul{
	padding:none;
	margin-left: 40px;
}
.myaccounts h2 span {
	/* For any browser that can't create a gradient  */
	background-color: #f4f4f4;
	/*//mozilla*/
	background: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
	/* Chrome/Safari 	 */
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
	/*IE ^/7 */	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f4f4f4',EndColorStr='#e9e9e9');
	/*IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#e9e9e9)";

    display: block;
    line-height: 20px;
    padding:7px 0 0px 5px;
       height: 28px;
           border-top-left-radius: 5px;
    border-top-right-radius: 5px;
       
}
.myaccounts h2 span img{
	float:left;
	 margin-right: 15px;
	  margin-top: -3px;
}
.myaccounts h2 {
    background: url()no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #444444;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    text-decoration: none;
    width: 100%;
	margin-top: 0;
	
}
.myaccounts li span img{
	    margin-right: 10px;
    margin-top: 5px;
}
.myaccounts h2 {
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight: bold;
    letter-spacing: normal;
	text-align: left;
}
.myaccounts table{
	margin:0px;
	padding:0px;
}
.myaccounts table td {
    text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
       -moz-text-overflow: ellipsis;
        -ie-text-overflow: ellipsis;
    width: auto;
    line-height: 17px;
    display: block;
    overflow: hidden;
    margin-top: -10px;
}
.utiaccount_titel{
    color: #05b7f5;
    font-family:"BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
    margin-left: 28px;
     width:205px;
}
.account_titel {
    color: #05b7f5;
    font-family:"BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
    margin-left: 14px;
     width:205px;
}
.account_titel img{
	padding:3px;
	}
.account_titel span{
	float: right;
    font-size: 12px;
    margin-right: 86px;
    margin-top: 3px;
    text-align: left !important;
      -webkit-margin-end: 102px;
	}
.mobileaccount_titel {
    color: #05b7f5;
   font-family:"BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
     width:205px;
}
.mobileaccount_titel img{
	padding:3px;
	}
.mobileaccount_titel span{
	float: right;
    font-size: 12px;
    margin-right: 88px;
    margin-top: 3px;
    text-align: left !important;
      -webkit-margin-end: 103px;
	}	
	.present_addressaccount_titel{
    color: #05b7f5;
   font-family:"BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
    width:200px;
}
.present_addressaccount_titel img{
	padding:3px;
	}
.present_addressaccount_titel span{
	 float: right;
    margin-right: 72px;
    margin-top:3px;
    text-align: left;
      -webkit-margin-end: 95px;
	}	
	
.myaccounts li{
	text-align:left;
/* 	 margin-left: -23px;
 border-bottom: 1px solid #CCCCCC;
	  margin-right: 15px;
	   margin-top: 0px;
	     margin-bottom: 10px; */
	     float: left;
width: 170px;
}
.myaccounts li a{
	text-decoration:none;
	    margin-left: 0px;
	    color:#000;
}
.myaccounts li a:hover{
	text-decoration:none;
	    margin-left: 0px;
	    color:#ccc;
}
.myaccounts li img{
	float: left;
    height: 17px;
    margin: 1px 10px 4px -20px;
    width: 17px;
}
/* reset webkit search input browser style */
.sidesearchbar{
	padding:5px 0px 5px 5px;
	 float: right;
}
input {
	outline: none;
	 vertical-align: sub;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: Titillium;
	font-size: 12px;
	color: #aaa !important;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

.searchboxhome{
 margin-right: 0;
    width: 100%;
}
.searchtextleft{
	padding-left:10px;
}
/* search input field */
input[type=search] {
	  background: url("../images/search_img.png") no-repeat scroll 9px center #4a484b;
    border: 1px solid #222;
    border-radius: 5px;
    color: #aaa !important;
    cursor: pointer;
    height: 33px;
    padding-left: 40px;
    transition: all 0.5s ease 0s;
    width: 0em;
    z-index: 500;
	 margin-bottom: 5px;
	float:right;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
/* 	background: url("../images/addmegcld_btn.png") no-repeat scroll 9px center #4a484b; */
	width:361px;
	background-color: #fff;
	border-color: #6dcff6;
	color: #aaa !important;
	float:right;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
position:relative;
margin-right:0;
}
.closebtn_searchindex{
  background: url("../images/addmegcld_btn.png") no-repeat scroll 5px center rgba(0, 0, 0, 0);
    border-color: #6dcff6;
 /*    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); */
    color: #aaa !important;
    cursor: pointer;
    display: inline-flex;
    float: right;
    height: 10px;
    margin-top: 15px;
    position: absolute;
    right: 5px;
    width: 15px;
    z-index: 500;
	
}

/* placeholder */
input:-moz-placeholder {
	color: #aaa !important;
}
input::-webkit-input-placeholder {
	color: #aaa !important;
}

/* demo B */
#demo-b input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-b input[type=search]:hover {
	background-color: #fff;
}
#demo-b input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-b input:-moz-placeholder {
	color: transparent;
}
#demo-b input::-webkit-input-placeholder {
	color: transparent;
}

.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
	width: 235px;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
	float: left !important;
	margin-left:10px;
	margin-right:10px;
}
.error {
	 border-radius: 10px;
    color: red;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    padding: 10px 35px;
    position: absolute;
    width: auto;
}
.success {
	background:#e9ffd9 url('../kyc_images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	width: 235px;
}
.warning {
	background:#fff8c4 url('../kyc_images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	width: 235px;
}
.notice {
	background:#e3f7fc url('../kyc_images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0 auto;
	  width: 235px;
	  text-align: left;
    width: 50%;
}
.bordererror {
	border:1px solid red;
}
#validate_reg_div{
	 margin-left: 250px;
    margin-top: -22px;
    position: absolute;
    z-index: 50000;
}

#myaccounts li a{
	float: right;
    height: auto;
    position: relative;
    width: 153px;
    word-wrap: break-word;
	
}
/*  #linkedlnlinkname {
 clear: both;
    float: right;
    height: auto;
    position: relative;
    width: 153px;


}
#websitelinkname {
	 clear: both;
    float: right;
    height: auto;
    position: relative;
    width: 153px;

}
#twitterlinkname {
	 clear: both;
    float: right;
    height: auto;
    position: relative;
    width: 153px;


} */
#visitordetails{
	width:auto;
	margin:0px;
}
#visitorContent {
  height: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px !important;
    text-align: center;
    width: 590px;
     overflow: visible;
}
#visitorContent:hover{
  /*  overflow-y: scroll; */
}
#visitorContent li{
	   border-bottom: 1px solid #ccc;
    height: 70px;
    margin-bottom: 3px;
    width: 510px;
}
.visitnamedeatils{
	 float: left;
    width: 300px;
}
.visitnamedeatils p{
	 float: left;
    width: 400px;
    margin:0;
     text-align: left;
    
}
.visitnamedeatils p strong{
	margin:5px;
	color:#000;
}
.visitnamedeatils p b{
	margin:5px;
	color:#000;
}
.visitnamedeatils-button{
	width:100px;
	float:right;
	margin-top: -13px;
}
.visitnamedeatils-photo{
  height: 50px;
    text-align: center;
    width: 100px;
    float:left;
}
.visitnamedeatils-photo img{
 background-clip: padding-box;
    border-radius: 5em;
    height: 5em;
    width: 5em;
}
.visitnamedeatils-button input{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 30px 0 0;
    min-width: 100px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;

}
.visitnamedeatils-button input:hover{
background: none repeat scroll 0 0 #00B6F5;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 30px 0 0;
    min-width: 100px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;

}
/* table css */
.table
{
   border: 5px solid #fff;
    border-radius: 0;
    border-spacing: 0;
    box-shadow: 0 4px 10px #888888;
    display: inline-block;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 12px;
    height: 350px;
    margin: 0 auto;
    max-height: 350px;
    overflow-x: hidden;
    width:auto;
}

.table ul
{
float:center;
margin:0;
padding:0;
/*  border-color: #1f5f9f #1f5f9f #1f5f9f transparent;
    border-style: solid;
    border-width: 1px; */
}
.table ul li
{
list-style:none;
padding:5px 10px;
}
.table ul li.title
{
font-weight:bold;
background:#44a3d5 ;
color:#fff;
border-color: #1f5f9f #1f5f9f #1f5f9f transparent;
    border-style: solid;
    border-width: 1px; 
}
.table ul li.even
{
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #1f5f9f;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: middle; 

}
.table ul li.odd
{
background:#deded7;
}
/* table css-end */


#employeedetails{
	 clear: both;
    height: 190px;
    margin: 0 auto;
    width: 90%;
}
#employeedetails b{
	 margin-right: 5px !important;
}
#employeedetails li{
	float:left;
	width:auto;
	margin-right:15px;
}
#employeedetails input{
	padding:5px;
}

#employeedetails h4{
	 margin: 0;
    width: 100%;
}
.kycemployeedetailimg h1 {
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 5px;
    text-align: left;
    width: 100% !important;
}
#GoldMan SachShowOfferDiv{
	 margin: 0 auto;
    width: 500px;
	
}
#kycemployeedetailimgbg{
 border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    height: auto;
   /*    max-height: 260px; */
      /* max-height: 520px; */
    margin:-14px auto 15px;
    width: 99%;
     overflow-x: hidden;
     
}
/* #kycemployeedetailimgbg:hover{
 overflow-y: scroll;
} */
#kycemployeedetaildocumentDiv{
    border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    display: table;
    height: 182px;
    margin: -14px auto 15px;
    overflow: hidden;
    width: 99%;
}
.kycemployeedetailimgafter{
 clear: both;
    height: auto;
    margin: 0;
    padding: 0;
    width:98%;

}
.kycemployeedetailimg{
 clear: both;
    height: auto;
    margin: 0;
    padding: 0;
    width:100%;

}
#empsalaryslip{
	  clear: both;
    display: block;
    height: auto;
    margin-top:0px;
    padding: 0;
    width: 100%;
}
.epmloyeedocimg{
	  clear: both;
    display: block;
    height: 240px;
    margin-bottom: 0 !important;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 16px;
    padding: 0;
    width: auto;
}
#applyCodeid{
	margin-top:-33px;
}
.epmloyeedocimgdet{
	  clear: both;
    display: block;
    height: 150px;
   margin-bottom: 25px !important;
    margin-left: 10px;
    margin-right: 0;
    margin-top:5px;
    padding: 0;
    width: auto;
    margin-bottom:25px !important;
}

.paysliplistdoc{
	
	 float: right;height: auto;
	 margin-right: 9px;
	 margin-top: -35px; 
	 position: relative;
	  width: 35%;
	  height:150px;
}
.smalldivstyle {
    background: none repeat scroll 0 0 #fff;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: auto;
    margin-bottom: 20px;
    margin-left: 164px;
    margin-top: 14px;
    /* overflow-y: scroll;  */
    padding: 10px;
    width: 450px;
}
.smalldivstyle li{
 float: left;
    margin-top: 0;
    padding: 5px;
    text-align: left;
    width: 100%;
}
.paysliplistdoc1 {
   margin-left: 15px !important;
    margin-top: 8px !important;
    width: auto;
    float: left;
}
.smalldivstyle h1 u
{
  font-size: 16px;
    text-decoration: none;
    width: auto;
}
#empsalaryslip option {
    background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    color: #000;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 5px!important;
    transition: all 0.2s linear 0s;
    width: 200px !important;
}
#empsalaryslip select{
	  margin-left: 50px;
    margin-top: 5px;
    text-align: center;
    width: 250px !important;
}
#empsalaryslip h1{
	width:80% !important;
}
#empsalaryslip li{
	height: 140px;
    padding: 3px;
    width: 150px;
    float: left;
    margin-left:5px !important;
    
}
.kycemployeedetailimg ul{
   margin-left: 2px;
    padding: 0;
	}

#GoldManSachPayslipShow{
	overflow: hidden;
	height:250px;
	
}
#GoldManSachPayslipShow:hover{
	overflow-y: scroll;
	
}
.profiletextscroll{
	overflow: hidden;
	 height:auto !important;
	
}
.profiletextscroll:hover{
	overflow-y: scroll;
	height:60px;
	
}
.epmloyeedocimg ul{
		margin:0px;
	padding:0px;

	}
	
.epmloyeedocimg h4{
	margin:5px;
	padding:0px;
	 color: #00b5f6;
}
/*26.09.14 EmployeeDeatils End*/
/*26.09.14 View-EmployeeDeatils*/
#viewempdeatls{
background-color: #eee;	
 border: 1px solid #ccc;
    border-radius: 5px;
    clear: both;
    height: auto;
    margin:auto 0;
    position: relative;
    width: 800px;
	
}

#viewempdeatls li{
 float: left;
    font-family: arial;
    font-size: 12px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 5px;
    text-align: justify;
    width: 725px;
}
#viewempdeatls li p{
    text-align: right;
    width: 115px;
}
#viewempdeatls li span{
       margin-left: 5px;
    
}
#viewempdeatls li strong{
       margin-left: 5px;
    
}
#viewempdeatls b{
color:#05b7f5;
padding: 5px;
  
}
.employeedetails img{
	padding: 3px;
}
.employeedetails a {
    color: #222222;
    padding: 3px;
}

.employeedetails a:hover {
    color: #ccc;
    padding: 3px;
}
/*26.09.14 EmployeeDeatils */
#organizationname{
	 font-family: arial;
    font-size: 12px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px !important;
    text-align: center;
    width: 41%;
}
#organizationname input{
	padding: 5px;
	}
#organizationname  input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    top: 5px !important;
}
#organizationname  input[type="button"]:hover{
  background: none repeat scroll 0 0 #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
    top: 5px !important;
}
#cmyNameId{
	padding: 5px;
	width: 250px !important;
	}


/*26.09.14 View-EmployeeDeatils-End*/

/*01.10.14 View-EmployeeDeatils*/

#financialAddDocumentFlip
{
    display: inline;
    height: 20px;
    margin: 15px auto 0;
    padding: 5px;
    position: relative;
    text-align: left;
}
#financialAddDocumentPannel
{
   background-color: #494949;
    border: 1px solid #c3c3c3;
    display: inline;
    height: 20px;
    margin: 15px auto 0;
    padding: 5px;
    position: relative;
    text-align: left;
}
#financialAddDocumentPannel
{
   background-color: #ffffff;
    border-radius: 5px;
    display: none;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 12px;
    height: 350px;
    margin: 5px auto;
    width: 600px;
}
.employeedetails{
	 font-family: "Trebuchet MS","Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 12px;
}
.profiletextscroll td{
	    height: auto;
    padding-right: 10px;
    text-align: justify;
    vertical-align: top;
	}
#financialAddDocumentFlip button
{
	  background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #4a484b;
    padding: 10px;
      margin-top: 15px;
}
#financialAddDocumentFlip button:focus
{
	  background-color: #05b7f5;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
      margin-top: 15px;
}
#financialAddDocumentFlip button:hover
{
	  background-color: #05b7f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
      margin-top: 15px;
}
#financialAddDocumentPannel li{
	 margin-bottom: 5px;
    margin-left: 147px !important;
    margin-right: auto;
    margin-top: 5px;
    width: 240px;
    
	
}
#kycdetails{
	background-color:#fff;
	 border: 1px solid #ccc;
    border-radius: 5px;
    height: 235px;
    margin: 15px auto;
    overflow: visible;
    width: 800px;
}
#kycdetails b{
	color:#05b7f5;
	}
.kycdetailsprofilstext{
	  float: left;
    font-family: "Trebuchet MS","Lucida Grande",Verdana,Arial,sans-serif;
    margin-top: 40px;
    position: relative;
    text-align: left;
    width: 370px;
    font-size: 12px;
    word-break: break-all;
}
#kycdetails table tr{
	height:25px !important;
}
.kycprofilephoto{
	float:left;width:222px; position: relative; margin-top: 30px;
}
.hscregister-ext{
	   margin: 0 auto;
    text-align: center;
    width: auto;
}
.hscregister-ext ul{
  margin: 0 126px 0 auto;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    width: 68%;
}
.hscregister-ext li{
	   float: left;
    text-align: left;
    width: 275px;
}
.kycdetailbutton{
	float:left; width:130px;position: relative; margin-top: 30px;
}
/*01.10.14 View-EmployeeDeatils-End*/

/*02.10.14 View-EmployeeDeatils*/
.hscregister{
   
    border-radius: 5px;
    height: auto;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
    top: 15px !important;
    width: 100%;
}
.hscregisterdocument{
  float: left;
    height: 210px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
.hscregisterdocument img, .kycemployeedetailimg img {
    border: 1px solid #ccc !important;
}
.hscregisterdocument li input[type="button"]{
		 background-color: #222 !important;
    border: 0 none;
    color:#fff !important;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
     margin-left: 2px;
    margin-top: 3px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    width:25px  !important;
    z-index: 100;
    border-radius:0px !important;
     float: left !important;
         margin-left: 0px !important;
	
}
.hscregisterdocument li input[type="button"]:hover{
	
		 background-color: #00bafc !important;
    color:#fff !important;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-weight: normal;
    font-size: 12px !important;
    margin-left:2px;
    margin-top:3px;
    padding: 3px 5px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width:25px !important;
        border-radius:0px !important;
         float: left !important;
             margin-left: 0px !important;
}
#empsalaryslip input[type="button"]{
		 background-color: #efefefe !important;
    border: 0 none;
    color:#222 !important;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
     margin-left: 2px;
    margin-top: 3px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    width:25px  !important;
    z-index: 100;
    border-radius:0px !important;
     float: left !important;
         margin-left: 30px !important;
	
}
#empsalaryslip input[type="button"]:hover{
	
		 background-color: #00bafc !important;
    color:#fff !important;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-weight: normal;
    font-size: 12px !important;
    margin-left:2px;
    margin-top:3px;
    padding: 3px 5px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width:25px !important;
        border-radius:0px !important;
         float: left !important;
             margin-left: 30px !important;
}
.hscbuttondiv{
	clear: both;
    height: 50px;
     top: 7px;
      right: -4px;
    position: relative;
    width: 100%;
}
div.hscregisterdocument {
     border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    height: auto;
    margin: 0 2px 15px;
    overflow-y: auto;
    width: 99%;

}
.profilesharingbtn{
	color: #ccc !important;
    text-align: right;
    text-decoration: none !important;
}
.profilesharingbtn img{
	float:left;
}
.documenttitle{
  background-color:#4a484b;
    clear: both;
    height: 35px;
    position: relative;
      top: 30px;
         border-radius: 5px 5px 0 0;
}
.documenttitle h1{
 display: inline;
    float: none;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 25px;
    margin-left: -30px;
    margin-top: 11px;
    padding: 0 0 5px;
    width: 71% !important;
  /* color: #fff !important; */
}
/*  .hscregisterdocument:hover{
 float: left;
    height: 190px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    overflow-y: scroll;
scrollbar-face-color: #ff8c00;
scrollbar-track-color: #fff8dc;
scrollbar-arrow-color: #ffffff;
scrollbar-highlight-color: #fff8dc;
scrollbar-shadow-color: #d2691e;
scrollbar-3dlight-color: #ffebcd;
scrollbar-darkshadow-color: #8b0000; 
} */
.hscregisterdocument li{
	text-align:center;
	}
.hscregisterdocument li b u{
 color: #00b6f5;
text-decoration: none;
}
.kycdocumentdetails-ext table{
	
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.kycdocumentdetails-ext  b {
 color:#05b7f5;
text-decoration: none;
}
.kycdocumentpage{
 clear: both;
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.kycdocumentdetails-ext {
	background-color:#eee;
	 background-color:;
   clear: both;
    
    border-radius: 5px;
    margin:15px auto 0;
    position: relative;
}
.kycdocumentpage table tr{
	height:25px !important;
	
}
.kycdocumentpage li b{
 color:#05b7f5; 
    font-size: 12px !important;
    font-weight: bold;
       margin-right: 10px;   
}
.kycdocumentpage li{
 font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    margin: 6px;
     padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}
.academicdetailsimg{
 border: 3px solid #ccc;
    border-radius: 0 0 5px 5px;
    margin: 20px auto;
    min-height:250px;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    width: 98%;
}
.academicdetailsimg ul{
	margin-left:0px !important;
	
}
.academicdocumenttitle{
  background-color: #4a484b;
    clear: both;
    height: 35px;
    position: relative;
      top:25px;
         border-radius: 5px 5px 0 0;
}
.academicdocumenttitle h1{
 text-align:center;
  margin-left: 15px;
 vertical-align:middle;	
 color:#fff !important;
}
.academicdetailsimg li{
	 margin-bottom: 18px !important;
}
.hscregisterdocument ul{
margin-left: 19px;
    margin-top: 24px;
}
.hscregisterdocument li{
   /*  float: left; */
    height: 212px;
    margin-bottom: 15px;
    /* margin-left:5px !important; */
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    width: 150px;
}
#kycUserNameDiv h1{
	 margin-left: 4px;
    margin-top: 4px;
}
#kycusername_share{
	 display: inline-table;
    position: relative;
    width:95%;
}
.panviewinner_acad p{
	color: #00b6f5 !important;
/* 	text-align: left !important; */
    width: 100%;
    padding:0px !important;
}
.panviewinner_acad p u{
text-decoration: none !important;
  font-weight: bold;
}
/* .hscregisterdocument button {
	 background-color: #222;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
     margin-left: 0px;
    margin-top: 3px;
    padding: 2px 5px;
    position: relative;
    text-decoration: none;
    width:auto;
    z-index: 100;
     top: 2px;
}
.hscregisterdocument button:hover{
	 background-color: #00bafc;
    color: #fff;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-weight: normal;
    font-size: 12px !important;
    margin-left:0px;
    margin-top:3px;
    padding: 2px 5px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width: auto;
        top: 2px;
} */
/* .epmloyeedocimgdet a,.viewBrowseDoc a,.viewFinDoc a,.viewdivimg a {
	 background-color: #222;
    border: 0 none;
    color:#fff !important;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal;
    margin-top: 3px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    width:auto;
    z-index: 100;
    top:5px;
    
}
.epmloyeedocimgdet a:hover,.viewBrowseDoc a:hover,.viewFinDoc a:hover,.viewdivimg a:hover{
	 background-color: #00bafc;
    color:#fff !important;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important;
    font-weight: normal;
    font-size: 12px !important;
    margin-top:3px;
    padding: 3px 5px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width: auto;
        top:5px;
} */

.financialdocumentview{
	width:828px !important;
}
.financialdocumentview ul{
	margin:0px;
	padding:0px;
}
.financialdocumentview li{
border: 1px solid #ccc;
    float: left;
    margin-bottom: 2px !important;
    margin-left: -1px;
    padding: 5px;
}
.viewdiv{
	margin-left: 41px;
    width: 60%;
     float: left;
}
.viewdiv table tr{
	height:25px !important;
	
}
.viewdiv ul{
	margin:0px;
	padding:0px;
}
.viewdiv li{
   margin: 0 auto;
    padding-top: 15px;
    text-align: left;
    width: 100%;
     font-size: 12px !important;
     
      font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif !important; 

	}
.viewdiv b{
	 color:#05b7f5; 
    font-weight: bold;
}
#financialviewDiv{
	 background-color:#eee;
	     border: 1px solid #ccc;
    border-radius: 5px;
	width:100%;
	 height: auto;
	margin:10px auto 0;
	   min-height: 225px;
	     width: 800px;
}
#viewDiv table{
	width:100%;
	margin:40px auto 0;
}
#financialviewDiv table{
	width:100%;
	margin:40px auto 0;
}
.financialviewbutton{
	width:100%;
	    clear: both;
    height: 25px;
      padding: 5px;
}
.viewdivimg{
	 font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    margin:-6px 6px;
    text-align: left;
    width: 30%;
    float:right;
     
}
.viewdivimg b{
	width:100%;
	padding-bottom:10px;
}
.FinancialEditForm{
	background-color:#eee;
	    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    height: auto;
    margin: 15px auto 0;
    text-align: left;
    width: 800px;
     min-height: 225px;
}
.financialeditview{
	
	width:200px;
	text-align: left;
	margin-top: 100px;
	
}
.financialeditview li{
	margin: 0 0 15px 0;width:450px;
	
}
.financialeditview li b{
	 color:#05b7f5; 
	
}
.viewbrowserdocument{
width:200px;margin-left: 494px;margin-top: -152px;
}
.viewFinDoc img{
	margin-bottom:10px;
}
.viewFinDoc{
	  margin-top: -6px;
	 float: right;
    margin-bottom: 10px;
    text-align: left;
    width: 30%;
}
#FinancialForm .success {
    background: url("../kyc_images/success.png") no-repeat scroll 10px 50% #e9ffd9;
    border: 1px solid #a6ca8a;
    border-radius: 10px;
    color: #555;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    margin: -48px auto 0 245px;
    padding: 10px 36px;
    width: 150px;
}
/* .salaryslipdetails-ext{
	width:811px;
	height:250px;
	clear:both;
} */
/*02.10.14 View-EmployeeDeatils-End*/

/*07.10.14 sharing-employeedocuments*/
#sharingdoc{
	 
    margin: 0 auto;
    padding-bottom: 15px !important;
    position: relative;
    width: 800px;
}
.sharingbutton{
	display: inline-table;
	width:100%;
	margin:0px;
	Padding:0px;
}
.sharingselectitems{
	width:100%;margin-bottom:20px;
}
.sharingselectitems ul{
	margin:0px;
	padding:0px;
}
.sharingselectitems li{
	width:100%;
}
#viewDocId li{
margin:5px;
	 background:url("../images/kycsharingtick.png") no-repeat 0 80%;
    padding-left: 20px;
}
#nonKycUserFormId{
	  clear: both;
    position: relative;
       display: inline-block;
}
.nonkycuser{
height: auto;width:770px;margin-left:38px;
}
.sharingnon_clensee{
  border: 1px solid #959595;
    border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
    display: inline-table;
    margin-top: -8px;
    width: 778px;
}
#revoke_tbutton{
	margin-top:0px;
}
#nonKycUserFormId span{
	color:red;
	 margin: 5px;
}
#nonKycUserFormId textarea {
	 border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 200px;
    margin-top: 10px;
    padding-bottom: 0;
    width: 325px;
	
}
#sharecodeId{
	  border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    float: right;
    height: 200px;
    margin-left: 0;
    margin-top: 10px;
    min-height: 200px;
    overflow: hidden;
    text-align: left;
    width: 325px;
     border-radius: 5px;
}
#domainForm h3{
      color: #05b7f5;
    display: inline-table;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
#sharecodeId:hover{
	  overflow-y: scroll;
}
.sharingbuttonclass{
	 float: left;
    height: 50px;
    margin: 0 auto 0 50px;
    text-align: center;
    width: 100%;
}
#sharecodeId li{
margin:5px;
	 background:url("../images/kycsharingtick.png") no-repeat 0 80%;
    padding-left: 20px;
}
#chooseButtonDiv{
	 border-top: 1px dashed #ccc;
	   float: left;
    position: relative;
    width: 100%;
      margin-bottom: 10px;
}
#sharingsearch_icon {
    width: 80%;
}

#sharingsearch {
    float: left;
    margin-left: 130px;
    padding: 0;
}
#generatecodesearch_icon {
    margin: 0 auto;
    width: 510px;
   
}

#generatecodesearch {
   float: left;
    margin-left: 0;
     margin-bottom: 10px;
    padding: 0;
}
#sendForm h1 {
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 5px;
    text-align: left;
    width:100%;
}
#kycUserPicDiv{
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 0;
    width: 111px;
}
#kycUserNameDiv{
  background: none repeat scroll 0 0 #333;
    float: left;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
}


/*07.10.14 sharing-light-BOX*/

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#light{
	    background: none repeat scroll 0 0 #fff;
    border: 2px solid #05b7f5;
    border-radius: 5px;
    clear: both;
    display: none;
    height: auto;
    left: -40px;
    margin: 0;
    padding:10px;
    position: absolute;
    text-align: center;
    top: -90px;
    vertical-align: top;
    width: 725px;
    z-index: 20000;
}

/*07.10.14 sharing-light-BOX-end*/

#successcode{
 background: none repeat scroll 0 0 #fff;
    border: 6px solid #ccc;
    border-radius: 5px;
    display: none;
    height: 140px;
    left: 0;
    margin: 0 auto;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 510px;
    z-index: 1002;
}

#successcode h1{

     color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 5px;
    text-align: left;
    	width:100%;
      height: 10px;
      text-align: center;
}
#SuccessUserNameDiv{
	 color: #000;
    font-size: 14px;
    width: 100%;
}
#sshareId{
	  border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    height: 200px;
    margin-left: 0;
    margin-top: 0;
    width: 320px;
      padding-left: 5px;
    padding-top: 5px;
}
#sharecodeId-ext{
   border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: right;
    height: 204px;
    margin-right: 0px;
    margin-top: 0;
    min-height: 200px;
    overflow: hidden;
    text-align: left;
    width: 340px;
}
.nonkycuser h1{
	 background: none repeat scroll 0 0 #333;
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    width: 100%;
}
#sendForm ul{
	padding:0px;
	margin:0px;
}
#sharecodeId-ext:hover{
	  overflow-y: scroll;

	}
#sharecodeId-ext li{
margin:5px;
	 background:url("../images/kycsharingtick.png") no-repeat 0 80%;
    padding-left: 20px;
}
#sharecodeIdbutton{
	width:100%;
	margin:0 auto;
	float: right;
}
#access_history{
	   height: 60px;
    margin:30px auto 0;
    text-align: center;
    width: 100%;
}
/*07.10.14 sharing-employeedocuments-end*/

/*13.10.14 sharing-employeedocuments*/
#labelname{
   border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-sizing: content-box;
    height: 20px;
    margin-top: 10px;
    padding: 3px 5px 3px 5px;
    transition: all 0.2s linear 0s;
    width: 215px;
}
#labelname:hover {
 background:#fff;
border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-sizing: content-box;
    height: 20px;
    margin-top: 10px;
    padding: 3px 5px 3px 5px;
    transition: all 0.2s linear 0s;
    width: 215px;
    color: #05b7f5;
}
#labelname option{
  background: url("../images/input_leftimg.PNG") no-repeat scroll 0 0 #efefef;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    height: 5px;
    margin-top: 2px;
    padding: 3px 5px 3px 5px;
    transition: all 0.2s linear 0s;
    width: 180px;
    color:#000;
}
#labelname option:hover {
 background: url("../images/input_leftimg_hover.PNG") no-repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;   
  box-sizing: content-box;
    height: 5px;
    margin-top: 2px;
    padding: 3px 5px 3px 5px;
    transition: all 0.2s linear 0s;
    width: 180px;
}
#domainForm select{
	margin-bottom:10px;
	  margin-top: 10px;
	  width:200px;
	  height:30px;
	  border-radius:5px;
	    border: 1px solid #ccc;
	
}
#revoke_tbutton{
	   clear: both;
    display: inline-table;
    position: relative;
    text-align: center;
    width: auto;
}
#selectdocumentallow{
	height:100px !important;
}
#searchUtiliserDivId ul{
	margin:0px;
	padding:0px;
}
#searchUtiliserDivId li{
	 border: thin solid #ccc;
	   display: inline-table;
    float: right;
    height: 65px !important;
    position: relative;
    width: 800px;
     padding: 5px;
     margin-bottom:-1px;
}
#searchUtiliserDivId {	 
   clear: both;
    display: inline-table !important;
    height: 90px;
    margin: 0 auto;
    position: relative;
    width: 800px;
}
.Utiliser_Profile_Photo{
	width:100px;
	float: left;
}
.Utiliser_Profile_name{
	float: left;
    margin-top: 25px;
    text-align: left;
    width: 200px;
}
.Utiliser_Profile_Address{
  float: left;
    margin-top: 25px;
    text-align: left;
    width: 400px;
}
.Utiliser_Profile_Allowbutton{
	width:100px;
	float: right;
	
}
#searchUtiliserDivId span b{
	color:#05b7f5;
	 margin-right: 5px;
}
#searchUtiliserDivId span {
	 margin-right: 5px;
}
#leftrightdiv{
	 display: inline-table;
    position: relative;
    width: 85%;
}
.right {	
	 background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: table;
    float: right;
    height: 270px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 40%;
}

.left  {
    background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 302px;
    padding: 0px;
    position: relative;
    text-align: left;
    width: 337px;
    overflow-y: scroll;
}
#leftrightdiv .right {	
	background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: table;
    float: right;
    height: 270px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 40%;
}

#leftrightdiv .left  {
    background-color: transparent;
    border-color: #999;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 270px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 40%;
    
}
#leftrightdiv .left h1 span {

 background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 28px;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -20px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 269px;
}
/* .left h1{
  color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
} */
.headingh1Span span {
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 28px;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -20px;
    padding: 7px 0 5px 18px;
    text-align: center;
    width: 100%;
}
.left h1 {
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.right h1 {
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
 .left h1 span {
 background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 33px;
    line-height: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto !important;
} 

#addmordocument-submit{
	clear: both;
    position: relative;
    text-align: center;
    width: 100%;
}
.right h1 span {
    background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 33px;
    line-height: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto !important;
}
.documetlist_share{
    margin-left: 19px;
    margin-top: 51px;
    max-height: 250px;
    overflow-x: hidden;
    text-align: left;
    width: 315px;
    height: 250px;
}
.documetlist_share input{
	float: left;
	 margin-top: 0;
}
.documetlist_share p{
	
	 margin-right: 0 !important;
	 margin: 8px 0 0 !important
}
#revoke_tbutton h1{
  font-size: 16px;
    height: 20px;
    text-align: center;
    width: 100%;
}
#AddDocument
{
  background-color: #1f5f9f;
    border: 1px solid #222;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 200px;
}
#AddDocument:hover
{
 background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 200px;
}
#showDocDiv
{
 background-color: #ffffff;
    border: 1px solid #1f5f9f;
    border-radius: 5px;
    display: none;
    padding: 10px;

}


#fade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#light b{
	margin-right:5px;
	color:#1f5f9f;
}
#light h1 {
	  border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: none repeat scroll 0 0 #333;
    display: inline;
    float: left;
     padding: 0;
    width: 100%;
     margin-top: 0 !important;
}
#light h1 b{
	margin-left:10px;
	  color: #05b7f5;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    height: 24px;
    line-height: 20px;
    padding: 0;
    text-align: left;
    
}
.highlight h1{
	color:#fff !important;
}
#light li{
    margin-bottom: 5px;
   /*  margin-left: 30px; */
    margin-top: 5px;
}
.Utiliser_Profile_Allowbutton input{
     background-color: #eee;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.Utiliser_Profile_Allowbutton input:hover{
    background-color: #00bafc;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#light input[type="button"]{
       background-color: #eee;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#light input[type="button"]:hover{
    background-color: #00bafc;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#leftrightdiv input[type="submit"]{
     background-color: #eee;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#leftrightdiv input[type="submit"]:hover{
    background-color: #00bafc;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#addmordocument-ext{
	margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.addmordocument-ext01{
	width:100%;
	margin-bottom: 20px;
}
.planHeading h1 {
    color: #05b7f5;
    display: inline;
    float: left;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    padding: 0 0 5px;
    text-align: center;
}
#planmain{
  margin: -10px auto;
    padding: 0;	
}
#planmain h1{
	 color: #05b7f5;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: bold;
    height: 10px;
    margin-left:0px;
    text-align: left;
    width: 100%;
}
#planmain ul{
	  left: 0;
    margin-bottom: 0;
    margin-left: -42px;
    margin-right: 0;
}
#planmain h1 b{
color:#05b7f5;
 margin-left: 16px;
	}
#passwordDiv{
	width:600px;border:1px solid #222;margin-left:100px;height:25px;background-color:#05b7f5;color:#fff;display:none;font-size:16px;
}
#mysettings{
	width:100%;
	padding:0px;
	margin:0px;
}

#mysettings h1{
	  color: #05b7f5;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-left: 30px;
}
#visibility h3{
	  color: #05b7f5;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
      margin-left: 3px;
    text-align: left;
}
#visibility small{
	  color: #333;
    margin-left: 5px;
    font-size: 14px;
}
#settingsmain{
	width: 89%;
	padding:0px;
	   clear: both;
	   margin-top:28px;
}
#mysettings table{
	width:380px;
}
.colsebutton{
 float: right;
    height: 22px;
    margin-right: -25px;
    margin-top: -25px;
    width: 22px;
    z-index: 5000;
    cursor: pointer;
}

/*13.10.14 sharing-employeedocuments-end*/





/* Start Utilizer Css */

.utimyaccounts {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 20px 20px 0;
    width: 86%;
}
.utimyaccounts h2 span {
	/* For any browser that can't create a gradient  */
	background-color: #f4f4f4;
	/*//mozilla*/
	background: -moz-linear-gradient(top, #f4f4f4, #e9e9e9);
	/* Chrome/Safari 	 */
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9));
	/*IE ^/7 */	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f4f4f4',EndColorStr='#e9e9e9');
	/*IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#e9e9e9)";

    display: block;
    line-height: 20px;
    padding: 7px 0 5px 18px;
       height: 28px;
           border-top-left-radius: 5px;
    border-top-right-radius: 5px;
       
}
.utimyaccounts h2 span img{
	float:left;
	 margin-right: 15px;
}
.utimyaccounts h2 {
    background: url()no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #444444;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: normal;
    margin-bottom:5px;
    margin-right: 0;
    padding-right: 0;
    text-decoration: none;
    width: 100%;
	margin-top: 0;
	
}
.utimyaccounts li span img{
	    margin-right: 10px;
    margin-top: 5px;
}
.utimyaccounts h2 {
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight: bold;
    letter-spacing: normal;
	text-align: left;
}

.utimyaccounts table td {
    text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
       -moz-text-overflow: ellipsis;
        -ie-text-overflow: ellipsis;
    width: 180px;
    line-height: 17px;
    display: block;
    overflow: hidden;
    margin-top: -6px;
    text-align:left;
    margin-left: -25px;
}
#visibility{
	width:800px;
	 margin: 0 auto;
}

#visibility input {
    vertical-align: sub;
}

#visibility h1 {
    color:#05b7f5;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bold;
    line-height:0px;
    text-align: left;
}
#visibility table{
	   border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 46%;
}
#visibility tr th{
	width: 190px;
}
.planmigrate{}
.planmigrate p{
	width:100%;
	text-align:left !important;
	padding:5px;
	color:#7c7c7c;
}
#noteDivId{
	clear: both;
    height: 45px;
    margin: 31px;
}
#History b{
	 margin-right: 10px;
}
#accessIndProfileDetailId h1 {
    color: #000 !important;
    display: inline-table;
    float: left;
    font-family: Segoe UI;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 5px;
    margin-left: 35px;
    padding: 0 0 5px;
    text-align: left;
    width: 91%;}
    
    #displaySharedDocDiv table{
   
    text-align: left;
    width: 96%;
      word-break: break-all;
       line-height: 20px;
    }
   .reciveddocument {
  background-color: #4a484b;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #00b6f5 !important;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 5px;
    
    }
/*   #displaySharedDocDiv{
    padding:5px;
    border-radius:5px;
    } */
    #proceedtbutton{
  clear: both;
    display: inline-block;
    float: none;
    height: 25px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 99%;
    }

.f-left, .left {
    float: left !important;
    overflow: hidden;
}
#historyviewpan table tr{
	border-bottom: 1px dashed #ccc !important;
    display: block;
    padding-bottom: 5px;
    width: 99%;
}
#historyviewpan p b {
   margin-right: 5px;
}
/* End of Utilizer CSS */
/* Store CSS */
#storepagemain{
  height: auto;
    margin: 0 auto;
    min-height: 420px !important;
    position: relative;
    width: 100%;
}
#storepagemain h1{
	  color: #05b7f5;
    display: inline-table;
    float: none;
    font-family: Segoe UI;
    font-size:30px;
    font-weight: bold;
    line-height: 10px;
    margin-top: 150px !important;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;

	}
	.comingsoonani{
	  background-image: url("../images/coming_soon_animated.gif");
    background-repeat: no-repeat;
	width:176px;
	height:169px;
	 margin: 0 auto;
	
	
	}
	.aboutus h1{
	
	border-bottom: 1px solid #ccc !important;
	}
#kycdocumentpage	{
	
	 clear: both;
    display: inline-table;
    height: 45px;
    margin-left: 4px;
    position: relative;
    /* width: 100%; */
    width: 827px !important;
	}

.employeedocumentdetails span	{
	border-color: transparent transparent #4a484b;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left !important;
    height: 0;
    margin-left: 22px;
    position: relative;
    top: -10px;
    width: 0;
    z-index: 100;
	
	
	}
	
.employeedocumentdetails {
    background-color: #4a484b;
    border-radius: 5px 5px 0 0;
    clear: both;
    height: 35px;
    position: relative;
    top: 30px;
     width:100%;
}
.employeedocumentdetails h1{
/*  color: #fff !important; */
    display: inline;
    float: none;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 25px;
    margin-left: -30px;
    margin-top: 11px;
    padding: 0 0 5px;
    width: 71% !important;
}
 .employmentdocument li {
    float: left;
    padding-right: 35px;
    text-align: left;
    width: 120px;
}
.employmentdocument {
    border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    height: 180px;
    margin: 0 auto;
   overflow: hidden;
    width: 99%;
}

.employmentdocument img {
    padding: 3px;
}

.employmentdocument li {
  float: left;
    margin: 0 0 0 5px !important;
    padding-right: 5px;
    text-align: center;
    width: 115px;
}
.showcodepage{
	width:100%;
	margin:15px auto;
	
}
.showcodepage li{
	  border: 1px solid #ccc;
    border-radius: 5px;
	  margin: 0 auto;
    width: 50%;
}
.showcodepage ul{
	  margin: 0;
    padding:0;
}
.payslippagediv{
	border-color: #ccc;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 3px;
    height: 85px;
    margin: 13px auto 0;   
    width: 99%;
}
.empsalaryslippayslip_div {
	background: none repeat scroll 0 0 #eee;
    border-color: #ccc;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    height: 85px;
    margin: 13px auto 0;
    width: 99%;
}
.showcodepage table tr{
	
}
.showcodepage table tr td{
	 color: #05b7f5;
}
.showcodepage table tr td a{
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #05b7f5;
    padding: 10px;
    text-decoration: none;
}
.showcodepage table tr td a:hover{
	color:#000;
	 background: none;
	  border: none;
	   padding: 10px;
    text-decoration: none;
}
/* End of Store CSS */
#ProfileHeadingDiv{
/*background: url("../images/add_textbg.png")scroll 9px center #4a484b;*/
  /*   border: 1px solid #ccc; */
     border-radius: 10px;
    color: #555;
    height: 5px;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 50px;
    width: 99%;
    
   /* box-shadow: 0 1px 2px 0 rgba(201, 167, 31, 0.5) inset, 0 1px 0 0 rgba(250, 250, 250, 0.3);*/
}
#ProfileHeadingDiv h1{
	
    color: steelblue;
    font-family: arial;
    font-weight: normal;
    text-decoration: none;
     /* text-transform: uppercase; */
     font-size: 14px;
     margin-top:0px;
    width: 100%;
}
.utirightside h1{
	 margin-top:8px !important;
}
.rightsideheader img{
	 float: right;
    margin-right: 38px;
    margin-top: -5px;
    position: absolute;
    right: 0;
}
.Historyinputbackbtn{
  background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: right;
    margin: -15px 0 15px;
    padding: 3px 10px;
  }
  .utivieweddocinput{
  border: 1px solid #ccc;
    border-radius: 5px;
    height: 31px;
    margin: 0 auto;
    width: 305px;
    padding-left: 10px;
  }
 #utimoduleinpu input[type="button"] {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    min-width: 90px;
    padding: 5px;
    top: 5px !important;
    transition: all 0.2s linear 0s;
    width: auto;
}
 #utimoduleinpu input[type="button"]:hover {
    background: none repeat scroll 0 0 #00bafc;
    color: #fff;
 }
.utimodule-body button{
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size:12px;
    font-weight: bold;
    margin-left:0px;
    min-width:60px;
    padding:3px;
    top: 5px !important;
    transition: all 0.2s linear 0s;
    width: auto;
}
.utimodule-body button:hover {
    background: none repeat scroll 0 0 #00bafc;
    color: #fff;
 }
.textwidth td{
	width:150px !important;
}
#websitelinkname{
	 margin-top: 2px;
}
#twitterlinkname{
	 margin-top: 2px;
}
#linkedlnlinkname{
	 margin-top: 2px;
}
/*  .kycdoc_button{

   height: 500px;
     width: 500px;
     
}
.kycdochover:hover{
	  background: none repeat scroll 0 0 #ccc;
height: 250px;
     width: 250px;
     z-index:500;
}
.kycdochover{
	  background: none repeat scroll 0 0 #00bafc;
height: 250px;
     width: 250px;
} */
.parentbgcolorone {
    background: -moz-linear-gradient(center bottom , #e8e8e8, #f5f5f5) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#profilePhotoPopContent img{
     height: auto;
     margin-top: 5px;
     max-width: 98%;
     max-height: 95%;
}
.datagrid{
	width:80%;
	 margin: 0 auto;
}
#kycDocPopUpDisplay img{
	padding:2px;
}
.freeplanbg{
	   background: url("../images/offer_plan_bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #fff !important;
    height: 130px;
    margin-left: 30px;
    margin-top: -80px;
    width: 100px;
}
/* .sidesearchbar b{
 height: 20px;
    position: relative;
     width: 100%;
} */
/* .topdivespan {
    display: table-footer-group;
    height: 25px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 500;
} */
.PANCARDAccordian{
	position:absolute;
	display:inline-table;
	display:-ms-page;
	position:-ms-page;
}

/*side tab button div */
.sidetabdiv {
   position: absolute;
    right:4px;
    top:-20px;
    width: 25px;
     display: inline-table;
     -webkit-margin-end: 11px;
}
.sidetabdiv ul{
	margin:0px;
	padding:0px;
}
.sidetabdiv li{
 float: left;
    margin-bottom: 15px;
    max-height: 100px;
    width: 25px;
	
}
/* 
.tab-defaultinput #current a::after {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
.tab-defaultinput a::after {
    background: linear-gradient(to bottom, #fff, #ddd) repeat scroll 0 0 #ddd;
    border-radius: 0 5px 0 0;
    bottom: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    right: -0.5em;
    top: 0;
    transform: skew(10deg);
    width: 1em;
    z-index: 1;
} */
.tab-defaultinput{
	background:linear-gradient(to top, #05b7f5 ,#1766a9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #1766a9;
    box-shadow: 2px -2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 31px;
    text-align: center;
    width: 80px;
    padding: 5px;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: normal;
}


.tab-defaultinput:hover{
	 background:linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
	  background: -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    box-shadow: 2px -2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 31px;
    text-align: center;
    width: 80px;
    padding: 5px;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color:#05b7f5;
}
.tab-clickedbtn {
    background: none repeat scroll 0 0 #ff1493;
    color: #ffffff;
}
.tab-defaultbtn {
   
    color: #fff;
    cursor: pointer;
    float: left;
    margin-left: 0;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: right bottom 0;
     -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}
/*side tab button div----End---*/


.utiacademicdetailsimg li {
	 background-color: #eee;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 6px 0 #888;
    display: inline-table;
  
    margin:0px 12px 0 auto;
    padding: 5px;
    text-align: left;
    float: left;
    margin-bottom: 18px !important;
    padding: 5px;
    width: 245px;
}
.utiacademicdetailsimg li img{
 border: 1px solid #666;
    border-radius: 10px;
    float: left;
    height: 150px;
    margin: 5px;
    width: 230px;
}
.utiacademicdetailsimg{
   border: 3px solid #ccc;
    border-radius: 0 0 5px 5px;
    height: auto;
    margin: 20px auto;
    min-height: 160px;
    overflow-x: hidden;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-top:0px;
    text-align: left;
    width: 98%;
}



.makeinHide
{
	background: none repeat scroll 0 0 #fff;    
    height: 100%; 
    opacity: 0.5;    
    width: 100%;
    z-index: 999;
}


.tab-defaultinputActive{
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f4f4f4, #e9e9e9) repeat scroll 0 0;
    border: 0px solid #1766a9;
    box-shadow: 2px -2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 31px;
    text-align: center;
    width: 80px;
    padding: 5px;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color: #05b7f5;
}


.tab-defaultinputActive:hover{
	background: rgba(0, 0, 0, 0) linear-gradient(to top, #05b7f5, #1766a9) repeat scroll 0 0;	 
    border: 0px solid #ccc;
    box-shadow: 2px -2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 31px;
    text-align: center;
    width: 80px;
    padding: 5px;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    color:#fff;
}

