.view {
 border: 0 solid #fff;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    float: left;
    height: 224px;
    margin-top: 22px;
    overflow: hidden;
    position: static;
    text-align: center;
    width: 207px;
    z-index: 0;
}

.utizoomview {
    background-image: url("../images/zoomicon.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 223px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.view .mask,.view .content {
  height: 223px;
    margin-left: 10px;
    overflow: hidden;
    position: absolute;
    top:0px;
    width: 196px;
}
.view .utimask,.view .content {
    height: 223px !important;
    margin-left: 11px;
    overflow: hidden;
    position: absolute;
    top: -25px !important;
    width: 196px !important;
}
.user_photoupload span img{
width: 212px;
height: 223px;
margin-left: 0;
}

.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
   width:100px;
   margin-top: 120px;
}

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 5px 5px;
   background: #222;
   color: #fff;
   text-transform: normal;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   float:right;
  
   
}
.view a.info:hover{
   display: inline-block;
   text-decoration: none;
   padding: 5px 5px;
   background: #05b7f5;
   color: #fff;
   text-transform: normal;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
    float:right;
    
}

.change{
	
   background: none repeat scroll 0 0 #222;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    float: left;
    height: 16px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 72px;
	margin-top:60px;
}
.change:hover{
	
   background: none repeat scroll 0 0 #05b7f5;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    float: left;
    height: 16px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 72px;
	margin-top:60px;
}
.change input{
	width:83px;
	 cursor: pointer;
	  opacity: 0;
	  color:#fff;
	      height: 25px;
    margin-left: -5px;
    margin-top: -18px;
}
.change input:hover{
	 color: #fff;
    cursor: pointer;
    width: 83px;
    z-index: 100;
    height: 25px;
     margin-left: -5px;
    margin-top: -18px;
     opacity: 0;
}

.view a.info: hover {
	 background-color: #05b7f5 !important;
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #05b7f5;
}

#textBox{
	 margin-top: 25px;
}
#profilePhotoDiv{
	z-index:500;
}
.view a.infosave{
	 display: inline-block;
   text-decoration: none;
   padding: 5px 5px;
   background: #222;
   color: #fff;
   text-transform: normal;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   float:right;
   height: 16px;
    margin-left: 15px;
    width: 54px;
}
.view a.infosave:hover{
	 display: inline-block;
   text-decoration: none;
   padding: 5px 5px;
   background: #05b7f5;
   color: #fff;
   text-transform: normal;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   float:right;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(219,127,8, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
     z-index: 55;
     margin-top: 45px;
}
.zoomview{
    background-image: url("../images/zoomicon.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 223px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
  /* 	
 background-image: url("../images/zoomicon.png");
    height: 35px;
    margin-top: 0px;
    position: absolute;
    width: 35px;
    cursor: pointer;
    right:0px;
  -webkit-margin-start: 0 !important;
     -moz-margin-left:-80px !important;
       -ms-margin-left:80px !important; */
     
}
#editbasicdetail{
	height:100%;
	width:100%;
	
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
/* .view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
} */
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
    margin-top: 47px;
    marign-left: 0;
}



.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}


/* #searchhomepage{
	float: right;
	  display: -webkit-flex; Safari
    -webkit-flex-direction: row-reverse; Safari 6.1+
  display: inline-table !important;
	  display:-webkit-box;
   border-radius: 5px;
    display: inline-table;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 44% !important;
    z-index: 33;
} */
/* .searchhomepage h1{

    border-radius: 0px;
    color: red;
    font-size: 16px;
    height: 30px;
    margin: 0px auto 0;
    padding-top: 5px;
    vertical-align: middle;
    width: 44% !important;
} */
#searchhomepage h1{
 
  background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    color: #777;
    font-size: 14px;
    height: 30px;
    left: 0;
    margin: 0 auto;
    padding-top: 5px;
    position: relative;
    text-align: center;
    top: 0px;
    vertical-align: middle;
    width: 386px;
   /*  border-radius: 0;
    color: red;
    font-size: 16px;
    height: 30px;
    margin:0px auto 0;
    padding-top: 5px;
    margin-left: 30px;
    top: 0;
    vertical-align: middle;
    width:100%; */
}
.searchhomepage {
    border-radius: 5px;
    display: inline-table;
    float: right;
    height: auto;
    margin: 5px auto 0;
    overflow: auto;
    position: relative;
    width: 45% important;
    z-index: 33;
}
#searchhomepage ul {
	marign:0;
	padding:0;
	argin-top: 1px;
}
#visitorContent ul li{
	   border-bottom: 1px solid #ccc;
    height: 61px;
    margin:5px auto 10px;
    padding: 5px;
    width: 600px;
    margin-bottom:5px;
}

#visitorContent {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:auto;
    margin: 40px auto 0;
    overflow-x: hidden;
    position: relative;
    width: 80%;
    z-index: 100;
   /*  max-height:350px; */
    max-height: 680px;
}

#visitorContent ul{
	margin:0px;
	padding:0px;
}
 #visitorContent ul li{
color: #00b6f5 !important;
 
 }
 #visitorContent ul li:hover{
  background-color:#00b5f6;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    height:61px;
    margin:5px auto;
    padding: 5px;
    width: 600px;
     cursor: pointer;
     color:#fff !important;
        margin-bottom:5px;
 }
#searchhomepage ul li{
	  /*   border-bottom: 1px solid #ccc;
    height: 25px;
    margin: 0 auto;
    padding: 5px 5px 14px;
    width: 435px; */
 
    border-bottom: 1px solid #ccc;
    color: #00b6f5 !important;
    height: 25px;
    margin: 0 auto;
    padding: 5px 5px 14px;
    width: 316px
 
}
 #searchhomepage ul li:hover{
   /*  background-color:#efefef;
    border-bottom: 1px solid #ccc;
    height: 25px;
    margin: 0 auto;
    padding: 5px 5px 14px;
    width:435px;
     cursor: pointer;
     color:#fff !important; */
     
     
      color:#fff !important;
   * background-color:#ccc;
    border-bottom: 1px solid #ccc;
    height: 25px;
    margin: 0 auto;
    padding: 5px 5px 14px !important;
    width: 316px;
     cursor: pointer;
     color:#fff !important;
    *background-color:#1f5f9f;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    
  * margin-top: 7px !important;
  *padding-top:7px !important;
  
  
 /* ///////////////*/
/*  background: rgb(30,87,153); Old browsers
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); FF3.6+
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); Chrome,Safari4+
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); Chrome10+,Safari5.1+
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); Opera 11.10+
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); IE10+
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); W3C
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); IE6-9
 
  */
  background-color:#00b5f6;
 }
 .profiledesign::before {
    background: none repeat scroll 0 0 #87ceeb;
    border: 0.3em solid #fff;
    border-radius: 2em;
    content: counter(li, decimal);
    counter-increment: li;
    font-weight: bold;
    height: 2em;
    left: -1.3em;
    line-height: 2em;
    margin-top: -1.3em;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease-out 0s;
    width: 2em;
}
.profiledesign {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 0.3em;
    color: #444;
    display: block;
    margin: 0.5em 0;
    padding: 0.4em 0.4em 0.4em 2em;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
#searchhomepage ul li span{
	margin: 0 auto;
	 padding: 10px;
}
#searchhomepage ul li img{
	 float: left;
    margin-right: 2px;
    margin-top: 0 !important;
    border-radius: 5px;
}
.namedeatils-photo img{
	width:35px !important;
	height:35px !important;
}
#searchhomepage ul li span input{
 background-color: #ebebeb;
    border: 1px solid #000;
    color: #4c4a4d;
    cursor: pointer;
   float: right;
    margin: 35px auto 0;
    width: 100px;
    background-image:linear-gradient(rgba(150, 189, 254, 0), #ebebeb);
      padding: 5px;
      border-radius: 5px;
}
#searchhomepage ul li span input:hover{
 background-color: #ebebeb;
    border: 1px solid #000;
    color: #4c4a4d;
    cursor: pointer;
   float: right;
    margin: 35px auto 0;
    width: 100px;
    background-image:linear-gradient(rgba(150, 189, 254, 0), #ccc);
      padding: 5px;
      border-radius: 5px;
}

.white_content {
	display: none;
	position: fixed;
	top: 12%;
	left: 25%;
	width: 50%;
	padding: 16px;
   border: 2px solid #03b2ee;
    border-radius: 5px;
	background-color: white;
	z-index:1002;
	 height: auto !important;
	 text-align: left;
	
 
}
.termsscroll{
max-height: 350px;
    overflow-x: hidden;
    padding: 5px;
    text-align: justify;
    width: 100%;
}
.termsscroll p{
    margin-bottom: 15px;
    overflow-y: scroll;
 	overflow: hidden;
 	 text-align: justify;
}
.termsscroll h3{
color: #00b5f6;
    font-size: 16px;
  
}

.white_content h1{
	text-align: left;
	  color: #1766a9;
	   margin: 0;
}
#searchhomepage ul li span b{
	min-width:50px;
	width:auto;
}
.namedeatils{
	 float: left;
    width: 300px;
      margin-top: 0;
}
.white_contentaccept {
    background: none repeat scroll 0 0 #333;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px 0 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
}
.white_contentaccept:hover {
	 background: none repeat scroll 0 0 #03b2ee;
	 color:#fff;
}
.white_contentdontaccept {
    background: none repeat scroll 0 0 #333;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px 0 0;
    min-width: 90px;
    padding: 5px;
    transition: all 0.2s linear 0s;
    width: auto;
      height: 30px;
}
.white_contentdontaccept:hover {
	 background: none repeat scroll 0 0 #03b2ee;
	 color:#fff;
}






.aboutUsContent {
	display: none;
	position: absolute;
	top: 12%;
	left: 25%;
	width: 50%;
	padding: 0px;
   border: 2px solid #03b2ee;
    border-radius: 5px;
	background-color: white;
	z-index:1002;
	 height: auto !important;
 
}

.white_content h1{
	text-align: left;
	  color: #1766a9;
	   margin: 0;
}

#searchhomepage ul li span b{
	min-width:50px;
	width:auto;
}

.namedeatils{
	 float: left;
    width: 260px;
      margin-top: 0;
}
.namedeatils:hover{
	 float: left;
    width: 260px;
      margin-top: 0;
      color:#fff !important;
}
.namedeatils p{
	
	float: left;
    font-family: Titillium;
    font-weight: bold;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    width: 260px;
  
}
.namedeatils span{
	 color: #4a484b;
    float: left;
    font-family: Titillium;
    font-weight: normal;
    margin-left: 20px !important;
    padding: 0 !important;
    text-align: left;
    width: 260px;
/*      margin-top: -15px !important; */
}
.namedeatils p strong{
	margin:5px;
	color:#000;
}
.namedeatils p b{
	margin:5px;
	color:#000;
}
.namedeatils-button{
	  margin-right: 20px;
    width: 100px;
       float: right;
}
.namedeatils-photo{
  height: 25px !important;
    text-align: center;
    width:25px !important;
    float:left;
}
.namedeatils-button input{
	 /* background: url("../images/connect_icon.png") no-repeat scroll 0 0 #ebebeb; 
	 padding: 2px 2px 2px 24px;
	 */
    border: 1px solid #898989;
    border-radius: 5px;
    color: #4a484b;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 7px 0px 0 0;
    min-width:70px;
    transition: all 0.2s linear 0s;
    width: auto;
    padding: 2px;

}
.namedeatils-button input:hover{
/* 	background: url("../images/connect_icon_hover.png") no-repeat scroll 0 0 #00B6F5;
	
	    padding: 2px 2px 2px 24px; */
	    background:#00B6F5;
	    margin:7px 0px 0 0;
    border: 1px solid #898989;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    min-width: 70px;
    transition: all 0.2s linear 0s;
    width: auto;
    padding: 2px;

}

/*UTI PROFILE PHOTO CSS  */	
.utichange{
	
   background: none repeat scroll 0 0 #222;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    float: left;
    height: 16px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 72px;
	margin-top:60px;
}
.utichange:hover{
	
   background: none repeat scroll 0 0 #05b7f5;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    float: left;
    height: 16px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 72px;
	margin-top:60px;
}
.utichange input{
	width:83px;
	 cursor: pointer;
	  opacity: 0;
	  color:#fff;
	      height: 25px;
    margin-left: -5px;
    margin-top: -18px;
}
.utichange input:hover{
	 color: #fff;
    cursor: pointer;
    width: 83px;
    z-index: 100;
    height: 25px;
     margin-left: -5px;
    margin-top: -18px;
     opacity: 0;
}
.utiuser_display {
    position: relative;
    top:0px;
}
 #utiRightSideDivId .module-body {
	border: 1px solid #cccccc;
    border-color: #ccc;
    border-image: none;
    border-radius: 5px;
    border-width: 1px;
    display: inline-table;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 860px;
}
.utimain{
 clear: both;
    height: 100%;
    margin: 0 auto;
    min-height: 425px !important;
    position: relative;
    width: 100%;
}	


/*------*/
#left-profile-div { 
  width:263px; 
   height:490px; 
 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left;
   overflow: auto;
}

#center-body-div { 
  background-color: rgba(0, 0, 0, 0);
 
    border-color: #66CCFF;
    border-style: solid;
    border-width: 0;
    height: auto;
    margin: 0;
    width:100%;
      position: relative;
   
}

#right-add-div { 
  width:170px; 
   height:508px; 
 
   border-style:solid;
   background-color: transparent;
   border-width:0px;
   border-color:#66CCFF;
   float:left
}
.ui-accordion-header-icon ui-icon ui-icon-triangle-1-e {
	
	float:right;
	width:100%:
}

#logincontainer{
	 clear: both;
    float: right;
    height: auto;
    margin: 0 auto;
    width: auto;
}
#loginContainer {
     float: right;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 10px;
    position: relative;
    /*width: 25%;*/
    z-index: 500;
    height:auto;
    
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#4a484b; 
    border:1px solid #4a484b; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
      text-decoration: none;
      color:#fff; 
         margin-top:-60px;
          font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight:normal;
    width: auto;
}
#loginButton:hover {
    background:#4a484b;
    color:#05b7f5; 
     display:inline-block;
    float:right;
    border:1px solid #4a484b; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
      text-decoration: none;
   
         margin-top: -60px;
          font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight:normal;
    width: auto;
}
/* Login Button Text */
#loginButton a {
	float:left;
}
#loginButton span {

    background:url(../kyc_images/loginArrow.png) no-repeat 12px 9px;
     font-size:14px; 
    font-weight:bold;    
     display:block;    
    height: 34px;
        width:35px;
   float: right;
     margin-right: 10px;
   
}
#loginButton em {
   display: block;
    font-size: 14px;
    font-weight: normal;
    height: 25px !important;
    margin-right: 4px;
    padding-top: 10px;
    width: 100%;
    float:right;
    width:auto;
  
}

#loginButton em:hover {
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 25px !important;
    margin-right: 4px;
    padding-top: 10px;
    width: auto;
}


/* Login Box */
#loginBox {
 display: none;
    position: absolute;
      right: 15px;
    top: -64px;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:12px -72px;
      margin-right: 10px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    
    height:1px;
    background:#4a484b;
    bottom:-1px;
    
}

/* Login Form */
#loginForm {
	 background-color: #4a484b;
    border: 1px solid #ccc;
    border-radius: 3px 0 3px 3px;
    margin-top: 46px;
    padding: 5px;
    width: auto;
}
#loginForm a {
text-decoration: none;
}
#loginForm select{
-webkit-appearance: menulist-button !important;
}
.companydetails h1 span{
 border-color: transparent transparent #05b7f5;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top: -17px;
    width: 0;
    z-index: 100;
}
#titleBar b{

   border-bottom: 10px solid transparent;
    border-right: 10px solid  #4a484b;
    border-top: 10px solid transparent;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top:10px;
    width: 0;
    z-index: 100;
    padding:0px;
    left: -10px;
}


.uparrowspan{
 border-color: transparent transparent #4a484b;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    float: left;
    height: 0;
    position: relative;
    top: -17px;
    width: 0;
    z-index: 100;
}
#loginBox span{
 border-color: transparent transparent #cccccc;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 36px;
    width: 0;
    z-index: 100;
}

#loginForm fieldset {
    margin:0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../kyc_images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:1px 5px 2px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}
#texteditediv{
	  display:-moz-grid !important;
  margin: 0 auto;
    min-height: 200px !important;
    padding-right: 0;
    width: 840px;
    word-wrap: break-word;
     
}

#texteditediv li{
	width:755px;
}
#aboutUslight h2 u{
text-decoration: none;
}
#aboutUsContent{
 	height: 350px;
    margin-bottom: 10px;
    overflow-x: hidden;
    padding-bottom: 10px;
    width: 100%;
    overflow-y: scroll;
    	max-height:350px;
}

#aboutUsContent p{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
#myArea1 p {
    margin-right: 50px;
}