/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;

}

img#close{
    
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: -88px;
    
}

div#popupContact{
	
	position: absolute; 
	left: 50%;
	top: 17%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;

}

form#domainForm{
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    height: auto;
    margin-left: -93px;
    margin-top: -75px;
    max-width: 542px;
    min-width: 271px;
    padding: 10px 50px;
}

p{
margin-top:15px;
}

h3{
    background-color: #00bafc;
    border-radius: 10px 10px 0 0;
    margin: -10px -50px;
    padding: 20px 35px;
    text-align: center;
}

hr{
margin: 10px -50px;
border: 0; 
border-top: 1px solid #ccc;
}
 
#submit{
    background-color: #00bafc;
    border: 1px solid #000000;
    border-radius: 11px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin-left: 190px;
    margin-top: 10px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

button{
    background-color: black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
}

/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/


/*
-----------------------------------------------------------------
css for domain pop table
------------------------------------------------------------------
*/

#table1 {
	width: 500px;
	font-size: .80em;
	font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #00bafc;
}


#table1 th {
	background-color: #00bafc;
	border-bottom: 1px solid #00bafc;
	border-top: 1px solid #00bafc;
	height: 29px;
	padding-left: 10px;
	text-align: left;
	color: #666;
}


#table1 td {
	border-bottom: 1px solid #eee;
	padding-left: 10px;
}


#table1 tr {
	cursor: pointer;
	height: 2px;
	"
}

/*-----------------------------------------------------------------
EOF css for domain pop table
------------------------------------------------------------------*/