/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/

#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;
display: none;
position: fixed;			
background-color: #313131;
overflow:auto;

}

img#close{
position: absolute;
right: -14px;
top: -14px;
cursor: pointer;
}

div#popupContact{
/* position: absolute;  */
font-family: 'Raleway', sans-serif;
}

form#domainForm{
    font-family: raleway;
    margin:0 auto 15px;
    max-width: 762px;
    min-width: 271px;
    text-align: center;
}

p{
margin-top: 14px;
}

h3{
 /*    background-color: #00bafc; */
    border-radius: 0;
    margin:0 -42px;
    padding: 2px 24px;
    text-align: center;
}

hr{
margin: 10px -50px;
border: 0; 
border-top: 1px solid #ccc;
}
 
#submit{
     background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
#submit:hover{
    background-color: #00bafc;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
button{
width:10%;
height:45px;
border-radius:3px;
background-color: ;
color:white;
font-family: 'Raleway', sans-serif;
font-size:12px;
cursor:pointer;
}

/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/


/*
-----------------------------------------------------------------
css for domain pop table
------------------------------------------------------------------
*/

#table1 {
	 background: none repeat scroll 0 0 #fff;
	   border-collapse: collapse;
	width: 800px;
	font-size: .80em;
	font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	color: #00bafc;
	 border:2px solid #ccc;
    border-radius: 0;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 63%;
    margin: 0 auto;
     box-shadow:0 0 5px 3px #e8e8e8;
	
}

.parentbgcolorone{
	
	 background: -moz-linear-gradient(bottom, #e8e8e8, #f5f5f5);
}
.parentbgcolortwo{
	
	 background: -moz-linear-gradient(bottom, #e8e8e8, #f5f5f5);
}
#table1 th {
   background-color: #1f5f9f;
    border-color:#ccc #ccc #ccc transparent;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 14px;
    height: 30px !important;
    text-align: center !important;
}


#table1 td {
	border: 1px solid #1f5f9f;
	padding-left: 10px;
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}


#table1 tr {
 border: 0 none;
    border-collapse: collapse;
    cursor: pointer;
    height: 0px;
}

/*-----------------------------------------------------------------
EOF css for domain pop table
------------------------------------------------------------------*/