
/*success message*/
.successbox {
	background:#e9ffd9;
	    border: 1px solid #a6ca8a;
    border-radius: 10px;
    height: 100px;
    margin: 150px auto;
    text-align: center;
    width: 400px;
 }
.successbox p{
	   color: #555;
    font-size: 20px;
    margin: 36px 0 0;
	}
	
#closebtn {
    background-image:url(../images/close_button.png);
    background-repeat: no-repeat;
    border: medium none;
    float: right;
    height: 25px;
    margin-right: -15px;
    margin-top: -15px;
    width: 25px;
}


/* #socialfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#sociallight{

    background: none repeat scroll 0 0 #fff;
    border-radius: 24px;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: auto;
    z-index: 1002;
}

 */
 
 
 #socialdisplaySharedDocDiv{

	text-align:center;
	margin-top:27px;
	width:auto;
	margin-left:-99px;						
	color:#555;
	border-radius:24px;	
	padding:7px 12px; 
	margin:0 auto;					
						
}