.kycloader {
  margin: 0em auto;
  font-size: 8px;
  position: relative;
  border-top:5px solid rgba(0, 0, 0, 0.2);
  border-right:5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid  rgba(32, 170, 229, 0.95);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
 
}
.kycloader,
.kycloader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


#signupwaitingId
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#signupwaitingContentId
{
    background: none repeat scroll -13px 0 #fff;
    border-radius: 24px;
    height: auto;
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: auto;
    z-index: 1037;
}



#waitingdivId
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#waitingdivContentId
{
    background: none repeat scroll -13px 0 #fff;
    border-radius: 24px;
    height: auto;
    left: 50%;
    margin-left: -173px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: auto;
    z-index: 1037;
}



#successfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#successlight{
   background: none repeat scroll 0 0 #fff;
    border: 2px solid #00b6f5;
    display: none;
    height: 46px;
    left: 50%;
     border-radius: 5px;
    margin-left: -272px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 564px;
    z-index: 1002;
}
.successmassage{
   background: none repeat scroll 10px 50% yellowgreen;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 6px auto;
    padding: 7px 12px;
    text-align: center;
    width: 536px;
}
.successmassage_climge{
margin-left:560px;margin-top:-22px;
}

.footerpage_links {
      margin-top: -10px;
    position: absolute;
    right: -10px;
    z-index: 1000;
}
.footerpageblogin_links {
    margin-top: -12px;
    position: absolute;
    right: -10px;
    z-index: 1000;
}
.footerpageinn_links {
    margin-top:15px;
    position: absolute;
    right: -10px;
    z-index: 1000;
}

#kycdivlight h2 {
    background: none repeat scroll 0 0 #333;
    margin-top: 5px;
    padding: 5px;
}
#kycdivfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#kycdivlight{
  background: none repeat scroll 0 0 #fff;
   border: 2px solid #05b7f5;
    border-radius: 5px;
    display: none;
    height: auto;
    left: 50%;
    margin-left: -363px;
    margin-top: -108px;
    overflow: visible;
    padding:0px;
    position: fixed;
    text-align: justify;
    top: 25%;
    width: 800px;
    z-index: 1002;
    color: #555;
}
.popuptext{
	 padding-left: 15px;
    padding-right: 15px;
    text-align:justify;
    font-size: 14px;
}
.popheaderstyle{ 
 background: none repeat scroll 0 0 #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #00b6f5;
    font-size: 16px;
    height: 30px;
    margin-top: 0;
    padding: 7px 0 0;
    text-align: center;
    width: 100%;
}
.popheaderstyle h1{
    color: #00b6f5;
    font-size: 14px;

    margin:0 15px;
    padding:0px;
    text-align: left;

}





.termsStyle{ 
    background: none repeat scroll 0 0 #333;
    color: #00b6f5;
    font-size: 16px;
    height: 30px;
    margin-left: -17px;
    margin-top: -16px;
    padding: 7px 0 0;
    text-align: center;
    width: 105%;
}
.termsStyle h1{
    color: #00b6f5;
    font-size: 14px;
    margin:0 15px;
    padding:0px;
    text-align: left;

}


/* #aboutUslight h1 {
 background: none repeat scroll 0 0 #333;
    color: #00b6f5;
    font-size: 16px;
    height: 20px;
    margin: 0;
    padding: 5px;
    text-align: left;
    width: 99%;
} */
.frofilepic_closebtn {
    margin-top: 15px;
    position: absolute;
    right: -10px;
    z-index: 1000;
}




#socialfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#sociallight{
	
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #00b6f5;
    display: none;
    height: 46px;
    left: 50%;
     border-radius: 5px;
    margin-left: -272px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
      position: fixed;
    top: 50%; 
    width: 564px;
    z-index: 1002;
     right: -10px;  
}


#sessionfade{

    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#sessionlight{

    background: none repeat scroll 0 0 #fff;
    border: 2px solid #00b6f5;
    display: none;
    height: 46px;
    left: 50%;
     border-radius: 5px;
    margin-left: -272px;
    margin-top: -108px;
    overflow: visible;
    padding: 10px;
      position: fixed;
    top: 50%; 
    width: 564px;
    z-index: 1002;
     right: -10px;  
}

#sessiondisplaySharedDocDiv
{
	background: none repeat scroll 10px 50% #e3f7fc;
	border-radius: 24px;
    color: #555;
    margin: 0 auto;
    padding: 7px 12px;
    text-align: center;
    width: auto;
}


#sessionlight input {
   background-color: #333;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 492px !important;
    margin-top: 1px;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    width: 38px;
    z-index: 100;
}



#sessionlight input:hover{
	 background-color: #00bafc;
    color: #fff;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 492px !important;
    margin-top: 1px;
    padding: 0px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width: 38px;
          vertical-align: middle;
}



.socialdisplaySharedDocDiv{
    
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 6px auto;
    padding: 7px 12px;
    text-align: center;
    width: 536px;
}


.button_style
{
	float:right;
}

/* New Css for Ajax loader */

#circular3dG{
    height: 40px;
    margin-bottom: 5px;
    margin-top: -22px;
    position: relative;
    width: 40px;
}

#logoDiv
{
position:relative;
margin-right: 126px;
width:75px;
height:75px;
}

.circular3dG{
position:absolute;
background-color:#00b6f5; 
/* background-color:#777; */
width:11px;
height:11px;
-moz-border-radius:12px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:12px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:12px;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:12px;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:12px;
animation-name:bounce_circular3dG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circular3d_1G{
left:16px;
top:3px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circular3d_2G{
left:24px;
top:9px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circular3d_3G{
left:29px;
top:18px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circular3d_4G{
left:28px;
top:27px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circular3d_5G{
left:17px;
top:29px;
-moz-animation-delay:0.9099999999999999s;
-webkit-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
animation-delay:0.9099999999999999s;
}

#circular3d_6G{
left:3px;
top:19px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circular3d_7G{
left:0px;
top:6px;
-moz-animation-delay:1.1700000000000002s;
-webkit-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
animation-delay:1.1700000000000002s;
}

#circular3d_8G{
left:7px;
top:0px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

} 

/* End of Css for Ajax Loader */
#sociallight input{
 background-color: #333;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    padding: 0;
    position: absolute;
    text-decoration: none;
    vertical-align: bottom;
    width: 30px;
    z-index: 100;
}
#sociallight input:hover{
 background-color: #00bafc;
 color:#fff;
}
/* #sociallight input{
	  background-color: #333;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 788px !important;
    margin-top:13px;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    width: 30px;
    z-index: 100;
}
#sociallight input:hover{
	 background-color: #00bafc;
    color: #fff;
     border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 788px !important;
    margin-top: 13px;
    padding: 0px;
    position: relative;
    z-index: 100;
     text-decoration: none;
       width: 30px;
          vertical-align: middle;
}

 */
#successlight  input{
	  background-color: #333;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 788px !important;
    margin-top:13px;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    width: 30px;
    z-index: 100;
}

#successlight input:hover
{	
	background-color: #00bafc;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-left: 788px !important;
    margin-top: 13px;
    padding: 0px;
    position: relative;
    z-index: 100;
    text-decoration: none;
    width: 30px;
    vertical-align: middle;
}

.sendmoreButton
{
	background-color: #333;
    border: 0 none ;
    color: #fff ;
    cursor: pointer;
    font-family: "BebasNeueRegular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4px !important;
    margin-top: 25px;
    padding: 0;
    position: relative;
    text-decoration: none;
    vertical-align: inherit;
    width: 30px;
    z-index: 100;
}

#kycdivlight h3
{
	color:#00b5f6;!important;
	font-size: 16px;
	margin-left:15px !important;
}

#profilePhotoChangefade
{
    display:none;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

#profilePhotoChangelight
{
    background: none repeat scroll 0 0 white;
    border: 2px solid #05b7f5;
    border-radius: 10px;
   /*  height: 173px; */
    height: auto;
    left: 40%;
    margin-left: -132px;
    margin-top: -220px;
    position: fixed;
    top: 68%;
    width: 550px;
    z-index: 30000;
    display:none;
}


.noti_bubble 
{
    background-color: red;
    border-radius: 52px;
    box-shadow: 2px 2px 2px gray;
    color: white;
    font-weight: bold;
    margin-top: 64px;
    min-width: 19px;
    padding: 3px !important;
    position: absolute;
    right: 38px;
    text-align: center;
    top: -8px;
    width: auto;
}


.noti_bubble_left 
{
    background-color: yellowgreen;
    border-radius: 52px;
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 189px;
    margin-top: 55px;
    padding: 5px 9px;
    position: absolute;
    text-align: center;
    top: -44px;
    width: auto;
    box-shadow: 2px 2px 3px gray;
}

.noti_bubble_right 
{
    background-color: red;
    border-radius: 52px;
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 97px;
    margin-top: 64px;
    padding: 5px 9px;
    position: absolute;
    text-align: center;
    top:-44px;
    width: auto;
    
}

.textNotify_left
{
	color:#00b6f5;
	font-weight: bold;
	 width: 10px;
	 font-size: 22px;
}
